BDLE 2021

date du document  :  07/10/2021 17:37

# PROJET DM1 : IMDB et YAGO (avec COLAB)


Mini-projet sur la restructuration de données et l'analyse de données.
Voir le moodle pour la date de remise et éventuelles précisions sur le travail à faire.

## Préparation

Vérifier que des ressources de calcul sont allouées à votre notebook est connecté (cf RAM  de disque indiqués en haut à droite) . Sinon cliquer sur le bouton connecter pour obtenir des ressources.

Pour accéder directement aux fichiers stockées sur votre google drive

Ajuster le nom de votre dossier : MyDrive/ens/bdle/DM1

In [ ]:
# import os
# from google.colab import drive
# drive.mount("/content/drive")

# drive_dir = "/content/drive/MyDrive/ens/bdle/DM1"
# os.makedirs(drive_dir, exist_ok=True)
# os.listdir(drive_dir)

In [ ]:
drive_dir = "/content/DM1"

Installer pyspark et findspark :

In [ ]:
!pip install -q pyspark
!pip install -q findspark

     |████████████████████████████████| 212.4 MB 62 kB/s
     |████████████████████████████████| 198 kB 52.0 MB/s
  Building wheel for pyspark (setup.py) ... done

Démarrer la session spark

In [ ]:
import os
# !find /usr/local -name "pyspark"
os.environ["SPARK_HOME"] = "/usr/local/lib/python3.7/dist-packages/pyspark"
os.environ["JAVA_HOME"] = "/usr"

In [ ]:
# Principaux import
import findspark
from pyspark.sql import SparkSession 
from pyspark import SparkConf  

# pour les dataframe et udf
from pyspark.sql import *  
from pyspark.sql.functions import *
from pyspark.sql.types import *
from datetime import *

# pour le chronomètre
import time

# initialise les variables d'environnement pour spark
findspark.init()

# Démarrage session spark 
# --------------------------
def demarrer_spark():
  local = "local[*]"
  appName = "TP"
  configLocale = SparkConf().setAppName(appName).setMaster(local).\
  set("spark.executor.memory", "6G").\
  set("spark.driver.memory","6G").\
  set("spark.sql.catalogImplementation","in-memory")
  
  spark = SparkSession.builder.config(conf = configLocale).getOrCreate()
  sc = spark.sparkContext
  sc.setLogLevel("ERROR")
  
  spark.conf.set("spark.sql.autoBroadcastJoinThreshold","-1")

  # On ajuste l'environnement d'exécution des requêtes à la taille du cluster (4 coeurs)
  spark.conf.set("spark.sql.shuffle.partitions","4")    
  print("session démarrée, son id est ", sc.applicationId)
  return spark
spark = demarrer_spark()

session démarrée, son id est  local-1633864059187

In [ ]:
# on utilise 8 partitions au lieu de 200 par défaut
spark.conf.set("spark.sql.shuffle.partitions", "8")
print("Nombre de partitions utilisées : ", spark.conf.get("spark.sql.shuffle.partitions"))

Nombre de partitions utilisées :  8

In [ ]:
# Optionnel :
# pour l'accès à spark UI : voir https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/
# !wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
# !unzip ngrok-stable-linux-amd64.zip
# get_ipython().system_raw('./ngrok http 4050 &')
# !curl -s http://localhost:4040/api/tunnels

Redéfinir la fonction **display** pour afficher le resutltat des requêtes dans un tableau

In [ ]:
import pandas as pd
# Alternative to Databricks display function.
def display(df, n=100):
  pd.set_option('max_columns', None)
  pd.set_option('max_colwidth', None)
  return df.limit(n).toPandas().head(n)

In [ ]:
pd.set_option('display.max_colwidth', 80)
pd.set_option("display.max_rows", None, "display.max_columns", None)

Définir le tag **%%sql** pour pouvoir écrire plus simplement des requêtes en SQL dans une cellule

In [ ]:
from IPython.core.magic import (register_line_magic, register_cell_magic, register_line_cell_magic)

@register_line_cell_magic
def sql(line, cell=None):
    "To run a sql query. Use:  %%sql"
    val = cell if cell is not None else line
    tabRequetes = val.split(";")
    for r in tabRequetes:
        if len(r) > 2:
          derniere = spark.sql(r)
    return display(derniere)

## Accès aux données

URL pour accès aux datasets

In [ ]:
# URL du dossier PUBLIC_DATASET contenant des fichiers de données pour les TP
# ---------------------------------------------------------------------------
# en cas de problème avec le téléchargement des datasets, aller directement sur l'URL ci-dessous
PUBLIC_DATASET_URL = "https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4" 
PUBLIC_DATASET=PUBLIC_DATASET_URL + "/download?path="

print("URL pour les datasets ", PUBLIC_DATASET_URL)

URL pour les datasets  https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4

#### IMDB
Télécharger les fichiers de IMDB directement sur le cluster databricks, sans passer par votre ordinateur personnel.

##### Sample: échantillon de la base IMDB

In [ ]:
import os
from urllib import request
import tarfile

imdb_dir = drive_dir 

url = PUBLIC_DATASET + "/imdb/vldb2015/csvfiles_sample001.tgz"
# temp = "/temp"
local_file = imdb_dir + "/csvfiles_sample001.tgz"

os.makedirs(imdb_dir, exist_ok=True)

if(os.path.isfile(local_file)):
  print("file is already downloaded")
else:
  print("downloading from URL: ", url, "save in : ", local_file)
  request.urlretrieve(url, local_file)
  os.chdir(imdb_dir)
  tar = tarfile.open(local_file)
  tar.extractall()
  tar.close()

# Liste des fichiers de IMDB
dir = imdb_dir + "/csvfiles_sample001/"
os.listdir(dir)

downloading from URL:  https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4/download?path=/imdb/vldb2015/csvfiles_sample001.tgz save in :  /content/DM1/csvfiles_sample001.tgz

['role_type.csv',
 'company_name.csv',
 'info_type.csv',
 'movie_companies.csv',
 'kind_type.csv',
 'name.csv',
 'company_type.csv',
 'movie_info.csv',
 'cast_info.csv',
 'person_info.csv',
 'title.csv']

##### Données complètes: name_all et title_all
Télécharger le fichier complet des noms de personnes et les titres de films

In [ ]:
import os
def load_IMDB_file(file):
  if(os.path.isfile( imdb_dir + "/" + file)):
    print(file, "is already stored")
  else:
    url = PUBLIC_DATASET + "/imdb/vldb2015/csvfiles/" + file
    print("downloading from URL: ", url, "save in : " + imdb_dir + "/" + file)
    request.urlretrieve(url , imdb_dir + "/"  + file)

load_IMDB_file("name.csv.gz")
load_IMDB_file("title.csv.gz")

# Liste des fichiers de IMDB
os.listdir(imdb_dir)

downloading from URL:  https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4/download?path=/imdb/vldb2015/csvfiles/name.csv.gz save in : /content/DM1/name.csv.gz
downloading from URL:  https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4/download?path=/imdb/vldb2015/csvfiles/title.csv.gz save in : /content/DM1/title.csv.gz

['csvfiles_sample001.tgz', 'csvfiles_sample001', 'name.csv.gz', 'title.csv.gz']

In [ ]:
# name_all

schema_name = """
  id int,
  name string,
  imdb_index string,
  imdb_id int,
  gender string,
  name_pcode_cf string,
  name_pcode_nf string,
  surname_pcode string,
  md5sum string
"""

name_all = spark.read.csv(path = imdb_dir + "/name.csv.gz", schema = schema_name)
display(name_all)

,id,name,imdb_index,imdb_id,gender,name_pcode_cf,name_pcode_nf,surname_pcode,md5sum
0,3343,"Abela, Mike",None,NaN,m,A1452,M214,A14,61f733c0298a7cb5a461fd787a655d70
1,446,"A., David",None,NaN,m,A313,D13,A,cf45e7b42fbc800c61462988ad1156d2
2,126,"-Alverio, Esteban Rodriguez",None,NaN,m,A4162,E2315,A416,f5c410bff6839b545d04c531f776e8f2
3,1678,"Abbas, Athar",None,NaN,m,A1236,A3612,A12,cf230f6ed718a330dc688c20b8d741d3
4,3610,"Aberer, Leo",None,NaN,m,A164,L16,A16,05684f16b84db387e613d3de57eca5b7
5,506,A.J.,II,NaN,m,A2,None,None,c63baf59b537e471b6ec4b68c5d1373e
6,465,"A., Narayana Rao",None,NaN,m,A5656,N656,A,c7a6b13ba56547bd0a1c352171b2d0c2
7,3612,"Aberg, Siv Marta",None,NaN,m,A1621,S1563,A162,eda04e0a59f7548878f2663eeb02164e
8,1932,"Abbot Jr., Greg",None,NaN,m,A1326,G6213,None,f3c72bdb04a43aae7af1424c261d50ff
9,2266,"Abdalla, Isam",None,NaN,m,A1342,I2513,A134,22eb3783f3ff2ec3554311899f152960
10,3495,"Abelló, Pere",None,NaN,m,A1416,P614,A14,32fe0093331bbac8cffaac6260b35d23
11,2364,"Abdel, Neder",None,NaN,m,A1345,N3613,A134,650043b0567c05a6671bfe63b0e13160
12,3468,"Abelle, Fidel",None,NaN,m,A1413,F3414,A14,54117abdacef0c430339e80dd77039b6
13,2945,"Abduller, Abdumin",None,NaN,m,A1346,A1351,None,cc6e673a092793548021aea271ae0a49
14,1438,"Abarbanell, Eric",None,NaN,m,A1615,E6216,None,1c5d69bac758bd93e8752cbb64f8de60
15,746,"Aames, Bruce",None,NaN,m,A5216,B6252,A52,2c456bea1597e3291a30e4b40972aaa8
16,2138,"Abbott, Reece",None,NaN,m,A1362,R213,A13,446f5e31d53e84abbede328c0374cd6b
17,3475,"Abellira, Remi",None,NaN,m,A1465,R5146,A146,e36f700ab78865590b68fbaf1eddd4e2
18,373,78 Plus,None,NaN,m,P42,None,None,1740dc46b0120dc8fd73af48c658430f
19,1175,"Abad, Andrew",None,NaN,m,A1353,A5361,A13,e64742d4900b8954aed9497139f23eab
20,1293,"Abadii, Eksander",None,NaN,m,A1325,E2536,A13,39f5936e2f268ee3790eb45aba43ddd8
21,2923,"Abdullayev, Elvin",None,NaN,m,A1341,E4151,None,966904fe0f031b6865b1adbe2e1a00fe
22,906,"Aaron, James",II,NaN,m,A6525,J5265,A65,f9bc627c4dbe9e4b87e05e63e8c58deb
23,1461,"Abarno, José María",None,NaN,m,A1652,J2561,A165,3312cb678052ecfed74c18ab3551ea6c
24,175,10CC,None,NaN,m,C2,None,None,fef9ccd06e5a016078ac9d9ca705507f
25,132,"., Daniyar",None,NaN,m,D56,None,None,5e50f0de347425b9c7b76695cc136ba0
26,1479,"Abascal, José Manuel",None,NaN,m,A1242,J2541,A124,369ac8ce4b3d67b757d98d661350ed69
27,2442,"Abdelkader, Ghannam",None,NaN,m,A1342,G5134,None,2222c78c133b9b75e7747daf7b3ac002
28,2259,"Abdalla, Abrahão",None,NaN,m,A1341,A1613,A134,ec5de1fba38c334082fa447e0fe62930
29,1554,"Abatiell, Robert",None,NaN,m,A1346,R1631,A134,3e384becc5593f997298bddec9346ce4
30,809,"Aaren, Leslie",None,NaN,m,A6542,L2465,A65,28a047523ef05688e3999e63c40b0397
31,2525,"Abderahmane, Slimane Hadj",None,NaN,m,A1365,S4532,None,948e31eaa324e27b3f98b68413d8ff3d
32,2406,"Abdelgani, Hassan",None,NaN,m,A1342,H2513,None,6f64b9a0796e9fa9f011d38ab034f2b3
33,400,"A El Rahim, Ahmed",None,NaN,m,A4653,A5346,A465,9698c31ec0eb8b38172ae89e8c67b028
34,3516,"Abelson, Arthur",None,NaN,m,A1425,A6361,None,f928320c2a7a7bed50ce782fb256c276
35,2503,"Abdelnour, Miranda",None,NaN,m,A1345,M6531,None,699eccee2b46311e4575ec59e32e8e97
36,580,Aafaq,None,NaN,m,A12,None,None,1072898cd814fabd0b58e8399e7c9487
37,3628,"Aberle, Norbert",None,NaN,m,A1645,N6163,A164,7be02e5a22667f99171528bc0f6774c1
38,133,"., Dian Aisyah",None,NaN,m,D52,None,None,7107d4dce877b981e996078631bff681
39,3589,"Abercrombie, John",None,NaN,m,A1626,J5162,None,d8282bd038fd46b8af3d32ff8b1fbe57
40,242,2Mex,None,NaN,m,M2,None,None,9908e29f69fdd0ce98c50b69215846ec
41,2272,"Abdalla, Seif",None,NaN,m,A1342,S134,A134,45325dcb13de7517d8fef049847c29b2
42,3634,"Aberman, Larry",II,NaN,m,A1654,L6165,A165,806b07df90a06586cf3831e06a61ab5d
43,2433,"Abdelhussein, Uday Hussein",None,NaN,m,A1342,U3251,None,4360aabe130a4932f017acc520df6a44
44,2757,"Abdul-Khaliq, Asad",None,NaN,m,A1342,A2313,None,db45f72ef56d1979e021feb479869ae2
45,221,"2000, Spoiler",None,NaN,m,S146,None,None,ade2aad58b662b680f650b0d9f28bb52
46,399,A Camp,None,NaN,m,A251,None,None,136467262063314d518405f98405e671
47,3380,"Abelenda, Federico",None,NaN,m,A1453,F3621,None,38f0c79fb7daef087f8280fab216e224
48,35,"'El Happy' Lora, Miguel",None,NaN,m,E4146,M2414,None,4d04196e6b407211a1685f2556fd8da3
49,1126,"Aatsinki, Aarne",None,NaN,m,A3252,A6532,None,29e673ba4ce4812cdf0538f23bea8ce3
50,1981,"Abbott, Brady",None,NaN,m,A1316,B6313,A13,1a2f450f56aea631aff2aedbbf99116d
51,1380,"Abalos Reznak, Julia",None,NaN,m,A1426,J4142,None,0a01f5d7887b72f7d5fbca53fdbb608f
52,1621,"Abazoglu, Cengiz",None,NaN,m,A1242,C5212,A124,c84cc2037adfd1096e6d96b330a663a1
53,3097,"Abe, Shirô",None,NaN,m,A126,S61,A1,e4666f8098ee46ee56429c349881f04c
54,2112,"Abbott, Michael",XII,NaN,m,A1352,M2413,A13,a56b7b7cac4f1be7d7cea0d056fe9d3c
55,23,"'Chincheta', Eloy",None,NaN,m,C5234,E4252,C523,4464187c8580d534a512650e985e3c26
56,3267,"Abel, Jean-Luc",None,NaN,m,A1425,J5421,A14,5b100a9d2589b0f8934b9e077e749ee7
57,1866,"Abbey, Carfax",None,NaN,m,A1261,C6121,A1,a16b8233c82de153805a01a3ccf645eb
58,1724,"Abbas, Qamar",None,NaN,m,A1256,Q5612,A12,4b8c8e7901e0425fb1efae662f3927ab
59,2981,"Abdurachman, A.",None,NaN,m,A1362,None,None,e7a52a4bf9ef6a08a3c14ca170ec48bd
60,3492,"Abellán, José Antonio",I,NaN,m,A1452,J2535,A145,e57dff57084000ca865b9a4869e5c9ec
61,1520,"Abata, Billie",None,NaN,m,A1314,B413,A13,a808220db977673c39578bc298a99c01
62,1012,"Aarseth, Øystein",None,NaN,m,A6232,Y2356,A623,0f7dda0d0a75d5de3d3a77b11897a17a
63,2006,"Abbott, Craig",None,NaN,m,A1326,C6213,A13,d93a9cfee0619f3c7bdae146ff4ff698
64,1180,"Abad, Arthur",None,NaN,m,A1363,A6361,A13,99bc0c691bab5a86ccd0199888f70f27
65,2674,"Abdu'allah, Faisal",None,NaN,m,A1341,F2413,A134,7b37c92db7b8e535847a3ffcb3b12807
66,658,Aalija,None,NaN,m,A42,None,None,fe3912f7111e7074d767d8e036214a69
67,957,"Aaron, Tommie",None,NaN,m,A6535,T565,A65,6415a18998fdb9fdbd17436be462af66
68,96,"'t Hout, Rogier in",None,NaN,m,T3626,R2653,T3,88eeaea4b9b55576950fc4a407a33363
69,1789,"Abbaszade, Fuad",None,NaN,m,A1231,F3123,A123,a55611977c5bd77388d40b5c6bcab696
70,2828,"Abdullaev, Allovuddin",None,NaN,m,A1341,A4135,None,b101f906445dda9d9e5e0a562475467b
71,3318,"Abel, Tommy",None,NaN,m,A1435,T514,A14,175225d2059a3bbf86739c49f82b8c32
72,359,"666, Portia",None,NaN,m,P63,None,None,fc73c448deeb400b177cfc9211d18309
73,240,"2K, Charon",None,NaN,m,K265,C652,K,17d1583f1f546b1731d80742a107f1b8
74,309,4Granted,None,NaN,m,G653,None,None,813a1adc8d19c272cf9322ffbcbe1238
75,3441,"Abella, Gene",IV,NaN,m,A1425,G514,A14,7d16344779dcfa7f00c0dc415c95afe7
76,3481,"Abello, John",None,NaN,m,A1425,J514,A14,87453157f6e15379b73e2d4f14e943cc
77,421,A-Ha,None,NaN,m,A,None,None,6adbd3552c41454a35217369753f0be1
78,1104,"Aasheim, Erik",None,NaN,m,A2562,E625,A25,8c2664bcb69bf603014057546e712982
79,3389,"Abeles, Ethan",None,NaN,m,A1423,E3514,A142,c6fd4a13aec360f5c9ee278bcd5a3a96
80,1566,"Abatzis, T.",None,NaN,m,A1323,T132,A132,573e5bfed7b1d133277a81a1fb51ada2
81,3456,"Abellan, Alejandro",None,NaN,m,A1454,A4253,A145,bf61be49952dd081fb1b79f64a1d504a
82,32,"'El Galgo PornoStar', Blanquito",None,NaN,m,E4242,B4523,None,719cc1f79b6d97ade3e37fe8a19d7084
83,1387,"Abalos, Jorge",None,NaN,m,A1426,J6214,A142,6c6ec8da7c56abfa138a5235a606fb07
84,1522,"Abatayo, Eman",None,NaN,m,A135,E513,A13,7b8c8d081627065428acde3753543691
85,1692,"Abbas, Hanneen",None,NaN,m,A125,H512,A12,7f7caa660ed33220c91b184e5398c32e
86,1221,"Abad, Manuel",None,NaN,m,A1354,M5413,A13,f42503b7de3bb1923a6353a01812c94a
87,1540,"Abate, Renato",None,NaN,m,A1365,R5313,A13,c7184923280113e9481b84cc564799e9
88,2794,"Abdulhamid, Ammar",None,NaN,m,A1345,A5613,None,6219175cf90567f0a79392ab2f001cbe
89,2159,"Abbott, Steve",I,NaN,m,A1323,S313,A13,e1976a0105d88ebb4fb2c99d86b5d7e8
90,1627,"Abazovic, Hamid",None,NaN,m,A1212,H5312,None,72d537337ac0f5396cf43fd50b8cf6b5
91,108,"'Ulaleo, Ka'olelo",None,NaN,m,U424,K4,U4,62266e353ae2c862d981cd2bb388d5eb
92,271,33 1/3,None,NaN,m,None,None,None,889c14a55236851f4bf9674b90d36bf1
93,2486,"Abdelmajid, Drifi",None,NaN,m,A1345,D6134,None,45b725bd6becd60f96340359da99f946
94,1557,"Abato, Paul V.",None,NaN,m,A1314,P413,A13,6ba58b5479415e8388fb92c6be446467
95,3211,"Abeghraz, Rachid",None,NaN,m,A1262,R2312,None,2b054445d528ca9f6994adedd9db9722
96,2129,"Abbott, Percy",None,NaN,m,A1316,P6213,A13,7992faa0fc9acd53bebbb68549f9360a
97,1167,"Abacan, Jose Mari",None,NaN,m,A1252,J2561,A125,06f8d8a8e7df8e7887ea7e7c7a671b8c
98,331,"5, Channel",None,NaN,m,C54,None,None,4db55ab39bb71cbe53eda4eacb768705
99,2482,"Abdellnebi, Bachir",None,NaN,m,A1345,B2613,None,27768f67fc42d4b61ff5ed1032edf03b

In [ ]:
# title_all

schema_title = """
          id INT, 
          title STRING, 
          imdb_index STRING, 
          kind_id INT, 
          production_year INT, 
          imdb_id INT, 
          phonetic_code STRING, 
          episode_id STRING,
          season_nr INT, 
          episode_nr INT, 
          series_years STRING, 
          md5sum STRING
        """
title_all = spark.read.csv(path = imdb_dir + "/title.csv.gz", schema = schema_title)
display(title_all)

,id,title,imdb_index,kind_id,production_year,imdb_id,phonetic_code,episode_id,season_nr,episode_nr,series_years,md5sum
0,80889,(#1.66),None,7,1980.0,NaN,None,80815,1.0,66.0,None,4de45f35edf0b753c54ab72dcbe68bb5
1,5156,Josie Duggar's 1st Shoes,None,7,2010.0,NaN,J2326,5022,4.0,13.0,None,8d492850166137b550ceb0e9a5b46086
2,197772,(#2.8),None,7,1962.0,NaN,None,197751,2.0,8.0,None,152b0f7213dd467760823b0d6387a6ec
3,111913,(2012-09-13),None,7,2012.0,NaN,None,111095,NaN,NaN,None,daf144630ef1ab1cd5d1d028b406cdcf
4,117556,(#1.1042),None,7,NaN,NaN,None,117506,1.0,1042.0,None,be62adfea75e456d47ddab5c68ac96b0
5,40704,Anniversary,None,7,1971.0,NaN,A5162,40698,4.0,9.0,None,5e12ce73fac1d1dcf94136b6e9acd8f8
6,164312,(#13.60),None,7,1997.0,NaN,None,164254,13.0,60.0,None,2d7b85508041bc8b1e4b576f328727b9
7,149337,Mellody Hobson,None,7,2005.0,NaN,M4312,149328,1.0,8.0,None,5bf869eaffa411fdc51e06c2020952d5
8,32020,Kiss Me Kate,None,7,2011.0,NaN,K2523,32014,1.0,10.0,None,293e8c75c7f35a4035abf617962be5a9
9,36858,(2012-09-11),None,7,2012.0,NaN,None,36138,NaN,NaN,None,7c4d73fbab6bf1bbf3cb3958c5f975a9
10,112085,The Best of Olivia,None,7,2008.0,NaN,B2314,111095,1.0,762.0,None,1b8dc7b88bba29abade0df92564d0c69
11,25704,Macauley's Cure,None,7,1966.0,NaN,M2426,25696,1.0,34.0,None,295cd3e29779b6ae1550fe3817cfea39
12,49634,Discriminación en el lenguaje,None,7,1998.0,NaN,D2652,49611,NaN,NaN,None,7a865a589dbaec16d2e4f5a0f068e9ae
13,37608,The Eye of Ra: Part 2,None,7,1971.0,NaN,E1616,37579,2.0,11.0,None,faebb738a1a761ed8928cb4b65367036
14,92382,Shinkai no akuma,None,7,2011.0,NaN,S5252,92364,1.0,11.0,None,e9f24b4c2878e2b099931fbd0dc80914
15,7532,"Beautiful, Married & Missing",None,7,2009.0,NaN,B3145,7383,NaN,NaN,None,890adf0e8ff5ba69b8f6dc7b0dce84e7
16,5522,Game 2,None,7,1951.0,NaN,G5,5520,NaN,NaN,None,4b042601dbe4f50d6691a7d41e703941
17,33423,(2012-05-30),None,7,2012.0,NaN,None,33102,NaN,NaN,None,08098b9e95d2ea3ed513c4e7665e68cf
18,165729,Blowout,None,2,2004.0,NaN,B43,None,NaN,NaN,2004-????,d047de6e356eef4efcc36541cb121a61
19,73362,The 500 Percent Club,None,7,2012.0,NaN,P6253,73295,NaN,NaN,None,249db59011a04a4d3454c5985559b11c
20,122463,Christmas Special,None,7,2006.0,NaN,C6235,122400,8.0,11.0,None,c848c27c04725bef4794a0178b4a6660
21,37110,Tim Clark - President of Emirates Airlines,None,7,2012.0,NaN,T5246,37092,1.0,2.0,None,c7aff07b7db42f487b5140c27147c81b
22,156252,Hessens schönste Kurbäder,None,7,2008.0,NaN,H2525,156245,NaN,NaN,None,7f2b20a949126b467c108dc7cf39cd86
23,126955,(1977-03-05),None,7,1977.0,NaN,None,126283,NaN,NaN,None,8f3513eb2fc28323132d57e3031c87ed
24,189047,(2012-11-03),None,7,2012.0,NaN,None,189008,NaN,NaN,None,7695346a1d35b27aae96ab11ce087910
25,2903,(2002-06-29),None,7,2002.0,NaN,None,2894,NaN,NaN,None,bca48eae0eeae88dc3c9cf68a0294d1d
26,11566,(#1.8),None,7,2012.0,NaN,None,11555,1.0,8.0,None,ff1f7f30f7745185cc132faebf6ff616
27,160794,Self-Awareness as a Soldier! Strength Lies in the Pure Heart,None,7,1995.0,NaN,S4165,160772,1.0,38.0,None,eb32612a744424c3b79a8959c48aa89b
28,62387,The Breaking Point/Working Class People/The Voter's Choice: Part 3,None,7,1990.0,NaN,B6252,62368,3.0,3.0,None,8cc4d380db8007ade9ba56c1ae425a4f
29,85015,(#1.190),None,7,2002.0,NaN,None,84913,1.0,190.0,None,1ad2308948521ed682e17c0c6c3443cf
30,81082,The Weight: Part 1,None,7,2004.0,NaN,W2316,80989,5.0,1.0,None,30a18346d8c8e0c540c8f551c50da699
31,91059,Osa 118. Kimonkylän taidekoti,None,7,2003.0,NaN,O2524,91033,16.0,15.0,None,c519b9b1181c5ada819404719b376e9a
32,182150,Los capos no mueren,None,7,1992.0,NaN,C1256,182140,1.0,11.0,None,90496f4ca68c6fe18066938defecb600
33,144818,Cousin und Cousine,None,7,2002.0,NaN,C2532,144806,1.0,21.0,None,698d9f1c3022fcbc307ee890e82aebed
34,188109,Gun-Talk,None,7,1956.0,NaN,G5342,188095,2.0,15.0,None,0562f67fc2f5faf224b877abecbf0258
35,194163,(#1.6),None,7,1994.0,NaN,None,194139,1.0,6.0,None,123158ec8fade1f19f91e4dfc615dc38
36,185522,Nanny from Heaven,None,7,1989.0,NaN,N5165,185452,5.0,14.0,None,39ec26fcbd767580e3045df9e5f749ab
37,116833,Halve Finale #1,None,7,2009.0,NaN,H4154,116831,1.0,1.0,None,82fec9563ad32c9451c2a17c47179a12
38,10794,Guilt-Free Pub Grub,None,7,2010.0,NaN,G4316,10671,NaN,NaN,None,1d7f1a5e32af5177ae5b111938785489
39,152481,(#3.11),None,7,2002.0,NaN,None,152267,3.0,11.0,None,586cdbb346ba263aceb7850a6edb1efe
40,33079,Cloned Puppies: A New Generation of 'Trakrs',None,7,2009.0,NaN,C4531,32442,NaN,NaN,None,e13740a30a18f2fadd9b0883acf2129f
41,7310,Adults Only 20 to 1: World's Sexiest Scandals,None,7,2010.0,NaN,A3432,7301,9.0,2.0,None,194dad479c29213396da565071a65d02
42,18390,All That Jasmine,None,7,1994.0,NaN,A4325,18389,1.0,5.0,None,3bc9caa126ef9513b79e850b9ef8be71
43,126091,(#5.8),None,7,2009.0,NaN,None,126014,5.0,8.0,None,2c6e41a60e9c16fc565af9fe67593a15
44,20232,Baby Manning,None,7,1998.0,NaN,B152,20037,NaN,NaN,None,825389d4e35f378f950238020942782e
45,134182,(2010-07-27),None,7,2010.0,NaN,None,134128,NaN,NaN,None,2e3e5afc8e111eacd98699c6f28d444b
46,192882,Solo de flûte,None,7,2006.0,NaN,S4314,192835,1.0,11.0,None,87d600911ba20aa46778f322eadaaec0
47,59538,(2002-02-09),None,7,2002.0,NaN,None,59480,NaN,NaN,None,f1a0a17ab85d025061f63ae22b53a686
48,95727,Érase un negocio,None,7,2004.0,NaN,R252,95690,2.0,3.0,None,52e5bc0c77f0b064ff11cd7c721076d7
49,99644,Peru to Brazil,None,7,NaN,NaN,P6316,99633,1.0,1.0,None,a2a3f9a9dfaa6c23ec1d96cff3d43711
50,60770,Blutsbande,None,7,2006.0,NaN,B4321,60768,1.0,7.0,None,f26233762bac22bbe9d74be23a88cd6b
51,6883,(1999-01-09),None,7,1999.0,NaN,None,6845,NaN,NaN,None,3805102536744e2cc28ccc0dc69b2fac
52,11306,Amande,None,7,NaN,NaN,A53,11299,1.0,29.0,None,fc10451a055daf0c1996ba919c84cbd3
53,101193,Squeeze Rockin' Freak Painting or Pumpkin Pies Plymptoon,None,7,2006.0,NaN,S2625,101172,2.0,1.0,None,cf30dbefb48c6a3de8c9797a1e498dd5
54,133148,Did You Win?,None,7,2012.0,NaN,D35,133147,1.0,13.0,None,0f718d7ed363df8564c2a5768a485e73
55,183966,Boys and Girls Together Again,None,7,1992.0,NaN,B2532,183962,1.0,15.0,None,201d7f0dddc87b03dd164bd40fd488a3
56,86817,(1982-07-30),None,7,1982.0,NaN,None,86671,NaN,NaN,None,feb3c50a56d633597ca86ecc6f048b42
57,16604,The Next First Lady?/Here Comes the Girls/Toni Morrison,None,7,1999.0,NaN,N2316,15711,31.0,20.0,None,6385686401009aa7277c38cea7db489c
58,125298,The Awakening,None,7,2012.0,NaN,A252,125231,2.0,69.0,None,f6b66de1cf236137940c5f4f1c75585c
59,168637,The Entertainer,None,7,1993.0,NaN,E5363,168611,1.0,23.0,None,7643c6f1545f8e70f2baf95fca2394c2
60,111657,(2011-05-13),None,7,2011.0,NaN,None,111095,NaN,NaN,None,e05b4fd49ed26a97d8d7b2cbd7e68bd3
61,6507,Lunch Hour,None,7,2009.0,NaN,L526,6438,2.0,4.0,None,09ae8e22be7f59235d4fbdca3a63e0bc
62,26155,Tim Burton,None,7,2012.0,NaN,T5163,26109,NaN,NaN,None,f36dba18c95057442419edc182f73dc8
63,106269,(#2.20),None,7,2011.0,NaN,None,106217,2.0,20.0,None,ec936da7d162a5a75b10f0c6ab412be3
64,139166,(1999-06-21),None,7,1999.0,NaN,None,139148,NaN,NaN,None,fc0ceeac6e4a1c606d973dde3a073ded
65,85263,(#1.44),None,7,2001.0,NaN,None,84913,1.0,44.0,None,7a24b2a6ae28c37a844cc20a08b9bd58
66,95087,(2003-04-28),None,7,2003.0,NaN,None,94664,NaN,NaN,None,947ebbf4fd84cad212516083c8399387
67,55171,Wish You Weren't Here,None,7,1999.0,NaN,W2653,55165,1.0,5.0,None,e2f099b1ffe706eecc211ebedd6e798a
68,139677,Bedroom Buddies,None,2,1992.0,NaN,B3651,None,NaN,NaN,1992-????,60e631f4a29c899017073ed4ef92c4d0
69,143915,Reel Murder: Part 2,None,7,1986.0,NaN,R4563,143813,7.0,15.0,None,395f0d4a7f90ce925ce239ebc42b257c
70,172767,(2011-12-10),None,7,2011.0,NaN,None,172759,NaN,NaN,None,3a6b272edcc7aa825dee59cf08356901
71,41599,Seret Tadmit,None,7,2003.0,NaN,S6353,41575,1.0,6.0,None,67daa1fe11df834d28d04126768bcee5
72,36005,(2012-11-26),None,7,2012.0,NaN,None,35537,NaN,NaN,None,2d76aad1af3a32fe61ddce0c69163592
73,152708,(#8.3),None,7,2007.0,NaN,None,152267,8.0,3.0,None,c9f3ed0a9f74a8f40f9feb477d665517
74,182060,Lost & Found,None,7,2006.0,NaN,L2315,182054,1.0,4.0,None,0bafc69d080a0d54b9be60c3bf3b3652
75,89789,(2003-08-08),None,7,2003.0,NaN,None,87087,NaN,NaN,None,41534f521dac02c538734454f54e1a92
76,15437,(#19.6),None,7,2011.0,NaN,None,15336,19.0,6.0,None,a9fe52e9c0093fdfb01fac39a43356ec
77,34714,Send Her Victorious,None,7,1989.0,NaN,S5361,34706,1.0,5.0,None,b7d2fb4f4d636b3c3de9141a7334973a
78,16083,Hostage/In Search of Bin Laden/The Captain,None,7,2005.0,NaN,H2325,15711,38.0,1.0,None,ed623cfa59720af8a3427515b0acdfc3
79,44277,Silence of the Clams,None,7,2007.0,NaN,S4521,44260,1.0,2.0,None,6577d5b107f4d861680cd75c1c61c7a8
80,51440,Brennender Ehrgeiz,None,7,1999.0,NaN,B6536,51415,3.0,11.0,None,b94cbef39180bdcbbf17bc34e3fc7feb
81,27788,(2002-01-25),None,7,2002.0,NaN,None,27736,NaN,NaN,None,fc3a3ed117967deb7d0132cf64246fef
82,31667,(1991-04-12),None,7,1991.0,NaN,None,31647,NaN,NaN,None,4e5fdba1f3d8a74f95c85da456b5a3a5
83,130053,Count Me In!,None,7,1999.0,NaN,C535,129983,6.0,8.0,None,5bdba846c128356c914f64da58429bc6
84,32704,(2012-05-22),None,7,2012.0,NaN,None,32442,NaN,NaN,None,a04733c180a683bb2195ccf52cf9568b
85,168,"Oahu, HI",None,7,2003.0,NaN,O,118,2.0,2.0,None,b61f5f895096b62e2094f32c3606aae5
86,89993,(2004-05-21),None,7,2004.0,NaN,None,87087,NaN,NaN,None,abaef6e681871e08484d81900a027f6e
87,169030,The Visit to Aunt Ruth's,None,7,1990.0,NaN,V2353,168958,1.0,1.0,None,8761c8e29cb11ad3ba6176ddc9544d89
88,4477,Silenci,None,7,2009.0,NaN,S452,4457,2.0,6.0,None,a72742ad15bc4ed1fc48e39db32ce71b
89,109242,(2000-06-13),None,7,2000.0,NaN,None,108733,NaN,NaN,None,40c9b53898160d2d5dd777c5de62c4c3
90,28820,(1996-02-12),None,7,1996.0,NaN,None,28531,NaN,NaN,None,5d209e19cbb6cd5e2a169a506a9769d8
91,183700,Broken News,None,2,2005.0,NaN,B6252,None,NaN,NaN,2005-????,64065df245c3a03d2b8393cec153cc86
92,38282,(2008-07-15),None,7,2008.0,NaN,None,38084,NaN,NaN,None,5527873c0ecfb3af31fa65f2becf4ec9
93,57276,(#1.9305),None,7,2006.0,NaN,None,55774,1.0,9305.0,None,c23e10d30fc4f417387e039ed3677817
94,168245,Free of Charge,None,7,1967.0,NaN,F6126,168208,4.0,19.0,None,a7c1cd52c9ae6511dfb7ee0cc579c6c7
95,74371,American Justice,None,2,2004.0,NaN,A5625,None,NaN,NaN,2004-????,d0d9d994eb34142614894127dc98f750
96,5392,(#1.8),None,7,2011.0,NaN,None,5383,1.0,8.0,None,66aa6123117ad570cff22a0961cde934
97,115268,The Boy Next Door,None,7,2008.0,NaN,B5236,114979,13.0,18.0,None,2da5276828def251a95a367c5a74359a
98,120056,(#2.9),None,7,2009.0,NaN,None,120036,2.0,9.0,None,a44636910a50bf5613640b4c80ff3e37
99,199241,Todo el dinero del mundo,None,7,2008.0,NaN,T3435,199182,1.0,58.0,None,1d8fa0a5549195fe36c2f329af2b2188

#### YAGO
Télécharger les fichiers de YAGO

In [ ]:
YAGO_dir = drive_dir + "/yago"

os.makedirs(YAGO_dir, exist_ok=True)

def yagoLoad(file):
  url = PUBLIC_DATASET + "/yago/yago4_2020/" + file
  local_file = YAGO_dir + "/" + file

  if(os.path.isfile( YAGO_dir + "/" + file)):
    print(file, "is already stored ")
  else:
    print("downloading from URL: ", url, "save in : ", local_file)
    request.urlretrieve(url, local_file)
    
yagoLoad("yago-actor-facts.snappy.orc")
yagoLoad("yago-person.snappy.orc")

# Liste des fichiers de YAGO
os.listdir(YAGO_dir)

downloading from URL:  https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4/download?path=/yago/yago4_2020/yago-actor-facts.snappy.orc save in :  /content/DM1/yago/yago-actor-facts.snappy.orc
downloading from URL:  https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4/download?path=/yago/yago4_2020/yago-person.snappy.orc save in :  /content/DM1/yago/yago-person.snappy.orc

['yago-person.snappy.orc', 'yago-actor-facts.snappy.orc']

##### Les personnes dans Yago

In [ ]:
yagoPerson = spark.read.orc(path = YAGO_dir + "/yago-person.snappy.orc")
display(yagoPerson)

                                                                      subject
0                     <http://yago-knowledge.org/resource/Heywood_L._Edwards>
1                         <http://yago-knowledge.org/resource/Ramanichandran>
2                         <http://yago-knowledge.org/resource/Yegor_Kiryakov>
3                       <http://yago-knowledge.org/resource/Patrick_J._Adams>
4                      <http://yago-knowledge.org/resource/Basilio_J._Valdes>
5                          <http://yago-knowledge.org/resource/Meryem_Uzerli>
6                    <http://yago-knowledge.org/resource/Marie-Louise_Loubet>
7                             <http://yago-knowledge.org/resource/Alex_Lacey>
8                      <http://yago-knowledge.org/resource/Michael_Hankinson>
9                             <http://yago-knowledge.org/resource/Éric_Alard>
10                        <http://yago-knowledge.org/resource/Kim_Falkenberg>
11                     <http://yago-knowledge.org/resource/Maija-Liisa_Peuhu>
12  <http://yago-knowledge.org/resource/George_Peter_(politician,_died_1893)>
13                           <http://yago-knowledge.org/resource/Prisco_Nilo>
14                          <http://yago-knowledge.org/resource/Paul_Fryxell>
15              <http://yago-knowledge.org/resource/Mirza_Jafar_Topchubashev>
16                          <http://yago-knowledge.org/resource/Eigil_Hansen>
17                   <http://yago-knowledge.org/resource/Md._Sanowar_Hossain>
18                        <http://yago-knowledge.org/resource/Scott_Sizemore>
19                    <http://yago-knowledge.org/resource/Anatoliy_Azarenkov>
20             <http://yago-knowledge.org/resource/Robert_Aitken_(publisher)>
21                    <http://yago-knowledge.org/resource/Norodom_Phurissara>
22                       <http://yago-knowledge.org/resource/Tom_R._Ferguson>
23                 <http://yago-knowledge.org/resource/Zara_(Turkish_singer)>
24                          <http://yago-knowledge.org/resource/Franz_Scholz>
25                        <http://yago-knowledge.org/resource/Yuki_Kuniyoshi>
26                        <http://yago-knowledge.org/resource/Mary_H.K._Choi>
27                   <http://yago-knowledge.org/resource/Kabiru_Ibrahim_Gaya>
28                   <http://yago-knowledge.org/resource/Steve_Foley_(diver)>
29                     <http://yago-knowledge.org/resource/John_Bodvan_Anwyl>
30    <http://yago-knowledge.org/resource/James_Williamson,_1st_Baron_Ashton>
31                           <http://yago-knowledge.org/resource/Samuel_Kalu>
32                       <http://yago-knowledge.org/resource/Gerda_Christian>
33                          <http://yago-knowledge.org/resource/Lucas_Baiano>
34            <http://yago-knowledge.org/resource/Bill_Brindley_(footballer)>
35             <http://yago-knowledge.org/resource/Giovanni_Matteo_Contarini>
36            <http://yago-knowledge.org/resource/William_Muhlenberg_Hiester>
37            <http://yago-knowledge.org/resource/Karl_Gatermann_the_Younger>
38                         <http://yago-knowledge.org/resource/Aleh_Kavalyow>
39                <http://yago-knowledge.org/resource/Gustave_Moundi_Djengue>
40                        <http://yago-knowledge.org/resource/Patricia_Stich>
41               <http://yago-knowledge.org/resource/Robert_Rundell_Guinness>
42                    <http://yago-knowledge.org/resource/Loretta_Handrabura>
43                         <http://yago-knowledge.org/resource/Raoul_Coutard>
44     <http://yago-knowledge.org/resource/Ibrahim_Sulayman_Muhammad_Arbaysh>
45                     <http://yago-knowledge.org/resource/Anil_Samarasekera>
46                <http://yago-knowledge.org/resource/George_Arthur_Mitchell>
47                          <http://yago-knowledge.org/resource/Owen_Da_Gama>
48                   <http://yago-knowledge.org/resource/Tochiakagi_Takanori>
49                         <http://yago-knowledge.org/resource/Alivardi_Khan>
50                  <http://yago-knowledge.org/resource/Ricardo_García_Sainz>
51         <http://yago-knowledge.org/resource/Aleksei_Fyodorovich_Goncharov>
52                         <http://yago-knowledge.org/resource/Irving_Burgie>
53                    <http://yago-knowledge.org/resource/Dick_O'Shaughnessy>
54                       <http://yago-knowledge.org/resource/Victor_Schivert>
55                     <http://yago-knowledge.org/resource/Rachel_Ellenstein>
56                      <http://yago-knowledge.org/resource/Adi_Konstantinos>
57                 <http://yago-knowledge.org/resource/Júlia_da_Silva_Bruhns>
58                <http://yago-knowledge.org/resource/Julius_Wolff_(surgeon)>
59                            <http://yago-knowledge.org/resource/Ali_Soilih>
60                          <http://yago-knowledge.org/resource/Geoff_Parker>
61                <http://yago-knowledge.org/resource/Saidye_Rosner_Bronfman>
62                            <http://yago-knowledge.org/resource/Hunny_Madu>
63                        <http://yago-knowledge.org/resource/Robert_Koehler>
64                        <http://yago-knowledge.org/resource/Hugh_Henderson>
65                           <http://yago-knowledge.org/resource/Mike_Curran>
66                          <http://yago-knowledge.org/resource/Maarika_Võsu>
67                       <http://yago-knowledge.org/resource/Siripuch_Gulnoi>
68                            <http://yago-knowledge.org/resource/Nazaruddin>
69                      <http://yago-knowledge.org/resource/Kathryn_C._Davis>
70                             <http://yago-knowledge.org/resource/Alex_Leon>
71                        <http://yago-knowledge.org/resource/Michael_Wilcox>
72           <http://yago-knowledge.org/resource/Christopher_Mhlengwa_Zikode>
73                          <http://yago-knowledge.org/resource/Jamie_Turner>
74                       <http://yago-knowledge.org/resource/Mychal_Springer>
75                          <http://yago-knowledge.org/resource/Bruno_Berner>
76                       <http://yago-knowledge.org/resource/John_Mott-Smith>
77                       <http://yago-knowledge.org/resource/Sebastian_Thrun>
78                         <http://yago-knowledge.org/resource/Evelyne_Accad>
79                        <http://yago-knowledge.org/resource/James_Mongrain>
80                      <http://yago-knowledge.org/resource/Mitchell_Sanford>
81                       <http://yago-knowledge.org/resource/Leonard_Gribble>
82                          <http://yago-knowledge.org/resource/Shirley_Finn>
83                       <http://yago-knowledge.org/resource/Daniele_Boschin>
84      <http://yago-knowledge.org/resource/Greg_Taylor_(English_footballer)>
85                       <http://yago-knowledge.org/resource/Sarah_Schachner>
86                     <http://yago-knowledge.org/resource/Tatiana_Rozenthal>
87                            <http://yago-knowledge.org/resource/Madam_Yoko>
88                       <http://yago-knowledge.org/resource/Louwrien_Wijers>
89                        <http://yago-knowledge.org/resource/Toru_Muranishi>
90                    <http://yago-knowledge.org/resource/E._Florence_Barker>
91                  <http://yago-knowledge.org/resource/Jean-Pierre_Lecompte>
92                         <http://yago-knowledge.org/resource/Hino_Kumawaka>
93                       <http://yago-knowledge.org/resource/Charlie_Withers>
94                                 <http://yago-knowledge.org/resource/Soyou>
95                          <http://yago-knowledge.org/resource/Billy_Gowers>
96                    <http://yago-knowledge.org/resource/Simon_Kainzwaldner>
97                          <http://yago-knowledge.org/resource/K._Sukumaran>
98                         <http://yago-knowledge.org/resource/Harry_Melrose>
99                <http://yago-knowledge.org/resource/George_Sydney_Aldridge>

##### Les faits des acteurs dans Yago

In [ ]:
actorFacts = spark.read.orc(path = YAGO_dir + "/yago-actor-facts.snappy.orc")
display(actorFacts)

,subject,property,object
0,<http://yago-knowledge.org/resource/40_(record_producer)>,<http://schema.org/alumniOf>,<http://yago-knowledge.org/resource/Academy_of_Art_University>
1,<http://yago-knowledge.org/resource/40_(record_producer)>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/Canada>
2,<http://yago-knowledge.org/resource/40_(record_producer)>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Toronto>
3,<http://yago-knowledge.org/resource/40_(record_producer)>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
4,<http://yago-knowledge.org/resource/40_(record_producer)>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Songwriter>
5,<http://yago-knowledge.org/resource/40_(record_producer)>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Child_actor>
6,<http://yago-knowledge.org/resource/A._D._Calvo>,<http://schema.org/image>,<http://commons.wikimedia.org/wiki/Special:FilePath/AD-Calvo-in-2007.jpg>
7,<http://yago-knowledge.org/resource/A._D._Calvo>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/Argentina>
8,<http://yago-knowledge.org/resource/A._D._Calvo>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/United_States>
9,<http://yago-knowledge.org/resource/A._D._Calvo>,<http://schema.org/givenName>,<http://yago-knowledge.org/resource/Alejandro>
10,<http://yago-knowledge.org/resource/A._D._Calvo>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
11,<http://yago-knowledge.org/resource/A._D._Calvo>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Film_producer>
12,<http://yago-knowledge.org/resource/A._D._Calvo>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Screenwriter>
13,<http://yago-knowledge.org/resource/A._D._Calvo>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Film_director>
14,<http://yago-knowledge.org/resource/A._D._Calvo>,<http://schema.org/birthDate>,"""1967-10-09""^^<http://www.w3.org/2001/XMLSchema#date>"
15,<http://yago-knowledge.org/resource/A._J._Bridel>,<http://schema.org/familyName>,<http://yago-knowledge.org/resource/Bridel_(surname)>
16,<http://yago-knowledge.org/resource/A._J._Bridel>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Calgary>
17,<http://yago-knowledge.org/resource/A._J._Bridel>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
18,<http://yago-knowledge.org/resource/A._J._Bridel>,<http://schema.org/birthDate>,"""1994""^^<http://www.w3.org/2001/XMLSchema#gYear>"
19,<http://yago-knowledge.org/resource/A._J._Buckley>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/Canada>
20,<http://yago-knowledge.org/resource/A._J._Buckley>,<http://schema.org/familyName>,<http://yago-knowledge.org/resource/Buckley_(surname)>
21,<http://yago-knowledge.org/resource/A._J._Buckley>,<http://schema.org/givenName>,<http://yago-knowledge.org/resource/Aaron_(given_name)>
22,<http://yago-knowledge.org/resource/A._J._Buckley>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Dublin>
23,<http://yago-knowledge.org/resource/A._J._Buckley>,<http://schema.org/url>,"""http://www.ajbuckley.net/""^^<http://www.w3.org/2001/XMLSchema#anyURI>"
24,<http://yago-knowledge.org/resource/A._J._Buckley>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
25,<http://yago-knowledge.org/resource/A._J._Buckley>,<http://schema.org/birthDate>,"""1977-02-09""^^<http://www.w3.org/2001/XMLSchema#date>"
26,<http://yago-knowledge.org/resource/A._J._Buckley>,<http://schema.org/knowsLanguage>,<http://yago-knowledge.org/resource/English_language>
27,<http://yago-knowledge.org/resource/A._J._Calloway>,<http://schema.org/alumniOf>,<http://yago-knowledge.org/resource/Saint_Benedict's_Preparatory_School>
28,<http://yago-knowledge.org/resource/A._J._Calloway>,<http://schema.org/alumniOf>,<http://yago-knowledge.org/resource/Howard_University>
29,<http://yago-knowledge.org/resource/A._J._Calloway>,<http://schema.org/image>,<http://commons.wikimedia.org/wiki/Special:FilePath/Erick%20McCormack%20AJ%20Calloway%202012%20Shankbone.JPG>
30,<http://yago-knowledge.org/resource/A._J._Calloway>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/United_States>
31,<http://yago-knowledge.org/resource/A._J._Calloway>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/New_Jersey>
32,<http://yago-knowledge.org/resource/A._J._Calloway>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
33,<http://yago-knowledge.org/resource/A._J._Calloway>,<http://schema.org/birthDate>,"""1974-08-29""^^<http://www.w3.org/2001/XMLSchema#date>"
34,<http://yago-knowledge.org/resource/A._J._Cook>,<http://schema.org/alumniOf>,<http://yago-knowledge.org/resource/Utah_Valley_University>
35,<http://yago-knowledge.org/resource/A._J._Cook>,<http://schema.org/image>,<http://commons.wikimedia.org/wiki/Special:FilePath/A.J.Cook%20crop.jpg>
36,<http://yago-knowledge.org/resource/A._J._Cook>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/Canada>
37,<http://yago-knowledge.org/resource/A._J._Cook>,<http://schema.org/familyName>,<http://yago-knowledge.org/resource/Cook_(surname)>
38,<http://yago-knowledge.org/resource/A._J._Cook>,<http://schema.org/homeLocation>,<http://yago-knowledge.org/resource/Los_Angeles>
39,<http://yago-knowledge.org/resource/A._J._Cook>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Oshawa>
40,<http://yago-knowledge.org/resource/A._J._Cook>,<http://schema.org/url>,"""http://ajcook.com/""^^<http://www.w3.org/2001/XMLSchema#anyURI>"
41,<http://yago-knowledge.org/resource/A._J._Cook>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
42,<http://yago-knowledge.org/resource/A._J._Cook>,<http://schema.org/birthDate>,"""1978-07-22""^^<http://www.w3.org/2001/XMLSchema#date>"
43,<http://yago-knowledge.org/resource/A._Michael_Baldwin>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/United_States>
44,<http://yago-knowledge.org/resource/A._Michael_Baldwin>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Los_Angeles>
45,<http://yago-knowledge.org/resource/A._Michael_Baldwin>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
46,<http://yago-knowledge.org/resource/A._Michael_Baldwin>,<http://schema.org/birthDate>,"""1963-04-04""^^<http://www.w3.org/2001/XMLSchema#date>"
47,<http://yago-knowledge.org/resource/A._V._M._Rajan>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/British_Raj>
48,<http://yago-knowledge.org/resource/A._V._M._Rajan>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/India>
49,<http://yago-knowledge.org/resource/A._V._M._Rajan>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Pudukkottai>
50,<http://yago-knowledge.org/resource/A._V._M._Rajan>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
51,<http://yago-knowledge.org/resource/A._V._M._Rajan>,<http://schema.org/birthDate>,"""1935-07-26""^^<http://www.w3.org/2001/XMLSchema#date>"
52,<http://yago-knowledge.org/resource/A._V._M._Rajan>,<http://schema.org/knowsLanguage>,<http://yago-knowledge.org/resource/Tamil_language>
53,<http://yago-knowledge.org/resource/A._Veerappan_(actor)>,<http://schema.org/deathDate>,"""2005-08-29""^^<http://www.w3.org/2001/XMLSchema#date>"
54,<http://yago-knowledge.org/resource/A._Veerappan_(actor)>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Pattukkottai>
55,<http://yago-knowledge.org/resource/A._Veerappan_(actor)>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Comedian>
56,<http://yago-knowledge.org/resource/A._Veerappan_(actor)>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
57,<http://yago-knowledge.org/resource/A._Veerappan_(actor)>,<http://schema.org/birthDate>,"""1933""^^<http://www.w3.org/2001/XMLSchema#gYear>"
58,<http://yago-knowledge.org/resource/AJ_Poundz>,<http://schema.org/alumniOf>,<http://yago-knowledge.org/resource/Ghana_Institute_of_Management_and_Public_Administration>
59,<http://yago-knowledge.org/resource/AJ_Poundz>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Accra>
60,<http://yago-knowledge.org/resource/AJ_Poundz>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
61,<http://yago-knowledge.org/resource/AJ_Poundz>,<http://schema.org/birthDate>,"""1990-04-09""^^<http://www.w3.org/2001/XMLSchema#date>"
62,<http://yago-knowledge.org/resource/ATM_Shamsuzzaman>,<http://schema.org/award>,<http://yago-knowledge.org/resource/Ekushey_Padak>
63,<http://yago-knowledge.org/resource/ATM_Shamsuzzaman>,<http://schema.org/image>,<http://commons.wikimedia.org/wiki/Special:FilePath/%E0%A6%8F%E0%A6%9F%E0%A6%BF%E0%A6%8F%E0%A6%AE%20%E0%A6%B6%E0%A6%BE%E0%A6%AE%E0%A6%B8%E0%A7%81%E0%A6%9C%E0%A7%8D%E0%A6%9C%E0%A6%BE%E0%A6%AE%E0%A6%BE%E0%A6%A8.jpg>
64,<http://yago-knowledge.org/resource/ATM_Shamsuzzaman>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/Pakistan>
65,<http://yago-knowledge.org/resource/ATM_Shamsuzzaman>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/British_Raj>
66,<http://yago-knowledge.org/resource/ATM_Shamsuzzaman>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/Bangladesh>
67,<http://yago-knowledge.org/resource/ATM_Shamsuzzaman>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Lakshmipur_District>
68,<http://yago-knowledge.org/resource/ATM_Shamsuzzaman>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Screenwriter>
69,<http://yago-knowledge.org/resource/ATM_Shamsuzzaman>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
70,<http://yago-knowledge.org/resource/ATM_Shamsuzzaman>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Film_director>
71,<http://yago-knowledge.org/resource/ATM_Shamsuzzaman>,<http://schema.org/birthDate>,"""1941-09-10""^^<http://www.w3.org/2001/XMLSchema#date>"
72,<http://yago-knowledge.org/resource/Aa_Jimmy>,<http://schema.org/deathDate>,"""2018-12-22""^^<http://www.w3.org/2001/XMLSchema#date>"
73,<http://yago-knowledge.org/resource/Aa_Jimmy>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Tasikmalaya>
74,<http://yago-knowledge.org/resource/Aa_Jimmy>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
75,<http://yago-knowledge.org/resource/Aa_Jimmy>,<http://schema.org/birthDate>,"""1983-01-15""^^<http://www.w3.org/2001/XMLSchema#date>"
76,<http://yago-knowledge.org/resource/Aadi_(actor)>,<http://schema.org/award>,<http://yago-knowledge.org/resource/Filmfare_Awards_South>
77,<http://yago-knowledge.org/resource/Aadi_(actor)>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/India>
78,<http://yago-knowledge.org/resource/Aadi_(actor)>,<http://schema.org/parent>,"<http://yago-knowledge.org/resource/Sai_Kumar_(actor,_born_1960)>"
79,<http://yago-knowledge.org/resource/Aadi_(actor)>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Andhra_Pradesh>
80,<http://yago-knowledge.org/resource/Aadi_(actor)>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
81,<http://yago-knowledge.org/resource/Aadi_(actor)>,<http://schema.org/birthDate>,"""1987-12-23""^^<http://www.w3.org/2001/XMLSchema#date>"
82,<http://yago-knowledge.org/resource/Aadi_(actor)>,<http://schema.org/knowsLanguage>,<http://yago-knowledge.org/resource/Telugu_language>
83,<http://yago-knowledge.org/resource/Aage_Foss>,<http://schema.org/deathDate>,"""1952-02-08""^^<http://www.w3.org/2001/XMLSchema#date>"
84,<http://yago-knowledge.org/resource/Aage_Foss>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/Denmark>
85,<http://yago-knowledge.org/resource/Aage_Foss>,<http://schema.org/familyName>,<http://yago-knowledge.org/resource/Foss_(surname)>
86,<http://yago-knowledge.org/resource/Aage_Foss>,<http://schema.org/givenName>,<http://yago-knowledge.org/resource/Aage>
87,<http://yago-knowledge.org/resource/Aage_Foss>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
88,<http://yago-knowledge.org/resource/Aage_Foss>,<http://schema.org/birthDate>,"""1885-05-18""^^<http://www.w3.org/2001/XMLSchema#date>"
89,<http://yago-knowledge.org/resource/Aage_Foss>,<http://schema.org/knowsLanguage>,<http://yago-knowledge.org/resource/Danish_language>
90,<http://yago-knowledge.org/resource/Aage_Fønss>,<http://schema.org/deathDate>,"""1976-09-30""^^<http://www.w3.org/2001/XMLSchema#date>"
91,<http://yago-knowledge.org/resource/Aage_Fønss>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/Denmark>
92,<http://yago-knowledge.org/resource/Aage_Fønss>,<http://schema.org/familyName>,<http://yago-knowledge.org/resource/Fønss>
93,<http://yago-knowledge.org/resource/Aage_Fønss>,<http://schema.org/givenName>,<http://yago-knowledge.org/resource/Aage>
94,<http://yago-knowledge.org/resource/Aage_Fønss>,<http://schema.org/birthPlace>,<http://yago-knowledge.org/resource/Aarhus>
95,<http://yago-knowledge.org/resource/Aage_Fønss>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Opera_singer>
96,<http://yago-knowledge.org/resource/Aage_Fønss>,<http://schema.org/hasOccupation>,<http://yago-knowledge.org/resource/Actor>
97,<http://yago-knowledge.org/resource/Aage_Fønss>,<http://schema.org/birthDate>,"""1887-12-12""^^<http://www.w3.org/2001/XMLSchema#date>"
98,<http://yago-knowledge.org/resource/Aage_Fønss>,<http://schema.org/deathPlace>,<http://yago-knowledge.org/resource/Copenhagen>
99,<http://yago-knowledge.org/resource/Aarav_Chowdhary>,<http://schema.org/nationality>,<http://yago-knowledge.org/resource/India>

## Définir les tables IMDB

Le dossier contenant les fichiers csv de IMDB

In [ ]:
dir = drive_dir + "/csvfiles_sample001/"

### Les tables initiales

#### Title
La table Title affecte un identifiant id à un film

In [ ]:
schema_title = """
          id INT, 
          title STRING, 
          imdb_index STRING, 
          kind_id INT, 
          production_year INT, 
          imdb_id INT, 
          phonetic_code STRING, 
          episode_id STRING,
          season_nr INT, 
          episode_nr INT, 
          series_years STRING, 
          md5sum STRING
        """

title = spark.read.csv(path = dir + "title.csv", schema = schema_title).persist()
title.createOrReplaceTempView("Title")
# display(title)

#### Kind_Type et Info_Type
* La table Kind_type
* La table Info_type indique la nature d'un attribut d'information. 

Sert dans Movie_Info, Person_Info

In [ ]:
#============
# Kind_Type
#============
schema_kind_type = "id INT, kind STRING"

kind_type = spark.read.csv(path = dir + "kind_type.csv", schema = schema_kind_type).persist()

kind_type.createOrReplaceTempView("Kind_Type")
# kind_type.printSchema()
# display(kind_type)



#==============
# Info_Type
#==============
schema_info_type = "id INT, info STRING"

info_type = spark.read.csv(path = dir + "info_type.csv", schema = schema_info_type).persist()

info_type.createOrReplaceTempView("Info_Type")
#info_type.printSchema()

display(info_type)

     id                             info
0     1                         runtimes
1     2                       color info
2     3                           genres
3     4                        languages
4     5                     certificates
5     6                        sound mix
6     7                        tech info
7     8                        countries
8     9                         taglines
9    10                         keywords
10   11               alternate versions
11   12                    crazy credits
12   13                            goofs
13   14                       soundtrack
14   15                           quotes
15   16                    release dates
16   17                           trivia
17   18                        locations
18   19                   mini biography
19   20                      birth notes
20   21                       birth date
21   22                           height
22   23                       death date
23   24                           spouse
24   25                      other works
25   26                       birth name
26   27                   salary history
27   28                       nick names
28   29                            books
29   30                    agent address
30   31              biographical movies
31   32                     portrayed in
32   33                        where now
33   34                       trade mark
34   35                       interviews
35   36                          article
36   37             magazine cover photo
37   38                        pictorial
38   39                      death notes
39   40                   LD disc format
40   41                          LD year
41   42                 LD digital sound
42   43         LD official retail price
43   44            LD frequency response
44   45                LD pressing plant
45   46                        LD length
46   47                      LD language
47   48                        LD review
48   49                    LD spaciality
49   50                  LD release date
50   51            LD production country
51   52                      LD contrast
52   53               LD color rendition
53   54                LD picture format
54   55                   LD video noise
55   56               LD video artifacts
56   57               LD release country
57   58                     LD sharpness
58   59                 LD dynamic range
59   60                   LD audio noise
60   61             LD color information
61   62                   LD group genre
62   63               LD quality program
63   64  LD close captions-teletext-ld-g
64   65                      LD category
65   66                   LD analog left
66   67                 LD certification
67   68                 LD audio quality
68   69                 LD video quality
69   70                  LD aspect ratio
70   71                  LD analog right
71   72        LD additional information
72   73       LD number of chapter stops
73   74      LD dialogue intellegibility
74   75                     LD disc size
75   76                 LD master format
76   77                     LD subtitles
77   78       LD status of availablility
78   79             LD quality of source
79   80               LD number of sides
80   81                LD video standard
81   82                    LD supplement
82   83                LD original title
83   84                LD sound encoding
84   85                        LD number
85   86                         LD label
86   87                LD catalog number
87   88               LD laserdisc title
88   89              screenplay-teleplay
89   90                            novel
90   91                         adaption
91   92                             book
92   93      production process protocol
93   94            printed media reviews
94   95                           essays
95   96                 other literature
96   97                             mpaa
97   98                             plot
98   99               votes distribution
99  100                            votes

#### Movie_info

In [ ]:
#==============
# Movie_Info
#==============
schema_movie_info = """
    id int,
    movie_id int,
    info_type_id int,
    info string,
    note string
"""

movie_info = spark.read.csv(path = dir + "movie_info.csv", schema = schema_movie_info).persist()

movie_info.createOrReplaceTempView("Movie_Info")
#movie_info.printSchema()

display(movie_info)

,id,movie_id,info_type_id,info,note
0,11658949,13,16,Italy:29 March 2012,None
1,11659887,434,16,Netherlands:7 January 2013,None
2,11661227,1680,16,USA:11 May 2011,None
3,11661228,1680,16,USA:11 May 2011,None
4,11661771,1841,16,Spain:20 March 2005,None
5,11662532,2907,16,Spain:28 September 2002,None
6,11662603,2977,16,USA:22 August 2011,None
7,11663044,3228,16,USA:27 September 1997,None
8,214865,3228,15,"Two-Tone: [watches Nanny set a yard sale box down] Yard sales! I love yard sales! Actually I hate yard sales, the pros of a yard sale are the great bargains but the cons of a yard sale are that everything is used, eww yuck::Cadpig: Two-Tone... FOCUS!",None
9,214866,3228,15,"Rolly: Anybody want a peanut?... What? It's not like I've offered you some of my food before. Okay, so it's been a while.",None
10,214867,3228,15,Cadpig: Uh-oh! I'm having an out-of-bubble experience!,None
11,214868,3228,15,"Two-Tone: Hi, Mooch. Beautiful morning, isn't it?::Mooch: It was. I can't see it anymore!",None
12,214869,3228,15,"Two-Tone: Oh, Mooch? I just came by to say to you, I have nothing to say to you. If I had anything to say to you, I'd say it to Lucky, my date tonight at the dance.::Mooch: Say what? You always go out with me!::Two-Tone: Correction. Used to go with you, but you didn't ask me; Lucky did.",None
13,214870,3228,15,"Two-Tone: Don't hide, Lucky. I like your new look.::Lucky: No, you don't. Mooch is right. You don't want to be seen with me.::Two-Tone: Yes, I do! You're still Lucky. I think you're cool in any color.::Lucky: Really?::Two-Tone: Yeah.",None
14,214871,3228,15,"Rolly: Hey, watch where you're going, you clumsy box!",None
15,214872,3228,15,"Cadpig: No glitz, no glory.",None
16,214873,3228,15,"Lucky: The farm looks fantastic! Just looking at it makes me feel so... itchy!::Cadpig: What are you so itchy about?::Lucky: I'm itching to go to the dance with Two-Tone.::Cadpig: Someone's been bitten by the puppy love bug.::Lucky: Well, that explains why I itch... but does it explain why I hear music?",None
17,214874,3228,15,"Two-Tone: [to Mooch] I just came by here to say to you that I have nothing to say to you. If I had anything to say to you, I'd say it to Lucky... my date tonight at the dance!",None
18,214875,3228,15,"Two-Tone: Yard sales? I love yard sales! Actually, I hate yard sales. The pros of a yard sale are the bargains, but the cons of a yard sale are that the items are used! Ugh!::Cadpig: Two-Tone? Focus!",None
19,214876,3228,15,Lucky: Where did you learn about this?::Spot: I'm Professor Egghead Science Over-Easy!,None
20,214877,3228,15,"Two-Tone: Hi, Mooch. Beautiful morning, isn't it?::Mooch: It was! I can't see it anymore!",None
21,214878,3228,15,Lucky: I look like a big wad of bubble gum.::Rolly: Then why'd you dye yourself pink? You shoulda picked another color!,None
22,214879,3228,15,Spot: How do you hide an elephant?::Rolly: Maybe we can put him on wheels and disguise him as a vacuum cleaner.::Spot: Or stick little magnets on him and pretend he's a refrigerator.::Cadpig: Or put a saddle on his back and pretend he's a horse with a glandular problem.,None
23,214880,3228,15,"Rolly: Anybody want some peanuts?::[the other pups give strange looks]::Rolly: What? It's not like I've never offered you any of my food before. Okay, so it's been a while.",None
24,214881,3228,15,Cadpig: Uh-oh! I'm having and out-of-bubble experience!,None
25,2873294,3342,2,Color,None
26,8980758,3342,1,90,None
27,4162195,3342,8,USA,None
28,11663164,3342,16,USA:September 2000,None
29,5486968,3342,3,Music,None
30,14695682,3342,9,You pick 'em. We play 'em.,None
31,7021604,3342,4,English,None
32,11663167,3345,16,USA:23 August 2001,None
33,11663315,3493,16,USA:18 August 2006,None
34,11663365,3544,16,USA:17 September 2004,None
35,2873429,3981,2,Color,None
36,8320156,3981,18,"Action Concept Studios, Hürth-Kalscheuren, North Rhine - Westphalia, Germany",(studio)
37,4162328,3981,8,Germany,None
38,8320157,3981,18,"Hürth, North Rhine - Westphalia, Germany",(studio)
39,7021739,3981,4,German,None
40,8320158,3981,18,"North Rhine - Westphalia, Germany",None
41,11663905,3981,16,Germany:22 October 2008,None
42,11663906,3981,16,Hungary:30 June 2009,None
43,11665046,5115,16,USA:16 February 2010,None
44,11665399,5410,16,USA:11 September 2005,None
45,11666349,6416,16,USA:25 November 2005,None
46,11666403,6484,16,USA:19 September 2009,None
47,11666811,6799,16,Germany:7 February 2011,None
48,11667198,7169,16,France:26 December 2006,None
49,11667441,7430,16,USA:26 August 2005,None
50,11667447,7436,16,USA:26 May 2006,None
51,8981085,7946,1,110,None
52,11667978,7946,16,USA:October 2007,None
53,8981169,8031,1,113,None
54,11668062,8031,16,USA:November 2007,None
55,11668188,8292,16,USA:1 June 2011,None
56,813147,8413,17,"Judy Hoffs, the only character who was college educated, was the only officer to reach the rank of Detective",None
57,8320693,8413,18,"Vancouver, British Columbia, Canada",None
58,1495220,8413,103,©1988 by Stephen J. Cannell Productions All Rights Reserved (on print),None
59,8981275,8413,1,USA:60,(with commercials)
60,10257857,8413,7,CAM:Panaflex Camera and Lenses by Panavision,(as Panavision®)
61,10257858,8413,7,"LAB:Alpha Cine Service, Vancouver, Canada",(film lab) (as Alpha Cine)
62,10257859,8413,7,RAT:1.33 : 1,None
63,11668450,8413,16,USA:28 February 1988,None
64,18336,8413,13,"CONT: The surveillance tape shows Tom Hanson turning around and calling out to Amy, before she calls him and drops the bottle of ketchup; but when it is actually shown what happens Tom Hanson calls out to Amy after the bottle is smashed.",None
65,18337,8413,13,"CONT: Before the opening credits, the scene in the convenience store plays out with Amy calling out ""Tom"", dropping the jar, then Tom calling out ""Amy"" and then the gunshot. However, whenever Tom watches the surveillance footage, the video always has him calling out for Amy first.",None
66,1618131,9005,103,Copyright © 2010 Twentieth Century Fox Film Corporation All Rights Reserved #8AFF04,None
67,8981432,9005,1,Germany:44,None
68,2386300,9005,5,Netherlands:12,None
69,8981433,9005,1,45,None
70,2386301,9005,5,USA:TV-14,None
71,9783021,9005,6,Dolby Digital,None
72,2874597,9005,2,Color,None
73,10258102,9005,7,OFM:35 mm,None
74,4163384,9005,8,USA,None
75,10258103,9005,7,PFM:Digital,None
76,7022928,9005,4,English,None
77,10258104,9005,7,RAT:1.78 : 1,None
78,11669745,9005,16,Canada:18 January 2010,None
79,11669746,9005,16,USA:18 January 2010,None
80,11669747,9005,16,UK:31 January 2010,None
81,11669748,9005,16,Australia:9 February 2010,None
82,11669749,9005,16,Germany:15 March 2010,None
83,11669750,9005,16,Netherlands:12 September 2010,None
84,11669751,9005,16,Finland:21 September 2010,None
85,11669752,9005,16,Hungary:8 December 2010,(DVD premiere)
86,11669753,9005,16,Japan:23 December 2010,(Blu-ray & DVD premiere)
87,11670029,9256,16,USA:6 May 1958,None
88,11670152,9376,16,Denmark:15 November 2007,None
89,2874739,9376,2,Color,None
90,4163497,9376,8,Denmark,None
91,7023074,9376,4,Danish,None
92,8320782,9597,18,"Lyric Theatre, Shaftesbury Avenue, London, England, UK",(musical sequence)
93,11670381,9597,16,UK:16 November 1974,None
94,11670542,9769,16,USA:19 August 2004,None
95,11671027,10280,16,UK:25 February 1984,None
96,11671080,10331,16,UK:11 February 1984,None
97,11671391,10750,16,USA:29 August 2009,None
98,11672626,11564,16,Australia:14 July 2012,None
99,8981761,12020,1,15,None

#### Cast_Info

In [ ]:
#==============
# Cast_Info
#==============
schema_cast_info = """
  id int,
  person_id int,
  movie_id int,
  person_role_id int,
  note string,
  nr_order int,
  role_id int
"""

cast_info = spark.read.csv(path = dir + "cast_info.csv", schema = schema_cast_info).persist()

cast_info.createOrReplaceTempView("Cast_Info")
#cast_info.printSchema()

display(cast_info)

,id,person_id,movie_id,person_role_id,note,nr_order,role_id
0,16255404,2202581,434,2671901.0,None,9.0,2
1,31519800,3558778,434,NaN,None,NaN,9
2,16668206,2256708,434,2264435.0,None,2.0,2
3,1148671,159670,434,271127.0,None,1.0,1
4,18308464,2464312,434,2922782.0,None,NaN,2
5,3164925,423423,434,9407.0,None,NaN,1
6,19291922,2593019,434,3040044.0,None,4.0,2
7,5264485,705755,434,1013996.0,None,3.0,1
8,19618701,2634949,434,2182050.0,None,5.0,2
9,5806077,786248,434,1107705.0,None,6.0,1
10,27721477,3312885,434,NaN,None,NaN,5
11,10861176,1487801,434,955345.0,None,8.0,1
12,12920066,1770691,434,2194685.0,None,7.0,2
13,33055709,3714443,1680,NaN,(production assistant),NaN,10
14,2912973,387262,1680,53.0,None,NaN,1
15,21230535,2801406,1680,NaN,(post producer),NaN,3
16,21524423,2826019,1680,NaN,(supervising producer),NaN,3
17,22622086,1084034,1680,NaN,(executive producer),NaN,3
18,22800281,2943775,1680,NaN,(producer),NaN,3
19,22918278,2955833,1680,NaN,(producer),NaN,3
20,30278049,3304029,1680,NaN,None,NaN,8
21,7730160,1053812,1841,1.0,None,NaN,1
22,18271798,2460407,2907,270846.0,None,NaN,2
23,18697034,2514889,2977,18504.0,(Angry Wife),NaN,2
24,31078208,3530014,2977,NaN,None,NaN,9
25,19890569,2668534,2977,15800.0,None,NaN,2
26,31134990,987079,2977,NaN,None,NaN,9
27,20370348,115891,2977,NaN,(executive producer),NaN,3
28,31261248,1190579,2977,NaN,None,NaN,9
29,20641979,229095,2977,NaN,(story producer),NaN,3
30,31468925,1519016,2977,NaN,None,NaN,9
31,22474291,2913596,2977,NaN,(executive producer),NaN,3
32,31689471,3230279,2977,NaN,(production assistant),NaN,10
33,22826175,2946333,2977,NaN,(associate producer),NaN,3
34,33645900,2868803,2977,NaN,(vice president of development),NaN,10
35,22875270,1204470,2977,NaN,(story producer),NaN,3
36,34572943,3175881,2977,NaN,(researcher),NaN,10
37,23523736,3010112,2977,NaN,(associate producer),NaN,3
38,34807912,1283294,2977,NaN,(production assistant),NaN,10
39,25735322,2913596,2977,NaN,None,NaN,4
40,35273062,1467285,2977,NaN,(animal trainer),NaN,10
41,26880882,44453,2977,NaN,None,NaN,5
42,35358334,3971223,2977,NaN,(production coordinator),NaN,10
43,28223047,3373071,2977,NaN,None,NaN,6
44,2179445,293854,2977,534.0,None,NaN,1
45,2298085,309091,2977,1.0,None,NaN,1
46,10394207,1417428,2977,2381.0,None,NaN,1
47,10556082,1442338,2977,436.0,(U.K. broadcast only),NaN,1
48,12089685,1658620,2977,2072314.0,None,NaN,1
49,13722007,1871636,2977,2320963.0,None,NaN,2
50,14407333,1958821,2977,39026.0,None,NaN,2
51,14407334,1958821,2977,28033.0,None,NaN,2
52,60862,9656,3228,19278.0,(voice),15.0,1
53,18141402,2443462,3228,99274.0,(voice),11.0,2
54,892289,125126,3228,212306.0,(voice),4.0,1
55,18978952,2553967,3228,3002953.0,(voice),2.0,2
56,892290,125126,3228,212307.0,(voice),4.0,1
57,19121458,2572156,3228,295182.0,(voice) (as Tara Charendoff),3.0,2
58,892291,125126,3228,212308.0,(voice),4.0,1
59,19121459,2572156,3228,797172.0,(voice) (as Tara Charendoff),3.0,2
60,892292,125126,3228,212309.0,(voice),4.0,1
61,19121460,2572156,3228,2275242.0,(voice) (as Tara Charendoff),3.0,2
62,892293,125126,3228,212310.0,(voice),4.0,1
63,19931100,2673992,3228,2261562.0,(voice),5.0,2
64,2313918,310784,3228,142071.0,(voice),14.0,1
65,20643950,2747601,3228,NaN,(executive producer),NaN,3
66,2980013,396894,3228,53312.0,None,NaN,1
67,20864643,2767909,3228,NaN,(executive producer),NaN,3
68,12118417,1663347,3228,186644.0,(voice),6.0,1
69,21343285,534643,3228,NaN,(executive producer),NaN,3
70,12118418,1663347,3228,2077148.0,(voice),6.0,1
71,21860628,750213,3228,NaN,(executive producer),NaN,3
72,12154871,1667114,3228,36325.0,(voice),NaN,1
73,25767954,1037906,3228,NaN,(writer),NaN,4
74,12713062,1744984,3228,2230.0,(voice) (as Pamela Segall),1.0,2
75,13802420,1879673,3228,2330316.0,(voice),16.0,2
76,13802421,1879673,3228,649932.0,(voice),16.0,2
77,16045276,2173288,3228,3129.0,(voice) (uncredited),NaN,2
78,20320074,2720370,3342,NaN,(segment producer),NaN,3
79,1832,505,3342,53.0,(2000-2005),1.0,1
80,21388533,2815148,3342,NaN,(associate producer),NaN,3
81,14921889,2023792,3342,46773.0,(2000-2005),2.0,2
82,21513831,2825107,3342,NaN,(senior producer),NaN,3
83,31526365,3559310,3342,NaN,None,NaN,9
84,21613785,2833343,3342,NaN,(senior executive producer),NaN,3
85,31615473,3565387,3342,NaN,(associate director),NaN,10
86,21616087,640534,3342,NaN,(supervising producer),NaN,3
87,31736036,3578632,3342,NaN,(teleprompter operator),NaN,10
88,21696608,2841048,3342,NaN,(executive producer),NaN,3
89,31736957,3578746,3342,NaN,(production coordinator),NaN,10
90,21955895,2174104,3342,NaN,(consulting producer) (2001),NaN,3
91,32061696,3612613,3342,NaN,(technical engineer),NaN,10
92,21955896,2174104,3342,NaN,(contents producer) (2001),NaN,3
93,32312157,3639369,3342,NaN,(technical manager),NaN,10
94,22448932,2302020,3342,NaN,(senior creative producer),NaN,3
95,32328582,3641142,3342,NaN,(audience coordinator),NaN,10
96,22749468,2939379,3342,NaN,(associate producer),NaN,3
97,32525393,3660322,3342,NaN,(fashion stylist),NaN,10
98,23245345,2985931,3342,NaN,(producer),NaN,3
99,33047404,3713421,3342,NaN,(stage manager),NaN,10

#### Role_type

In [ ]:
#=============
# Role_Type
#=============
schema_role_type = "id INT, role STRING"

role_type = spark.read.csv(path = dir + "role_type.csv", schema = schema_role_type).persist()

role_type.createOrReplaceTempView("Role_Type")
#role_type.printSchema()

display(role_type)

    id                 role
0    1                actor
1    2              actress
2    3             producer
3    4               writer
4    5      cinematographer
5    6             composer
6    7     costume designer
7    8             director
8    9               editor
9   10   miscellaneous crew
10  11  production designer
11  12                guest

#### Name
La table Name affecte un identifiant id à une personne

In [ ]:
#==============
# Name 
#==============
schema_name = """
  id int,
  name string,
  imdb_index string,
  imdb_id int,
  gender string,
  name_pcode_cf string,
  name_pcode_nf string,
  surname_pcode string,
  md5sum string
"""

name = spark.read.csv(path = dir + "name.csv", schema = schema_name).persist()

name.createOrReplaceTempView("Name")
#name.printSchema()

display(name)

,id,name,imdb_index,imdb_id,gender,name_pcode_cf,name_pcode_nf,surname_pcode,md5sum
0,333,"5, Johnny",None,NaN,m,J5,None,None,c845df6a62d46f897c7620f00f1e97a5
1,339,50 Cent,None,NaN,m,C53,None,None,faba8d4ac1b5880ef64a5de3ea7d1fa9
2,400,"A El Rahim, Ahmed",None,NaN,m,A4653,A5346,A465,9698c31ec0eb8b38172ae89e8c67b028
3,457,"A., Kodanda Rami Reddy",None,NaN,m,A2353,K3536,A,64223f8728574d3dce39126c365b5dc9
4,471,"A., Randy",None,NaN,m,A653,R53,A,b5301fd59f93e50ab8893e9b80e3a35a
5,624,"Aaker, Lee",None,NaN,m,A264,L26,A26,e15546bb152954e379a3554c28125661
6,673,"Aalto, Kari",None,NaN,m,A4326,K643,A43,8ad8a724a6ef5f40400c149162e12821
7,750,"Aames, Willie",None,NaN,m,A524,W452,A52,f983dd44bb1392c1575dfe5ffb087e1b
8,763,"Aamund, Asger",None,NaN,m,A5326,A2653,A53,0b6579030aba0724f451098c3bd533db
9,771,"Aanensen, Peter",None,NaN,m,A5251,P3652,A525,1d4412351d4d6c5cfd6eb93eea053f25
10,840,"Aarnseth, Marcus Mathias",None,NaN,m,A6523,M6253,None,24d6c97ecdf1a926ed20534c2a2f78bf
11,1044,"Aarup-Sørensen, Malte",None,NaN,m,A6126,M4361,None,612642e95e61b1fc99e077a0ec2b52f2
12,1167,"Abacan, Jose Mari",None,NaN,m,A1252,J2561,A125,06f8d8a8e7df8e7887ea7e7c7a671b8c
13,1246,"Abadal, Ignasi",None,NaN,m,A1342,I2521,A134,ba871ea3beac14ecd206b51124a10126
14,1385,"Abalos, Jason",None,NaN,m,A1425,J2514,A142,7c7a901c8c18e76d7425c26722d9cbdf
15,1386,"Abalos, Jing",None,NaN,m,A1425,J5214,A142,62a10b012b2773ed13a5158f39701e90
16,1485,"Abascal, Ramón",None,NaN,m,A1246,R5124,A124,012defeeb7876e0fb4a0bbe635ff49e0
17,1521,"Abatantuono, Diego",None,NaN,m,A1353,D2135,None,91761d9dac3f6cf9bbd937caba55f695
18,1668,"Abbas, Abdullah",None,NaN,m,A1213,A1341,A12,75d32dda4f991d7bd54a97acab864989
19,1736,"Abbas, Waseem",I,NaN,m,A125,W2512,A12,c0adab4426668e18ae2ee62c6796dc26
20,1745,"Abbas, Zaheer",I,NaN,m,A126,Z612,A12,16e68b0b1d9e999ac96449916bdeb726
21,1776,"Abbasov, Gyunduz",None,NaN,m,A1212,G5321,A121,d9e62418630d32b057f90fa6821c56f7
22,1989,"Abbott, Bud",None,NaN,m,A1313,B313,A13,21dbf662a05f4aa192d3d617f336044e
23,2038,"Abbott, Fredric",None,NaN,m,A1316,F6362,A13,44061c42860f1265c7e48b614f855c80
24,2066,"Abbott, Jamie",I,NaN,m,A1325,J513,A13,ea08b9950f7e1aa9579d2d2d3bf9a148
25,2133,"Abbott, Philip",None,NaN,m,A1314,P413,A13,48cc3d70547e526ab8065f1fb1c13bb3
26,2366,"Abdel, Sharif",None,NaN,m,A1342,S6134,A134,34064d8be229c24544130fe9934f708b
27,2796,"Abduljawad, Anas",None,NaN,m,A1342,A5213,None,08165bc8d51d5487d342e923d3f213f6
28,2890,"Abdullah, Rabih",None,NaN,m,A1346,R134,A134,3202740cdfb83fec7f23ea7c5bedefcc
29,3085,"Abe, Roberto",None,NaN,m,A1616,R1631,A1,503103d264bdfa942b6a5a79913e6655
30,3121,"Abe, Tôru",None,NaN,m,A136,T61,A1,139f60a00529b7048ff69a1f8b690e67
31,3369,"Abele, Jim",I,NaN,m,A1425,J514,A14,2de3acc801c15caa5345844730ed1687
32,3392,"Abeles, Nicolás",None,NaN,m,A1425,N2421,A142,a96ea6bd4554e7cf093f6b3049680fa8
33,3394,"Abelesz, Israel",None,NaN,m,A1426,I2641,A142,cf3a5b3e5241b5a498790ee34c1da240
34,3454,"Abella, Rey",None,NaN,m,A146,R14,A14,2bee781d1686fe753fdbed36d6d91362
35,3482,"Abello, Jorge Enrique",None,NaN,m,A1426,J6256,A14,7ba58695b2486725ac40d6782f586541
36,3518,"Abelson, Daniel",None,NaN,m,A1425,D5414,None,cd795288ba9ef64371f5e6c17d8be617
37,3892,"Abineri, Daniel",None,NaN,m,A1563,D5415,A156,8016db2f14217fee89f76d3fcae50767
38,3904,"Abiodun, Afeez",None,NaN,m,A1351,A1213,A135,cabae8ef7c51db9ef218227456a101d6
39,3928,"Abisror, Slade",None,NaN,m,A1262,S4312,A126,009df9615b73b9084d20e4297eb52f33
40,3963,"Abkarian, Simon",None,NaN,m,A1265,S5126,None,fa9a6747507dc95f1d7374a053d517c7
41,3976,"Ablaza, Rolly",None,NaN,m,A1426,R4142,A142,3025e3e749d7b3588f9be95242192251
42,4024,"Ablinger, Franz",None,NaN,m,A1452,F6521,None,d91efb7c0ca2e5b242800d848749c2ed
43,4063,"Abney, Kenny",III,NaN,m,A1525,K515,A15,56a455a16d75dfe24ecd7f91977941c9
44,4113,"Abolo, J.R.",None,NaN,m,A1426,J614,A14,c8803d15512ec484f1910d77c491a3e2
45,4318,"Abraham, Arthur",II,NaN,m,A1656,A6361,A165,515c4abe9606fa6822f24d00c28a492a
46,4356,"Abraham, Falconer",None,NaN,m,A1651,F4256,A165,d05ba576ed0dd0588b28ee28b7ff5fc2
47,4382,"Abraham, Jorge",None,NaN,m,A1652,J6216,A165,75dac53e723b965f6ded316577f70bb8
48,4406,"Abraham, Morris",None,NaN,m,A1656,M6216,A165,3f8a23dbcb86a7e1c57be8375fcb2418
49,4523,"Abrahams, Mort",None,NaN,m,A1652,M6316,None,5cac155544a2e1ddfb863899822becba
50,4536,"Abrahamsen, Christer",None,NaN,m,A1652,C6236,None,0b35eb99edae364739de0ba97da32a28
51,4549,"Abrahamsen, Svend",None,NaN,m,A1652,S1531,None,e42f458c61e11a2d6fc6be4cefa69857
52,4627,"Abram, Martin Maria",None,NaN,m,A1656,M6356,A165,d10da6fe9387a6ae75499e6d1d5dbf25
53,4662,"Abramoff, Jack",None,NaN,m,A1651,J2165,None,c01888cb371ac6b878f0df89e90ab484
54,4805,"Abrams, J.J.",None,NaN,m,A1652,J2165,None,8bc4ab5c3254a3a09aa2e2cfb0b6839f
55,4807,"Abrams, Jacob",III,NaN,m,A1652,J2165,None,8431942dedc6b2b595706f61586a4794
56,4887,"Abramsky, David",II,NaN,m,A1652,D1316,None,69fa413b928ae9643cb5f0acd841b710
57,5050,"Abreu, Jorge Luis",None,NaN,m,A1626,J6242,A16,755ae9727fc6c99258deb898687f50a9
58,5273,"Abston, Melvin",None,NaN,m,A1235,M4151,None,9d82e7f056baee65daa91a8d908bd51b
59,5358,"Abu Wardeh, Yosef",None,NaN,m,A1632,Y2163,A163,2b330b02176207b6b380845ccbdcd8c6
60,5407,"Abu-Warda, Yussuf",None,NaN,m,A1632,Y2163,A163,120446b31fda2624a97774b399514077
61,5633,"Acaiabe, João",None,NaN,m,A212,J21,A21,5e1b1884dd5d28b88e58925032e9f60d
62,5803,"Accornero, Roberto",None,NaN,m,A2656,R1632,None,a447d5e34af881ee0f7574f64890b0cf
63,5862,"Acebal, Fernando",None,NaN,m,A2141,F6532,A214,45eb1efb6499790daf38568c7448c6f7
64,6014,"Acevedo, Ian",None,NaN,m,A2135,I5213,A213,e07cee66d47422aaaf657a7ab600d15f
65,6041,"Acevedo, Martin",None,NaN,m,A2135,M6352,A213,99203904a96d7617516ed41812b3e39b
66,6152,"Achard, Marcel",I,NaN,m,A2635,M6242,A263,57ab3861b8ecf68fa6d277997d3774e1
67,6154,"Achard, Olivier",None,NaN,m,A2634,O4162,A263,3459ee592ce021c05eb1676d6e43408c
68,6172,"Acharya, Ganesh",None,NaN,m,A2625,G526,A26,2295bb9afa9591d94fc13658bb6d7196
69,6282,"Achiles, Jeynard",None,NaN,m,A2425,J5632,A242,35ff73e02277c20cc9076365a8015818
70,6297,"Achilles, John",None,NaN,m,A2425,J5242,A242,3a7ef6f2b2407cd36cb58c436753c7b0
71,6388,"Achter, Klaus",None,NaN,m,A2362,K4236,A236,d81afb292d32280d49d5abb28abf8e1c
72,6434,"Acimovic, Dejan",None,NaN,m,A2512,D2525,None,eb3c983dd65a1833d350eeb3d37980ed
73,6466,"Acker, Berko",None,NaN,m,A2616,B626,A26,3e24483c2e0f81f0285018303f9c8fb4
74,6551,"Ackerman, James",None,NaN,m,A2652,J5265,A265,a1eb6e97d8321effa3f1b52d776b978d
75,6699,"Ackles, Jensen",None,NaN,m,A2425,J5252,A242,367a2652d8c3d084303688751da69d5d
76,6737,"Ackroyd, David",I,NaN,m,A2631,D1326,A263,fab21d131e8600db4dead9e6d3fcc244
77,6740,"Ackroyd, Jack",I,NaN,m,A2632,J263,A263,d21ccbbc640d5831f21facde252641d0
78,6892,"Acosta, Christian",None,NaN,m,A2326,C6235,A23,bf04a195e99cea538f20bb27e4512972
79,7045,"Acosta, Roberto",None,NaN,m,A2361,R1632,A23,b93b56dc02da06c5a6af46deecf7213f
80,7056,"Acosta, Sergio",I,NaN,m,A2326,S623,A23,1e73bff4f9d919c823c3df1879a898c5
81,7162,"Acs, Gabriel Utke",None,NaN,m,A2164,G1643,A2,6b3dea84f69c71a6c79980070908e331
82,7185,"Acton, David",I,NaN,m,A2353,D1323,A235,0693597cd22605392ff4ebd1aaebc3d4
83,7240,"Acuna, Dodie",None,NaN,m,A253,D325,A25,bac90571d66904b3970a82609d9207d8
84,7268,"Acuña, Aldo",None,NaN,m,A243,A432,A2,15f15f8b558da82edb3685c14170cc29
85,7271,"Acuña, Arthur",None,NaN,m,A2636,A6362,A2,35b1f93db0404683d05217753e941a21
86,7296,"Acuña, Jason 'Wee Man'",None,NaN,m,A25,J252,A2,9e6fec06d21d9d3b34103f26d44f91b8
87,7436,"Adair, Jessica",None,NaN,m,A362,J236,A36,0021b030bcb6c280b829691c2b4a8a41
88,7454,"Adair, Mendy",None,NaN,m,A3653,M536,A36,95934e7e8b5d6f3599b5e7eeddd7e419
89,7469,"Adair, Robyn",None,NaN,m,A3615,R1536,A36,7d1bb1b0dd85337f62e57a8f01af2206
90,7474,"Adair, Starla",None,NaN,m,A3623,S3643,A36,19af3b99f72592f8febcaed36695a30c
91,7482,"Adair-Rios, Mark",None,NaN,m,A3625,M6236,A362,0fe985814545a55f9db2521964d7f334
92,7555,"Adam, Alfred",None,NaN,m,A3541,A4163,A35,299203c86e6a7f1cfce17998fc4a9cc0
93,7639,"Adam, John",None,NaN,m,A3525,J535,A35,20a30db0838a9d57d9adbbb8a91d8733
94,7754,"Adamantiadis, Marcos",None,NaN,m,A3532,M6235,None,cae127ace650e231895d3ca8540f65b3
95,7766,"Adamczak, Alfred",None,NaN,m,A3524,A4163,A352,9f810e511b9abfccaae85efedec24dec
96,7822,"Adamec, Jirí",None,NaN,m,A3526,J6352,A352,98cb8be3aa5048fab78c855c6a16abb8
97,7825,"Adamec, Lukás",None,NaN,m,A3524,L2352,A352,5095421885465f116cf77777b010ebcc
98,7915,"Adamo, Antonio",None,NaN,m,A3535,A5353,A35,703b6dd48dad5980b9d12e6b79bbb989
99,7956,"Adamos, Archie",None,NaN,m,A3526,A6235,A352,610b74e761397477cbaed6e2c9f2df3b

#### Person_Info

In [ ]:
#==============
# Person_Info
#==============
schema_person_info = """
  id int,
  person_id int,
  info_type_id int,
  info string,
  note string
"""

person_info = spark.read.csv(path = dir + "person_info.csv", schema = schema_person_info).persist()
person_info.createOrReplaceTempView("Person_Info")

display(person_info)

,id,person_id,info_type_id,info,note
0,302,333,33,(2012) Portlandia,None
1,303,333,26,"Martini-Connally, John",None
2,304,333,20,"Los Angeles, California, USA",None
3,305,333,17,"Has worked & studied alongside studio engineer giants like 'Kelley Baker (I)' (qv), 'Wayne Woods (I)' (qv), 'Paul Nelson (VIII)' (qv), 'John Neff' (qv), 'Russ Gorsline' (qv), 'Colin O'Neill (I)' (qv), 'Matt Meyer (II)' (qv), Brent Rogers, Randy Johnson, and 'Will Vinton' (qv).",None
4,306,333,17,Bachelors in Digital Media Production from the Art Institute of Portland.,None
5,307,333,17,Nephew of writer/director 'Richard Martini (I)' (qv).,None
6,308,333,17,Related to former Texas Governor & U.S. Secretary of the Treasury 'John Connally (I)' (qv).,None
7,309,333,21,7 September 1984,None
8,310,339,37,"""Big Fish"" (Greece), 4 June 2006, Iss. 28",None
9,311,339,37,"""Hitkrant"" (Netherlands), 19 March 2005, Iss. 11",None
10,312,339,37,"""The Source"" (USA), October 2003, Iss. 169",None
11,313,339,37,"""Breakout!"" (Netherlands), 7 August 2003, Iss. 33",None
12,314,339,37,"""Dub"" (USA), 2003, Iss. 15",None
13,315,339,25,"Single: ""In Da Club"" (2003)",None
14,316,339,25,"Single: ""P.I.M.P."" (2003)",None
15,317,339,25,"Music video for 'Lloyd Banks' (qv): ""On Fire""",None
16,318,339,25,"Music video for 'Lloyd Banks' (qv): ""I'm So Fly"" (also co-director).",None
17,319,339,25,"Music video for 'Young Buck' (qv): ""Shorty Wanna Ride""",None
18,320,339,25,"Music video for 'Lloyd Banks' (qv): ""Karma""",None
19,321,339,25,"Music video for 'Young Buck' (qv): ""Let Me In""",None
20,322,339,25,"Music video for 'Eminem' (qv): ""Like Toy Soldiers""",None
21,323,339,25,"Music video for 'Game' (qv): ""How We Do""",None
22,324,339,25,"Album: ""Get Rich or Die Tryin',"" Shady/Aftermath/Interscope/Universal Records 493 544, 2003.",None
23,325,339,25,"Music video for 'Eminem' (qv): ""Sing for the Moment""",None
24,326,339,25,"Album: ""The Massacre,"" Shady/Aftermath/Interscope/Universal Records 210 388, 2005.",None
25,327,339,25,"Single: ""Candy Shop"" (March 2005)",None
26,328,339,25,"Single: ""Disco Inferno"" (2005)",None
27,329,339,25,"Single: ""How We Do"" (2005)",None
28,330,339,25,"Album: ""Power of the Dollar"" (1999) (unreleased)",None
29,331,339,25,"Album: ""Guess Who's Back?"" (2002)",None
30,332,339,25,2005: TV commercial for Reebok.,None
31,333,339,25,"Album: ""Just a Lil Bit"", 2005.",None
32,334,339,25,"Single: ""Just a Lil Bit"" (May-June 2005)",None
33,335,339,25,"2005: Directed music video for Olivia feat. 'Lloyd Banks' (qv), ""Twist It"".",None
34,336,339,25,2005: Public service announcement for The ONE Campaign [www.one.org],None
35,337,339,25,"Music video for 'Game' (qv): ""Hate It Or Love It""",None
36,338,339,25,"Music video for 'Tony Yayo' (qv): ""So Seductive""",None
37,339,339,25,"Music video for 'Young Buck' (qv): ""Look At Me Now/Bonafide Hustler""",None
38,340,339,25,"Music video for Olivia: ""Twist It""",None
39,341,339,25,"Appears in 'Tony Yayo' (qv)'s video ""Curious"" (2005)",None
40,342,339,25,2006: Print ad for Glacéau vitamin water.,None
41,343,339,25,"Music video for 'Ciara (I)' (qv): ""Can't Leave 'Em Alone""",None
42,344,339,25,"Album: ""Curtis,"" Shady/Aftermath/Interscope/Universal Records 173 340, 2007.",None
43,345,339,25,TV commercial for Vitamin Water,None
44,346,339,25,"Music video for Eminem: ""We Made You""",None
45,347,339,25,"Music video for Wisin & Yandel: ""Mujeres In The Club""",None
46,348,339,25,"(2011) Music video for Jeremih: ""Down On Me""",None
47,349,339,25,"(2011) Music video for Nicole Scherzinger: ""Right There""",None
48,350,339,28,Interscope,None
49,351,339,28,Fiddy,None
50,352,339,28,Boo Boo,None
51,353,339,35,"""Parade"" (USA), 27 June 2010, pg. 2, by: Walter Scott, ""Walter Scott asks...50 Cent""",None
52,354,339,35,"""Süddeutsche Zeitung"" (Germany), 30 June 2007, by: Jonathan Fischer, ""50 Cent über Verantwortung""",None
53,355,339,35,"""Big Fish"" (Greece), 4 June 2006, Iss. 28, pg. 44-47, by: Lynley Dwight, ""Otan enas andras einai gnostos ginetai issaxios me mia goiteftiki gineka""",None
54,356,339,35,"""Stuff"" (USA), November 2005, Vol. 8, Iss. 11, pg. 118-119, by: Sean Fennessey, ""50 Cent Sees the Light""",None
55,357,339,35,"""Maxim"" (USA), November 2005, Vol. 9, Iss. 11, pg. 81, ""50's Sense: He's got a new movie, a video game, and a whole mess of other stuff, but 50 Cent still can't bring Dave Chappelle back.""",None
56,358,339,35,"""FHM"" (USA), August 2005, Iss. 59, pg. 54, ""'Q&A': 50 Cent""",None
57,359,339,35,"""Blender"" (USA), April 2005, Vol. 4, Iss. 3, pg. 66-69, by: Weiner, Jonah, """"Dear Superstar""""",None
58,360,339,35,"""Playboy"" (USA), April 2004, Vol. 51, Iss. 4, pg. 61-65+139-142, by: Rob Tannenbaum, ""The Playboy Interview: 50 Cent""",None
59,361,339,35,"""Playboy"" (USA), August 2003, Vol. 50, Iss. 8, pg. 30, by: Dewey Hammond, ""Phoning It In: 50 Cent""",None
60,362,339,35,"""Blender"" (US / UK), June 2003, Iss. 17, pg. 102, by: Jonah Weiner, ""How will 50 Cent, the planet's hottest rapper, spend his summer?""",None
61,363,339,19,"Born in the South Jamaica section of Queens, Curtis ""50 Cent"" Jackson has lived in New York City all his life. Raised by his grandparents after his father ran out and his mother was shot when he was only eight. Growing up, the Queens rapper originally wanted to be a heavyweight boxer, but eventually fell back on rapping. DJs had taken it upon themselves to release two Best of 50 Cent mix CDs, before he had even signed to a major label. 50 Cent hit the scene with ""How To Rob"" and he's been on a rampage ever since dealing with bootleggers, label back stabbing and other platinum selling artists trying to get at him physically. In 1999 his album Power of the Dollar, was heavily bootlegged and Trackmasters/Columbia never released it. Supposedly, Trackmasters weren't comfortable with him being caught up in the streets and getting shot three days before filming the video for ""Thug Love,"" (with Destiny's Child) -- his first single. 50 was shot three times that night, two shots hitting him in the head, the bullet that struck his face he carries as a reminder of what happened. That event led to the fall out with Columbia and negotiating his release from their grasps. He still showed love and rhymed over a Trackmasters produced remix of ""I'm Gonna Be Alright"" on J-Lo's latest album, but rivals at Murder Inc. had 50 cut from the track which could have launched the rapper. This all changed in one night when Eminem said on a radio show that ""50 Cent is definitely my favorite rapper right now, he's the only one keeping it real."" The very next day a bidding war started on 50, ending when 50 signed to Eminem's very own label Shady/Aftermath. 50 Cent's fame has exploded, being produced by Dr. Dre and Eminem and finally making his debut album ""Get rich or Die Tryin'."" 50 has full access and advantage of the streets through mix-tapes; that's his forum because he controls it. 50 Cent is the most anticipated artist of 2003. It's well deserved because he's ""been patiently waiting.""",Rod Reece
62,364,339,22,6',None
63,365,339,15,The only thing that I'm scared of is not livin' up to the expectations of 'Dr. Dre' (qv) and 'Eminem' (qv).,None
64,366,339,15,"[on his feud with rapper 'Ja Rule' (qv)] Right now he's desperate. He should be talking about me, not 'Eminem' (qv) and ['Dr. Dre' (qv)] and everybody else. He'll lose, he knows that. The route that he has to take is the ""I'm a mad gangsta"" hardcore route, and ain't nobody gonna believe him.",None
65,367,339,15,In Hollywood they say there's no business like show business. In the hood they say there's no business like ho' business.,None
66,368,339,15,"I'm not trying to save the world. As a musician and artist, it just ain't me.",None
67,369,339,15,A man becomes as attractive as an attractive woman when he becomes successful and is publicly noted. Power's an aphrodisiac.,None
68,370,339,15,I think it's easier for the general public to embrace me in a negative way. You have people who already have a perception of me that says I'm a bad person.,None
69,371,339,15,I don't display emotions. I have every feeling that everyone else has but I've developed ways to suppress them. Anger is one of my most comfortable feelings.,None
70,372,339,15,"In my neighborhood if you're too aggressive, you intimidate someone, they kill you. Or if you decide to be emotional and you start crying, you're a victim. You know, the kid in the schoolyard that doesn't want to fight always leaves with a black eye. You have to find a way to stay in the middle, somewhere where people just don't mess with you because they know that you don't have a problem with it if it goes there.",None
71,373,339,15,"[on his feuds with many of his fellow rappers, such as 'Nas' (qv), 'Jadakiss' (qv), 'Fat Joe' (qv), 'Shyne' (qv), 'Game' (qv), 'Ja Rule' (qv), 'Sheek Louch' (qv) and 'Styles P.' (qv), among others] If they keep comin' at me, I'll just keep responding back until they don't exist anymore. I got the time and energy to ruin what is left of their careers, if they want to do that.",None
72,374,339,15,"A lot of kids join the army to get a college education. That's why they do it, and they get sent into these horrible situations.",None
73,375,339,15,I got a chance to watch a lot of my mother's sisters and brothers at different periods experiment with the use of drugs or alcohol and I see them respond so differently that I stay away...I've had an experience (with alcohol) that made me paranoid because of it and I stayed away from it following that.,None
74,376,339,20,"Queens, New York City, New York, USA",None
75,377,339,29,"Mary Boone. _50 Cent._ Hockessin, DE: Mitchell Lane Publishers, 2006. ISBN 158415523X",None
76,378,339,29,"Hal Marcovitz. _50 Cent._ Broomall, PA: Mason Crest Publishers, 2007. ISBN 1422202623",None
77,379,339,29,"50 Cent and Noah Callahan-Bever. _50 X 50: 50 Cent in His Own Words._ New York: Pocket Books, 2007. ISBN 1416544712",None
78,380,339,29,50 Cent. _From Pieces to Weight._,None
79,381,339,38,"""Metro"" (Netherlands), 4 May 2012",None
80,382,339,38,"""Spits"" (Netherlands), 9 December 2009, by: Brunopress, ""50 cent wil duet met Susan Boyle""",None
81,383,339,38,"""TVFilm"" (Netherlands), 5 December 2009, Vol. 25, by: Righteous Kill/Moonlight, ""Als je voor 50 cent geboren bent...""",None
82,384,339,33,"(June 2003) Currently touring everywhere possible with artists like Busta Rhymes, Snoop Dogg, Jay-Z, Sean Paul, Chingy, and Bone Crusher on the Roc Tha Mic Tour.",None
83,385,339,36,"""Spits"" (Netherlands), 9 December 2009, ""50 cent wil duet met Susan Boyle""",None
84,386,339,36,"""TVFilm"" (Netherlands), 5 December 2009, Vol. 25, ""Als je voor 50 cent geboren bent...""",None
85,387,339,36,"""The Orlando Sentinel"" (USA), 9 November 2008, by: Choire Sicha, ""50 Cent: The New King of All Media""",None
86,388,339,36,"""Contra Costa Times"" (USA), 24 October 2008, by: The Associated Press, ""Rapper 50 Cent Settles NY Visitation Issue""",None
87,389,339,36,"""The New York Times"" (USA), 3 July 2008, Vol. 157, Iss. 54,360, pg. E1 & E5, by: Jon Caramanica, ""A Hungry 50 Cent, Working Hard for the Money""",None
88,390,339,36,"""The New York Times"" (USA), 31 May 2008, Vol. 157, Iss. 54,327, pg. B4, by: Associated Press, ""Arson Suspected at House Owned by Rapper""",None
89,391,339,36,"""Courier Post"" (USA), 30 May 2008, by: Frank Eltman, ""Rapper 50 Cent's Home Destroyed by Fire""",None
90,392,339,36,"""Contra Costa Times"" (USA), 30 May 2008, by: Frank Eltman, ""Home at Center of 50 Cent Lawsuit Destroyed by Fire""",None
91,393,339,36,"""The New York Times"" (USA), 6 May 2008, Vol. 157, Iss. 54,302, pg. E2, by: Lawrence Van Gelder, ""50 Cent Show Disrupted in Angola""",None
92,394,339,36,"""Entertainment Weekly"" (USA), 11 November 2005, Vol. 1, Iss. 849, pg. 34-35, by: Drumming, Neil, """"50 + Change""""",None
93,395,339,36,"""The Atlanta Journal-Constitution"" (USA), 2 August 2005, Vol. 57, Iss. 214, pg. E1+E6, by: Nick Marino, ""Volume mutes menace of hard-core hip-hop""",None
94,396,339,36,"""GQ"" (USA), June 2003, Vol. 73, Iss. 6, pg. 148+150, by: Jon Caramanica, ""Can I get a thug?""",None
95,397,339,36,"""Entertainment Weekly"" (USA), 23 February 2003, Vol. 1, Iss. 698, pg. 43-46+47, by: Evan Serpick, ""The 50 Cent Piece""",None
96,398,339,26,"III, Curtis James Jackson",None
97,399,339,17,Is involved in a feud with fellow rapper 'Ja Rule' (qv).,None
98,400,339,17,"Is signed to 'Eminem' (qv)'s Shady Records imprint, distributed by Interscope Records.",None
99,401,339,17,"Has a son, Marquise, nicknamed '25 Cent (I)' (qv).",None

#### Movie_Companies

In [ ]:
#==============
# Movie_Companies
#==============
schema_movie_companies = """
    id int,
    movie_id int,
    company_id int,
    company_type_id int,
    note string
"""

movie_companies = spark.read.csv(path = dir + "movie_companies.csv", schema = schema_movie_companies).persist()

movie_companies.createOrReplaceTempView("Movie_Companies")
#movie_companies.printSchema()

display(movie_companies)

,id,movie_id,company_id,company_type_id,note
0,1318,3342,216,1,(2000) (USA) (TV)
1,1319,3342,217,1,(200?) (Japan) (TV)
2,1454,3981,46,1,(2009) (Hungary) (TV)
3,2889,8413,423,1,(2007) (Japan) (DVD)
4,2890,8413,49,1,(1987-1990) (USA) (TV) (original airing)
5,2891,8413,428,1,(2010) (USA) (DVD)
6,1276676,8413,71104,2,(producer)
7,1276677,8413,71105,2,(in association with)
8,4284,9005,21,1,(2010) (Australia) (TV)
9,4285,9005,49,1,(2010) (USA) (TV)
10,4286,9005,468,1,(2010) (Canada) (TV)
11,4287,9005,466,1,(2011) (Hungary) (TV) (M1)
12,4288,9005,31,1,(2010) (Netherlands) (TV) (RTL7)
13,4289,9005,469,1,(2010) (Germany) (TV)
14,4290,9005,459,1,(2010) (UK) (TV)
15,1277276,9005,424,2,None
16,1277277,9005,71124,2,None
17,1277278,9005,71123,2,(in association with)
18,1277565,9769,71146,2,None
19,6820,19610,265,1,(2009) (USA) (TV)
20,6821,19610,468,1,(2009) (Canada) (TV)
21,6822,19610,252,1,(2009) (Netherlands) (TV)
22,6823,19610,292,1,(2009) (Germany) (TV)
23,6824,19610,115,1,(2009) (Ireland) (TV) (RTÉ2)
24,6825,19610,164,1,(2009) (Hungary) (TV)
25,1279951,19610,598,2,None
26,1279952,19610,71363,2,None
27,7333,20786,754,1,(2007) (worldwide) (all media)
28,7334,20786,702,1,(2007) (worldwide) (video) (internet)
29,7335,20786,2,1,(2007) (worldwide) (video) (internet)
30,7336,20786,756,1,(2007) (worldwide) (video) (internet)
31,1280222,20786,754,2,None
32,7734,25679,27,1,(1965) (UK) (TV)
33,1280636,25679,27,2,None
34,7932,26805,139,1,(2004) (UK) (TV)
35,1280989,26805,71465,2,None
36,8439,31117,914,1,(1999-) (USA) (video) (VHS)
37,1281646,31117,71544,2,None
38,1281647,31117,3286,2,None
39,8585,32231,160,1,None
40,1281804,32231,62666,2,None
41,9749,34353,323,1,(1992-) (Germany) (TV)
42,9800,34743,160,1,(1960) (USA) (TV)
43,9834,34777,160,1,(1960) (USA) (TV)
44,1283021,35274,71703,2,None
45,10447,37369,699,1,(2008) (USA) (DVD)
46,1283485,38776,6083,2,None
47,10743,38999,643,1,(1983) (Spain) (TV)
48,1284766,38999,643,2,None
49,1284003,39310,9884,2,None
50,1284451,39760,9884,2,None
51,11118,40858,19,1,(1971) (USA) (TV)
52,11119,40858,145,1,(2010) (USA) (DVD)
53,1285231,40858,71768,2,None
54,1285232,40858,71767,2,None
55,1285233,40858,1284,2,None
56,11184,40962,6,1,(1987) (USA) (TV)
57,11359,42096,1164,1,(2008) (worldwide) (all media)
58,11603,42903,1186,1,(2007) (Russia) (TV)
59,1286332,42903,8216,2,None
60,13341,52038,196,1,(2002) (Sweden) (DVD)
61,13342,52038,197,1,(1982) (Sweden) (TV)
62,1288250,52038,6934,2,None
63,15130,54523,6,1,(1976) (USA) (TV)
64,15131,54523,34,1,(2012) (USA) (DVD) (DVD-R)
65,1289414,54523,72112,2,None
66,1289415,54523,11,2,None
67,16323,59975,284,1,(2011) (USA) (TV)
68,1290608,59975,71330,2,None
69,1291153,62975,72246,2,None
70,17034,64421,166,1,(2010) (Philippines) (TV)
71,1291348,64421,166,2,None
72,1292000,68289,376,2,None
73,1292061,68350,376,2,None
74,17639,70568,49,1,(2009) (USA) (TV)
75,1292490,71478,72315,2,None
76,18159,72691,517,1,(2009) (Hungary) (TV)
77,18824,74550,1684,1,(USA) (laserdisc)
78,18825,74550,1685,1,(USA) (DVD)
79,18826,74550,1685,1,(USA) (VHS)
80,18827,74550,312,1,(1987) (USA) (TV) (broadcast premiere)
81,1293970,74550,72400,2,None
82,19062,75086,1744,1,None
83,19063,75086,133,1,(1993) (Japan) (TV)
84,19064,75086,312,1,None
85,19255,75484,1783,1,(2012) (USA) (TV)
86,1294464,75484,2413,2,None
87,19380,76695,1244,1,(2005) (Mexico) (TV)
88,1294636,76695,1244,2,None
89,19548,78022,27,1,(UK) (TV)
90,20066,81053,293,1,(2008) (Germany) (DVD)
91,20067,81053,294,1,(2008) (Germany) (DVD)
92,1295319,81053,72604,2,None
93,21150,85610,789,1,(2009) (Canada) (TV)
94,1297299,85610,72716,2,None
95,1297300,85610,789,2,None
96,1297301,85610,72715,2,None
97,1297403,85745,21107,2,None
98,1297588,86268,72735,2,None
99,21704,91638,27,1,(2006) (UK) (TV) (BBC1)

#### Company_Name

In [ ]:
schema_company_name = """
    id int,
    name string,
    country_code string,
    imdb_id int,
    name_pcode_nf string,
    name_pcode_sf string,
    md5sum string
"""

company_name = spark.read.csv(path = dir + "company_name.csv", schema = schema_company_name)
company_name.createOrReplaceTempView("Company_Name")
#company_name.printSchema()

display(company_name)

,id,name,country_code,imdb_id,name_pcode_nf,name_pcode_sf,md5sum
0,1,E! Entertainment Television,[us],NaN,E5363,E5363,ddc1ca3453a33526ad931106cb60d004
1,2,YouTube,[us],NaN,Y31,Y312,3bd77ab33669d8883d345ee754928caf
2,4,5*,[gb],NaN,None,G1,2c0b57f4db6ba181ca8e7414284e9d35
3,5,Canadian Television (CTV),[ca],NaN,C5353,C5353,7bde1000f06906373c3ae6a48d981511
4,6,Columbia Broadcasting System (CBS),[us],NaN,C4516,C4516,7ae3ee174d2d4b06fc3d2ba6d7dc2fab
5,7,Nine Network Australia,[au],NaN,N5362,N5362,70a4657ea90ca544e4071e363774cc7c
6,8,Veronica,[nl],NaN,V652,V6525,28f313ed51c6f708e6755e2d5d34f0a3
7,9,Warner Channel Latin America,[br],NaN,W6562,W6562,eb1f896ee609e97cfbfb007f3de1afa5
8,10,Lorimar Telepictures,[us],NaN,L6563,L6563,6c941a84e38309ddf60871f4b76d8b53
9,11,Warner Bros. Television,[us],NaN,W6561,W6561,259d3edf9bdf0b20fc2db3e494113e99
10,12,A&E Television Networks,[us],NaN,A3412,A3412,0356ba010eec8b5688016a416aa645ba
11,13,Alliance Atlantis Broadcasting,[ca],NaN,A4523,A4523,10e18651971623d9f47cdc232d506796
12,15,Music Television 2 (MTV2),[us],NaN,M2341,M2341,666169b92953bf6e8bc56df65473fda5
13,16,Music Television (MTV),[us],NaN,M2341,M2341,3a1562902489f41a8a765371bce891fc
14,17,Food Network,[us],NaN,F3536,F3536,eef50373f7481373a5cec644ec999a4c
15,18,CanWest Global Communications,[ca],NaN,C5232,C5232,e15a00a401fe8309f381060356fd1411
16,19,National Broadcasting Company (NBC),[us],NaN,N3541,N3541,9bb2ebf35b863c1467dee49d0b842952
17,20,MTV Networks,[us],NaN,M3153,M3153,f6d438e7b8b5a57ab97cbfc8e699e092
18,21,7 Network,[au],NaN,N362,N362,5b24f1569223d10d91fc66a133453abb
19,23,Paramount Television,None,NaN,P6534,None,5baa812ba8256a9ca88c64b5aa493a5c
20,27,British Broadcasting Corporation (BBC),[gb],NaN,B6321,B6321,f0a8c6e88a8c60d51ecaf3dedd9c2ef7
21,29,Pan Vision Oy,[fi],NaN,P5125,P5125,7c35599a7709c69338e1681bef8d0f72
22,30,Polyband,[de],NaN,P4153,P4153,1755c65dc5584890618bf7e357724639
23,31,RTL Entertainment,[nl],NaN,R3453,R3453,ce47054bc659e20dc047dddc15b1e72c
24,32,Televisie Radio Omroep Stichting (TROS),[nl],NaN,T4126,T4126,16ceaeb698c1719048717c95947b0a03
25,33,Warner Home Video,[nl],NaN,W6565,W6565,d45bd8c0e87dfe3a2308925145fe8da2
26,34,Warner Home Video,[us],NaN,W6565,W6565,ccd32c6074495b83d1a78a9d2d11fdf8
27,36,CanWest Global Television Network,[ca],NaN,C5232,C5232,4338bbba86ec27b348505b82f7dcf276
28,38,Vitaya,[be],NaN,V3,V31,8360ed2df2389933bb79aaf92885c9b0
29,39,BBC Scotland,[gb],NaN,B1234,B1234,a7c27ba4a430484f65eed0c833dc68de
30,42,Filmbox HD,[hu],NaN,F4512,F4512,0df0354624485e95c2db77d189a9c396
31,44,Fremantle Media,[gb],NaN,F6534,F6534,754e1382d9218d76aee55257e0cda2d2
32,45,Poén!,[hu],NaN,P5,P5,8e5308634f515bebd61f5c68cc9d1415
33,46,RTL Klub Televízió,[hu],NaN,R3424,R3424,065f5fcf2db44545cbedb56fc4da8cc3
34,47,Sorozat,[hu],NaN,S623,S623,a5bd1c13b780c6635f59c9ec29405bca
35,49,Fox Network,[us],NaN,F2536,F2536,b65a0ae6b633a2f8f76de6ead49432ab
36,50,Sony Pictures Home Entertainment,[be],NaN,S5123,S5123,157c08c01f40725b28691bc27b78dc1c
37,51,Sony Pictures Home Entertainment,[nl],NaN,S5123,S5123,40deb8635be2c9907db1775d1e67ab73
38,52,Sony Pictures Home Entertainment,[us],NaN,S5123,S5123,1884e3668cacc1ccc2c45c3d472cd3e6
39,53,TV3,[ee],NaN,T1,T1,73fbc41b12cde814c6baea5e99db3f37
40,54,Comedy Central Deutschland,[de],NaN,C5325,C5325,b42aa09812e78d9725b1334f4a0def49
41,55,Radio Télévision Belge Francophone (RTBF),[be],NaN,R3412,R3412,640c4bb24d6925b5af5c904b53cb029c
42,56,TPS Star,[fr],NaN,T1236,T1236,02741b8301c06ddae49a25f81bfeb8e7
43,57,Spike TV,[us],NaN,S1231,S1231,f4544a8511d71f73cae02c5ce284ee76
44,59,Bridge Entertainment Group,[nl],NaN,B6325,B6325,8e5885ffd4a85044f74ae3877b051ee5
45,60,Katholieke Radio Omroep (KRO),[nl],NaN,K3426,K3426,243e1a4b97cf554d142c3f9bbdb80835
46,61,Video Film Express,[nl],NaN,V3145,V3145,df3920ecd24dfe3b6eeaaf21ecfcef77
47,63,Verenigde Arbeiders Radio Amateurs (VARA),[nl],NaN,V6523,V6523,32f57981e06a16543f419a25d354860f
48,64,Televisió de Catalunya (TV3),[es],NaN,T4123,T4123,914ebde85366ae2077f6b17ca6a55ac0
49,67,Sat.1,[de],NaN,S3,S3,2ceba90ea3a55dec156491f01ebf21a2
50,68,Westdeutscher Rundfunk (WDR),[de],NaN,W2326,W2326,574256b954fe9b0729bfda5906edaefa
51,69,Televisión Española (TVE),[es],NaN,T4125,T4125,93685fc2f1f56106f6485b68d85f8bbd
52,71,RaiTrade,[it],NaN,R363,R363,f344edd16e2fe44671a68a14f09a7438
53,72,Sender Freies Berlin (SFB),[de],NaN,S5361,S5361,938261f712bd18162b9df683f36811a0
54,73,Danmarks Radio (DR),[dk],NaN,D5626,D5626,9a9fd80a871adeb65e085c0e177d9933
55,74,AT-X,[jp],NaN,A32,A321,233adac2ef47b076495a909b6e650d8d
56,76,Bandai Entertainment,[us],NaN,B5353,B5353,ff344cb224b6100e4edbe6a7741ef64a
57,77,Bandai Visual Company,[jp],NaN,B5312,B5312,774f248c92a77d5328f9494513afff2f
58,78,Cartoon Network,[us],NaN,C6353,C6353,14eabc74b658082535c5b15cbe29a50d
59,79,TV Aichi,[jp],NaN,T12,T121,85ff3b10eb99edd6690684cd2b032f45
60,80,TV Osaka,[jp],NaN,T12,T121,e8dc0d9db0ba0454c21693dd4b380714
61,81,TV Setouchi,[jp],NaN,T1232,T1232,a3790d467165d58c25f00f6c1be553ac
62,82,TV Tokyo,[jp],NaN,T132,T1321,79aea89c17a62b37ad5d8a4127e917f1
63,84,YTV,[ca],NaN,Y31,Y312,a82fa5511d670eabcae32ff11dea0ba4
64,88,The Adult Channel,[gb],NaN,T3432,T3432,883eefed233d54fc1df7a2c332f4ed49
65,89,ADV Films,[us],NaN,A3145,A3145,7610ffebbfab5d62b002c6407fb5e636
66,91,FUNimation Entertainment,[us],NaN,F5353,F5353,e7ac72fca81607e1b93bed287a9739a4
67,92,Tokyo Broadcasting System (TBS),[jp],NaN,T2163,T2163,b05fe1b8ab62ed5a47879df0663d6457
68,93,Independent Television (ITV),[gb],NaN,I5315,I5315,463e3f63a1d88504ef0e981e85ddcbda
69,94,Premiere,[de],NaN,P656,P6563,ffb29881d539cbb3cfde1bb19b936c01
70,95,Chiba TV,[jp],NaN,C131,C1312,d5cc80c88f810f30436a2ea9b8f42aef
71,96,Telefé International,[ar],NaN,T4153,T4153,23c7ae38c2b264e90afc15c90a700719
72,97,Televisión Federal (Telefe),[ar],NaN,T4125,T4125,5e82dfbcc933338b72448245e15a87be
73,98,Canal 13,[ar],NaN,C54,C546,e8a633a286cfaa908c3195bba7d68956
74,100,ET-3,[gr],NaN,E3,E326,916a6c3dece702a53a43edd2ea07b809
75,102,Cuatro,[es],NaN,C36,C362,6d263274380f5599eadb7672f6662cd6
76,104,ZDFtheaterkanal,[de],NaN,Z3136,Z3136,0a7b4b4f3bedee7097606e9cc9a10b83
77,106,Logo,[us],NaN,L2,L2,43eb74218f5f87573155167545a85432
78,108,Antena 3 Televisión,[es],NaN,A5353,A5353,ea8a75d3052e573e6d9f7943df92d9fd
79,109,TF1,[fr],NaN,T1,T16,4609c1ee978def0b53d9d91a17e55da1
80,110,Télévision Française 1 (TF1),[fr],NaN,T4125,T4125,3fa96e8e751bb1697f67ba35f1736c83
81,112,Talpa,[nl],NaN,T41,T4154,fa1f7d1c5a9c4d469e49283b5ef622cb
82,113,Tien,[nl],NaN,T5,T54,14135a6127fb48fa7d2382629ef9a524
83,114,Nippon Television Network Corporation (NTV),[jp],NaN,N1534,N1534,7f6681e8d441b66a8969fe0d5a31faa8
84,115,Radio Telefís Éireann (RTÉ),[ie],NaN,R3412,R3412,4589b4ec494b3c77e1a84ac4d44416b7
85,116,Evangelische Omroep (EO),[nl],NaN,E1524,E1524,ce914f78b98ddc74aa592f5a325fe5a4
86,118,MBC-TV Korea,[kr],NaN,M1231,M1231,029a443184bd44d57c64cd5e00dc3205
87,119,Radiotelevisão Portuguesa (RTP),[pt],NaN,R3412,R3412,34d635579c42e9ba0c79e9140f689ef3
88,120,Travel Channel,[us],NaN,T6142,T6142,316e17ac724b021225b12fc4497cb62d
89,122,AXN,[hu],NaN,A25,A25,bb96591e095937cacff80006f3801cbd
90,123,Alibi,[gb],NaN,A41,A4121,6237066bb734452a3bb78ada03fec10c
91,124,BS Fuji,[jp],NaN,B212,B2121,6392283bd45e853cc8fb368e5c8b9798
92,125,Lifetime Television,[us],NaN,L1353,L1353,d730a3607e132fe1f38604d1db641187
93,127,Kabel 1,[de],NaN,K14,K143,775fbd1d9178388d83f37ffaaa31298e
94,128,TV2 Danmark,[dk],NaN,T1356,T1356,522b6a8e71e827ea0900bf7864f60bbd
95,129,KIKA,[de],NaN,K2,K23,561629423916c2a71f4aa5863f9388ec
96,132,Comcast,[us],NaN,C523,C5232,65403fe5213a23ff74526488eee7b1d1
97,133,NHK,[jp],NaN,N2,N21,b43377605ac37f1e62dd047e04f1c135
98,136,Turner Broadcasting System (TBS),[us],NaN,T6561,T6561,c6bcb939ad73a310ad2c3e529938eb15
99,137,RTL,[de],NaN,R34,R343,adc7e6c5554c14967bf9ee8c5a09c8c1

#### Company_type

In [ ]:
#==============
# Company_Type
#==============
schema_company_type = "id INT, kind STRING"

company_type = spark.read.csv(path = dir + "company_type.csv", schema = schema_company_type).persist()
company_type.createOrReplaceTempView("Company_Type")
#company_type.printSchema()

display(company_type)

   id                       kind
0   1               distributors
1   2       production companies
2   3  special effects companies
3   4    miscellaneous companies

### Detail sur les personnes et les oeuvres

#### TitleDetail

In [ ]:
%%sql
create or replace temp view TitleDetail as
select t.id, t.title, t.production_year, k.kind, it.info as property, m.info as value
from Title t, Movie_Info m, Info_type it, Kind_Type k
where t.id = m.movie_id 
and m.info_type_id = it.id
and t.kind_id = k.id
;

select * 
from TitleDetail t
order by  t.production_year desc, t.title
limit 100;

,id,title,production_year,kind,property,value
0,2310404,Star Trek 3,2016,movie,countries,USA
1,2310404,Star Trek 3,2016,movie,languages,English
2,2310404,Star Trek 3,2016,movie,genres,Action
3,2310404,Star Trek 3,2016,movie,genres,Sci-Fi
4,2310404,Star Trek 3,2016,movie,genres,Adventure
5,2310404,Star Trek 3,2016,movie,color info,Color
6,2310404,Star Trek 3,2016,movie,release dates,USA:2016
7,1694099,Arclight,2015,movie,genres,Sci-Fi
8,1694099,Arclight,2015,movie,countries,USA
9,1963857,Hundred Degrees in the Shade,2015,movie,genres,Comedy
10,1963857,Hundred Degrees in the Shade,2015,movie,countries,USA
11,1963857,Hundred Degrees in the Shade,2015,movie,genres,Drama
12,1963857,Hundred Degrees in the Shade,2015,movie,genres,Romance
13,1963857,Hundred Degrees in the Shade,2015,movie,plot,"Thirty years after castrating the manhood of his redneck-ridden Alabama hometown by deliberately throwing the high school championship football game, Whit returns home. On the run after a painful divorce, he accidentally rediscovers a bit about himself and rekindles the relationship with his aging father, Pap."
14,2351456,The Bonus Army,2015,movie,plot,"The true story of a nonviolent protest march from Portland, OR on Washington by World War I veterans during the Great Depression. The machinations of several persons including J. Edgar Hoover, Gen. Douglas MacArthur, and members of the American Communist Party lead to a situation in which the government deployed troops against its own countrymen, killing 4 individuals. The public backlash against Herbert Hoover led to the election of FDR, the era of the New Deal, and eventual passage of the Bonus Bill."
15,2351456,The Bonus Army,2015,movie,plot,"The true story of a nonviolent protest march from Portland, OR on Washington by World War I veterans during the Great Depression. The machinations of several persons including J. Edgar Hoover, Gen. Douglas MacArthur, and members of the American Communist Party lead to a situation in which the government deployed troops against its own countrymen, killing 4 individuals. The public backlash against Herbert Hoover led to the election of FDR, the era of the New Deal, and eventual passage of the Bonus Bill."
16,2351456,The Bonus Army,2015,movie,genres,History
17,2351456,The Bonus Army,2015,movie,release dates,USA:2015
18,2351456,The Bonus Army,2015,movie,locations,"Portland, Oregon, USA"
19,2351456,The Bonus Army,2015,movie,locations,"Harrisburg, Pennsylvania, USA"
20,2351456,The Bonus Army,2015,movie,countries,USA
21,2351456,The Bonus Army,2015,movie,genres,Drama
22,2414180,The Smoker,2015,movie,countries,USA
23,2414180,The Smoker,2015,movie,release dates,USA:2015
24,2414180,The Smoker,2015,movie,plot,"An English teacher at a prestigious all-girls school is invited to dinner at the home of one of his students. A beautiful senior in his class has decided that he would be the perfect husband for her -- not because she's in love with him but because she thinks they would be a good match. The idea is supported by her eccentric parents, who encourage them to get married."
25,2414180,The Smoker,2015,movie,genres,Comedy
26,2414180,The Smoker,2015,movie,genres,Romance
27,2414180,The Smoker,2015,movie,languages,English
28,2414180,The Smoker,2015,movie,color info,Color
29,1640310,3 Solitude,2014,movie,taglines,The mind will do what you tell it.
30,1640310,3 Solitude,2014,movie,genres,Thriller
31,1640310,3 Solitude,2014,movie,color info,Color
32,1640310,3 Solitude,2014,movie,release dates,USA:2014
33,1640310,3 Solitude,2014,movie,locations,"Baton Rouge, Louisiana, USA"
34,1640310,3 Solitude,2014,movie,runtimes,100
35,1640310,3 Solitude,2014,movie,languages,English
36,1640310,3 Solitude,2014,movie,copyright holder,3 Solitude LLC
37,1640310,3 Solitude,2014,movie,budget,"$6,000,000"
38,1640310,3 Solitude,2014,movie,genres,Drama
39,1640310,3 Solitude,2014,movie,genres,Horror
40,1640310,3 Solitude,2014,movie,genres,Action
41,1640310,3 Solitude,2014,movie,countries,USA
42,1642456,6 Days Watching,2014,movie,release dates,USA:1 January 2014
43,1642456,6 Days Watching,2014,movie,plot,"An offer to make some money and (temporarily)live a posh existence comes her way via an influential young couple. Dog sitting in the perfect house and idyllic setting sounds like a breath of fresh air for Zoey, but soon becomes anything but. As the silence grows eerie, neighborhood turns strange and things start to go ""off"" and awry... it seems that the dogs aren't the only things being watched."
44,1642456,6 Days Watching,2014,movie,plot,"Fresh faced in Hollywood and a good girl at heart, the actress in Zoey(20's) has always been curious about the wilder side of things. But recent troubles(D.U.I., Boyfriend, $$$) have made her feel like her walls are closing in on her. Until... An offer to make some money and (temporarily)live a posh existence comes her way via an influential young couple. Dog sitting in the perfect house and idyllic setting sounds like a breath of fresh air for Zoey, but soon becomes anything but. As the silence grows eerie, neighborhood turns strange and things start to go ""off"" and awry... it seems that the dogs aren't the only things being watched."
45,1642456,6 Days Watching,2014,movie,genres,Thriller
46,1642456,6 Days Watching,2014,movie,locations,"Hollywood, California, USA"
47,1642456,6 Days Watching,2014,movie,countries,USA
48,1708699,Bad Boys Crazy Girls,2014,movie,color info,Color
49,1708699,Bad Boys Crazy Girls,2014,movie,plot,"Jeff and Anne, two close friends and co-workers who are embarrassingly unlucky in love. When Jeff notices Anne's obsession with bad boy Max and Anne notices Max's obsession with his crazy ex-girlfriend, the two embark on a blind-leading-the-blind ride to becoming ""bad"" and ""crazy"". At first a fun adventure of self-discovery, Jeff and Anne's transformation turns into a comedic train wreck as they lose their identities, their dignity, and quite possibly, each other."
50,1708699,Bad Boys Crazy Girls,2014,movie,languages,English
51,1708699,Bad Boys Crazy Girls,2014,movie,genres,Comedy
52,1708699,Bad Boys Crazy Girls,2014,movie,budget,"$2,000,000"
53,1708699,Bad Boys Crazy Girls,2014,movie,genres,Romance
54,1708699,Bad Boys Crazy Girls,2014,movie,countries,USA
55,1746060,Bright Ideas,2014,movie,genres,Comedy
56,1746060,Bright Ideas,2014,movie,taglines,The Future Never Looked Dimmer...
57,1746060,Bright Ideas,2014,movie,sound mix,Dolby Digital
58,1746060,Bright Ideas,2014,movie,plot,"One morning Nate Keller arrives at his job at The Lighting Store, the only job he's ever known, and discovers that Joe, the owner, is months behind on the mortgage and faces foreclosure. The news sends Nate and his co-worker and best friend Sean into a spiral of misguided urgency to save their second home. Adding insult to injury, this fuels Nate's girlfriend, Lauren, to persistently nag him to grow up and leave everything behind to take a corporate job for her father. As the foreclosure looms like a ticking time bomb of failure, a disgruntled former employee and Nate's high school rival, Derek, swoops in and makes a bid on the store to buy it and fire everyone, turning it into an outlet for the local mega-chain Depot Warehouse. With their lives hanging in the balance, a slight glimmer of hope appears in the form of a kind bank loan officer in charge of the case, who is none other than Nate's childhood crush, Julianne. In the ultimate underdog story, Nate and Sean man-up on a series of misadventures of desperation and unrelenting hope to stop change from ruining their lives and friendship. Filled with testosterone-fueled hi-jinks and unrequited love triangles, ""Bright Ideas"" takes you on a journey to leave change in the dust, and settle down into the familiar, lovable rut we call life."
59,1746060,Bright Ideas,2014,movie,languages,English
60,1746060,Bright Ideas,2014,movie,tech info,RAT:1.78 : 1
61,1746060,Bright Ideas,2014,movie,color info,Color
62,1746060,Bright Ideas,2014,movie,locations,"Houston, Texas, USA"
63,1746060,Bright Ideas,2014,movie,countries,USA
64,1746060,Bright Ideas,2014,movie,taglines,The Future Has Never Looked Dimmer
65,1746060,Bright Ideas,2014,movie,release dates,USA:1 March 2014
66,1747961,Brothers Day,2014,movie,plot,"Chris feels the Manchester's underworld of crime has taken his brother Ryan away from his side. When everything goes wrong with Ryan's latest deal, Chris will have to learn by himself that the decisions his brother made for him are not as easy as he thought."
67,1747961,Brothers Day,2014,movie,countries,UK
68,1747961,Brothers Day,2014,movie,taglines,Make your choice
69,1747961,Brothers Day,2014,movie,release dates,UK:2014
70,1747961,Brothers Day,2014,movie,languages,English
71,1747961,Brothers Day,2014,movie,genres,Crime
72,1747961,Brothers Day,2014,movie,locations,"Manchester, Greater Manchester, England, UK"
73,1747961,Brothers Day,2014,movie,color info,Color
74,1780962,Cockroaches,2014,movie,genres,Crime
75,1780962,Cockroaches,2014,movie,release dates,USA:2014
76,1780962,Cockroaches,2014,movie,budget,"$200,000"
77,1780962,Cockroaches,2014,movie,languages,English
78,1780962,Cockroaches,2014,movie,genres,Comedy
79,1780962,Cockroaches,2014,movie,tech info,CAM:Red One Camera
80,1780962,Cockroaches,2014,movie,countries,USA
81,1780962,Cockroaches,2014,movie,color info,Color
82,1780962,Cockroaches,2014,movie,genres,Action
83,1810880,Dead by Dawn,2014,movie,genres,Horror
84,1810880,Dead by Dawn,2014,movie,release dates,USA:2014
85,1825067,Devil's Tree,2014,movie,production dates,1 October 2012 - 15 May 2013
86,1825067,Devil's Tree,2014,movie,color info,Color
87,1825067,Devil's Tree,2014,movie,budget,"$175,000"
88,1825067,Devil's Tree,2014,movie,plot,"A team of paranormal researchers investigate the whereabouts of Susan, a beautiful woman that disappeared a year ago near her house in a place called ""Devil's Tree"". What they don't know is that dark forces are lurking, and if they go on with their investigation, they could accidentally bring Armageddon to Earth."
89,1825067,Devil's Tree,2014,movie,release dates,Canada:September 2014
90,1825067,Devil's Tree,2014,movie,filming dates,20 September 2013 - 15 December 2013
91,1825067,Devil's Tree,2014,movie,countries,USA
92,1825067,Devil's Tree,2014,movie,languages,English
93,1825067,Devil's Tree,2014,movie,genres,Horror
94,1825067,Devil's Tree,2014,movie,plot,"A team of paranormal researchers tries to investigate the whereabouts of Susan, a beautiful woman that disappeared a year ago near her house in a place called Devil's Tree. What they don't know is that dark forces are lurking, and if they go on with their investigation they accidentally the could unleash Armageddon to earth."
95,1901169,Frank,2014,movie,budget,"$18,000,000"
96,1901169,Frank,2014,movie,genres,Drama
97,1901169,Frank,2014,movie,locations,"New York City, New York, USA"
98,1901169,Frank,2014,movie,locations,"Marbella, Málaga, Andalucía, Spain"
99,1901169,Frank,2014,movie,plot,"Staggered by the death of his father, Frank, a successful but selfish millionaire, journeys half way around the world to reconnect with his long forgotten son."

Mémoriser le résultat de TitleDetail pour éviter de le calculer plusieurs fois

In [ ]:
%%sql
cache table TitleDetail

Empty DataFrame
Columns: []
Index: []

#### NameDetail

In [ ]:
%%sql
create or replace temp view NameDetail as
select n.id, n.name, n.gender, i.info as property, p.info as value
from Name n, Person_Info p, Info_type i
where n.id = p.person_id
and p.info_type_id = i.id
;
 
select * 
from NameDetail n
where n.name like 'Smi%'
order by n.name, n.property
limit 100;

,id,name,gender,property,value
0,2544489,"Smid, Coosje",f,trivia,Daughter of 'Ernst Daniël Smid' (qv) and Rosemarie Giesen van der Sluis.
1,1454381,"Smid, Ernst Daniël",m,birth date,6 May 1953
2,1454381,"Smid, Ernst Daniël",m,birth notes,"Enschede, Overijssel, Netherlands"
3,1454381,"Smid, Ernst Daniël",m,magazine cover photo,"""Ncrv Gids"" (Netherlands), 17 April 1999, Iss. 16"
4,1454381,"Smid, Ernst Daniël",m,other works,Provided the singing voice of Raspoetin in the Dutch version of _Anastasia (1997)_ (qv).
5,1454381,"Smid, Ernst Daniël",m,other works,Provided the voice of Ocious P. Potter in the Dutch version of _The Borrowers (1997)_ (qv).
6,1454381,"Smid, Ernst Daniël",m,other works,Provided the voice of Thunder-Karlsson (Donderkarel) in the Dutch version of _Pippi Longstocking (1997)_ (qv).
7,1454381,"Smid, Ernst Daniël",m,other works,Provided the singing voice of Frollo in the Dutch version of _The Hunchback of Notre Dame (1996)_ (qv).
8,1454381,"Smid, Ernst Daniël",m,other works,Provided the voice of Gouverneur Ratcliffe in the Dutch version of _Pocahontas II: Journey to a New World (1998) (V)_ (qv).
9,1454381,"Smid, Ernst Daniël",m,other works,Provided the voice of Generaal in the Dutch version of _Thunderpants (2002)_ (qv).
10,1454381,"Smid, Ernst Daniël",m,other works,Provided the voice of Gouverneur Ratcliffe in the Dutch version of _Pocahontas (1995)_ (qv).
11,1454381,"Smid, Ernst Daniël",m,other works,Provided the voice of Alameda Slim in the Dutch version of _Home on the Range (2004)_ (qv).
12,1454381,"Smid, Ernst Daniël",m,other works,Provided the voice of Clayton in the Dutch version of _Tarzan (1999)_ (qv).
13,1454381,"Smid, Ernst Daniël",m,spouse,'Rosemarie Giesen van der Sluis' (? - 13 September 2012) (her death); 1 child
14,1454381,"Smid, Ernst Daniël",m,spouse,'Regina Smid' (1974 - ?) (divorced); 2 children
15,1454381,"Smid, Ernst Daniël",m,trivia,"Daughter 'Coosje Smid' (qv) with wife Rosemarie (""Roos"")."
16,1454381,"Smid, Ernst Daniël",m,trivia,Daughter Lieneke and son Geert with ex-wife Regina.
17,1454430,"Smigel, Robert",m,article,"""The New York Observer"" (USA), 20 October 2003, Vol. 17, Iss. 40, pg. 1+19+21, by: Frank DiGiacomo, ""Triumph Sniffs a Hit: Rbert Smigel's Hump-Happy Triumph the Insult Comic Dog Has Floored MTV, Eminem, Bob Barker and Milton Berle; Priapic Puppet on Verge of Big Time: Movies, Music, Vegas Act"""
18,1454430,"Smigel, Robert",m,birth date,7 February 1960
19,1454430,"Smigel, Robert",m,birth name,"Smigel, Robert M."
20,1454430,"Smigel, Robert",m,birth notes,"New York City, New York, USA"
21,1454430,"Smigel, Robert",m,height,"6' 0"""
22,1454430,"Smigel, Robert",m,interviews,"""TV Guide"" (USA), 22 August 2004, Vol. 52, Iss. 34, pg. 10, by: Tim Williams, ""Insider Q&A: Triumph"""
23,1454430,"Smigel, Robert",m,other works,"(????) Music video: Appeared in 'Eminem' (qv)'s video ""Ass Like That""."
24,1454430,"Smigel, Robert",m,other works,"(1991) Unsold pilot: Wrote (w/'Conan O'Brien' (qv)) a pilot for a series to star 'Adam West (I)' (qv) called ""Lockwell"" about a washed-up TV actor who believes that he can solve crimes in real life."
25,1454430,"Smigel, Robert",m,other works,"(2010) Wrote the introduction for ""The Complete Peanuts: 1975 to 1976"" by 'Charles M. Schulz' (qv), Seattle, WA: Fantagraphics Books, ISBN 1-60699-345-3"
26,1454430,"Smigel, Robert",m,other works,"(2003) Album (as Triumph the Insult Comic Dog): ""Come Poop with Me"" (Warner Bros. Records)"
27,1454430,"Smigel, Robert",m,spouse,'Michelle Saks Smigel' (qv) (? - present); 3 children
28,1454430,"Smigel, Robert",m,trade mark,Voices dog with a Hungarian accent; ie. Triumph the Insult Comic Dog
29,1454430,"Smigel, Robert",m,trivia,"Was in a Chicago improv troupe called ""All You Can Eat"" for several years."
30,1454430,"Smigel, Robert",m,trivia,"His father is a dentist, who introduced tooth bonding to the public."
31,1454430,"Smigel, Robert",m,trivia,Father of Daniel Smigel and twin boys.
32,1454430,"Smigel, Robert",m,trivia,"In 2000, Smigel was sued by Pets.com because they claimed his _""Late Night with Conan O'Brien"" (1993)_ (qv) character, Triumph the Insult Comic Dog, made comments about Pets.com's TV sock puppet dog."
33,1454430,"Smigel, Robert",m,trivia,"On _""Saturday Night Live"" (1975)_ (qv), he wrote sketches such as The Superfans, The McLaughlin Group, The Sinatra Group, and The William Shatner Star Trek Convention."
34,1454430,"Smigel, Robert",m,trivia,"Longest-running writer on _""Saturday Night Live"" (1975)_ (qv); he's been writing for the show since 1985."
35,1454430,"Smigel, Robert",m,trivia,Born on the same day as 'James Spader' (qv).
36,1454430,"Smigel, Robert",m,trivia,Dropped out of Cornell University in 1981 to pursue writing and performing.Graduated from NYU in 1983.
37,1454430,"Smigel, Robert",m,trivia,"He's a friend and frequent collaborator of 'Adam Sandler (I)' (qv), having worked with the comedian six times starting with _""Saturday Night Live"" (1975)_ (qv), _Billy Madison (1995)_ (qv), _Happy Gilmore (1996)_ (qv), _The Wedding Singer (1998)_ (qv), _Little Nicky (2000)_ (qv) and _Punch-Drunk Love (2002)_ (qv). Smigel had written with Sandler or appeared with him on _""Saturday Night Live"" (1975)_ (qv) while playing small roles in Sandler's films."
38,1454430,"Smigel, Robert",m,trivia,"Infamous for making TV Funhouse segments on _""Saturday Night Live"" (1975)_ (qv) like ""The Ambigously Gay Duo,"" ""The New Adventures Of Mr. T,"" ""Michael Jackson,"" and the now banned ""Conspiracy Theory Rock"" (What if real life companies buy out other companies)."
39,1454433,"Smight, Alec",m,trivia,Son of director 'Jack Smight' (qv).
40,1454433,"Smight, Alec",m,trivia,Son of actress Joyce Smight (Cunning).
41,1454434,"Smight, Jack",m,birth date,9 March 1925
42,1454434,"Smight, Jack",m,birth notes,"Minneapolis, Minnesota, USA"
43,1454434,"Smight, Jack",m,death date,1 September 2003
44,1454434,"Smight, Jack",m,death notes,"Los Angeles, California, USA (cancer)"
45,1454434,"Smight, Jack",m,mini biography,"Emmy Award-winning director Jack Smight was born in Minneapolis, Minnesota, on March 9, 1925, the offspring of Irish immigrants. After graduating from the unfortunately named Cretin High School, where he was a classmate of 'Peter Graves (I)' (qv), he served in the US Army Air Force during World War Two, where he flew combat missions in the Pacific Theater. After the war he attended the University of Minnesota, where he again met up with Graves--both were matriculating in the theater department as drama students. After graduation they hooked up in Hollywood, where they rented a room and made the rounds, looking for work as actors while Jack worked as a carhop and Peter drove a cab, ignoring the advice of Graves' older brother, 'James Arness' (qv) to head straight back to Minneapolis. Unlike his friend, Smight did not achieve success as an actor and became a stage manager and then turned to directing. Graves later said of his friend that his acting background helped him understand actors. ""He was also a very intelligent, literate man,"" Grave said, ""who knew how to communicate with the writers."" These skills made him a successful director, first in television and then in the movies. In 1959 he won an Emmy Award for Best Direction of a Single Program of a Dramatic Series - Less Than One Hour for the _""Alcoa Theatre"" (1957)_ (qv) episode ""Eddie"", which starred 'Mickey Rooney (I)' (qv) and featured an Emmy-winning script by 'Ken Hughes (I)' (qv). In the 1960s he directed films featuring such A-List talent as 'Paul Newman (I)' (qv) and 'Rod Steiger' (qv) before moving back to TV in the 1970s, with the occasional feature film directing assignment. Jack Smight died of cancer on September 1, 2003 in Los Angeles, California. He was 78 years old."
46,1454434,"Smight, Jack",m,spouse,'Joyce Cunning' (qv) (1951 - 2002) (her death); 2 children
47,1454434,"Smight, Jack",m,trivia,Father of 'Alec Smight' (qv).
48,1454434,"Smight, Jack",m,trivia,Went to high school in Minnesota with 'Peter Graves (I)' (qv). They shared an apartment when they were trying to make it in Hollywood.
49,3958498,"Smight, Tami",None,spouse,'Alec Smight' (qv) (28 May 1983 - present); 3 children
50,1454481,"Smiles, Frank Finch",m,birth date,1865
51,1454481,"Smiles, Frank Finch",m,birth name,"Finch-Smiles, Francis"
52,1454481,"Smiles, Frank Finch",m,birth notes,"Ramsgate, Kent, England, UK"
53,1454481,"Smiles, Frank Finch",m,death date,1944
54,1454481,"Smiles, Frank Finch",m,death notes,"London, England, UK"
55,1454481,"Smiles, Frank Finch",m,spouse,'Hannah Emilene Healey-Picard' (? - 1930) (her death); 3 children
56,2544551,"Smiles, Mia",f,birth date,21 September 1977
57,2544551,"Smiles, Mia",f,birth notes,Hong Kong
58,2544551,"Smiles, Mia",f,height,"5' 7"""
59,2544551,"Smiles, Mia",f,magazine cover photo,"""Oriental Women"" (USA), October 2002"
60,2544551,"Smiles, Mia",f,pictorial,"""High Society"" (USA), November 1999, Vol. 24, Iss. 11, pg. 152-163, ""Horny-Davidson"""
61,1454508,"Smiley, Eric",m,height,"5' 11"""
62,1454542,"Smiley, Ralph",m,birth date,24 July 1916
63,1454542,"Smiley, Ralph",m,birth notes,"New York City, New York, USA"
64,1454542,"Smiley, Ralph",m,death date,14 September 1977
65,1454542,"Smiley, Ralph",m,death notes,"Woodland Hills, Los Angeles, California, USA (cancer)"
66,1454544,"Smiley, Rickey",m,other works,TV commercial for Taxx Enterprise (2004)
67,1454544,"Smiley, Rickey",m,trivia,"A Member of the Omega Psi Phi Fraternity, Inc."
68,2544590,"Smiley, Tava",f,article,"""ABC Soaps In Depth"" (U.S.A.), 6/1/99, """"Who's That Girl"""""
69,2544590,"Smiley, Tava",f,birth date,19 October 1971
70,2544590,"Smiley, Tava",f,birth name,"Smiley, Tava Michelle"
71,2544590,"Smiley, Tava",f,birth notes,"Theodosia, Missouri, USA"
72,2544590,"Smiley, Tava",f,height,"5' 7"""
73,2544590,"Smiley, Tava",f,other works,"""Importance of being Ernest"" - Gwendolen - William Chrisman Theatre"
74,2544590,"Smiley, Tava",f,other works,"Correspondent for the fast-paced and quirky Wild Chicago - an arts and entertainment show produced in...Chicago, Illinois, airing on WTTW."
75,2544590,"Smiley, Tava",f,other works,"""Hide Your Love"" - Brenda - Complex Theatre"
76,2544590,"Smiley, Tava",f,other works,Conducts celebrity interviews on the Fox Movie Channel.
77,2544590,"Smiley, Tava",f,other works,"""Darkside"" - Gina - Complex Theatre"
78,2544590,"Smiley, Tava",f,other works,TV commercial for JCPenney (2002)
79,2544590,"Smiley, Tava",f,other works,"""Love Letters"" - Lead Female - Fairfield, Iowa"
80,2544590,"Smiley, Tava",f,pictorial,"""Playboy"" (USA), January 2001, Vol. 48, Iss. 1, pg. 232, by: Tom Rodriguez, ""Grapevine: See More Tava"""
81,2544590,"Smiley, Tava",f,pictorial,"""ABC Soaps in Depth"" (United States), 24 August 1999, Vol. 3, Iss. 34, pg. 70-75, by: Roemary Rossi, ""Beautiful Dreamer"""
82,2544590,"Smiley, Tava",f,pictorial,"""Stun!"" (USA), November 2002, pg. 106-109, by: John Charles, ""Tava Makes Us Smile"""
83,2544590,"Smiley, Tava",f,trivia,Tava was named for her mother's maiden name.
84,2544590,"Smiley, Tava",f,trivia,Engaaged to filmmaker 'Lauder Robinson' (qv).
85,2544590,"Smiley, Tava",f,trivia,"Attended William Chrisman High School in Independence, Missouri."
86,2544590,"Smiley, Tava",f,where now,(December 2006) Appearing in a Lexus Christmas commercial.
87,1454554,"Smiley, Tavis",m,article,"""The New York Times"" (USA), 12 April 2008, Vol. 157, Iss. 54,278, pg. B8, by: Felicia R. Lee, ""Commentator Plans to Leave Radio Show"""
88,1454554,"Smiley, Tavis",m,article,"""The Los Angeles Times"" (USA), 23 November 2010, pg. D1 + D9, by: Scott Collins, ""A rift between Smiley KCET"""
89,1454554,"Smiley, Tavis",m,article,"""Minneapolis Star Tribune"" (USA), 28 April 2009, by: Neal Justin, ""Prince Opens Up to Public TV's Tavis Smiley"""
90,1454554,"Smiley, Tavis",m,birth date,13 September 1964
91,1454554,"Smiley, Tavis",m,birth name,"Smiley, Tavis E."
92,1454554,"Smiley, Tavis",m,birth notes,"Gulfport, Mississippi, USA"
93,1454554,"Smiley, Tavis",m,books,"Tavis Smliey & David Ritz. _What I Know For Sure._ Doubleday Publishing, 2006. ISBN 0385505167"
94,1454554,"Smiley, Tavis",m,interviews,"""TV Guide"" (USA), 27 March 2004, Vol. 52, Iss. 13, pg. 16, by: Rochell D. Thomas, ""Insider Q & A"""
95,1454554,"Smiley, Tavis",m,magazine cover photo,"""Black Enterprise"" (USA), March 2002, Vol. 32, Iss. 8"
96,1454554,"Smiley, Tavis",m,trivia,Distant cousin of 'T.D. Jakes' (qv) and 'James Wheaton' (qv).
97,1454554,"Smiley, Tavis",m,trivia,"Is a member of Kappa Alpha Psi Fraternity, Incorporated"
98,1454554,"Smiley, Tavis",m,where now,"(2006) Release of his book, ""What I Know for Sure: My Story of Growing Up in America""."
99,1454566,"Smilie, James",m,birth date,1944

Mémoriser le résultat de NameDetail pour éviter de le calculer plusieurs fois

In [ ]:
%%sql
cache table NameDetail;

Empty DataFrame
Columns: []
Index: []

## QUESTIONS

In [ ]:
#creation des tables name_all et title_all 
name_all.createOrReplaceTempView("nameAll")
title_all.createOrReplaceTempView("titleAll")

### Exercice 1: Extraction d'information

Définir ces relations apportant des informations structurées sur les personnes. Le schéma de chaque table est donné à titre indicatif et vous pouvez l'adapter et le compléter si nécessaire.

#### Question 1 : Salary
 **Salary** (id, name, titleId, titleName, salary, extra, currency) avec
  - *salary* est le salaire perçu par une personne pour un film
  - *frequency* indique si le salaire est pour le film, un épisode de la série, une semaine de tournage, etc...
  - *extra* est un complément de salaire (exple pourcentage sur le revenu du film)
  - *currency* est la devise du salaire
 

Voir la propriété *salary history*. Le champ *titleId* peut être nul si aucune correspondance n'est trouvée dans la table TitleDetail. Le cas échéant, essayer de trouver une correspondance avec le fichier *title_all* contenant tous les films.

In [ ]:

# les champs extra, frequency, currency ne sont pas remplis en prenant en compte toutes les combinaisons.
%%sql
create or replace temp view Salary as
with T1 (select n.id, n.name, regexp_extract(value, '::.*?([0-9].*?)( to| per|\\(|\\+| plus|/|$)', 1) as salary,
                     regexp_extract(n.value, '(_"|_)(.+?)("| \\()', 2) as titleName,
                     regexp_extract(value, '::.*?(/| per )(.+?)(\\(|$)', 2) as frequency ,
                     regexp_extract(value, '::.*(\\+ |plus )(.+)', 2) as extra,
                     regexp_extract(n.value, '::(.+?)[0-9]', 1) as currency 
from NameDetail n
where n.property = 'salary history'
) select t1.id, t1.name, t.id as titleId, t1.titleName, t1.salary, t1.extra, t1.frequency, t1.currency 
from T1 t1 left outer join TitleDetail t on t1.titleName = t.title;

select distinct(*)
from Salary
limit 100;

,id,name,titleId,titleName,salary,extra,frequency,currency
0,2037895,"Garner, Jennifer",NaN,13 Going on 30,"3,000,000",,,$
1,1314543,"Robbins, Peter",NaN,A Charlie Brown Christmas,125,,,$
2,1573563,"Travolta, John",NaN,A Civil Action,"20,000,000",,,$
3,112323,"Beaudine, William",NaN,A High Diver's Last Kiss,100,,week,$
4,557318,"Gibson, Hoot",NaN,A Man's Land,"16,000",,,$
5,1009669,"McConaughey, Matthew",NaN,A Time to Kill,"250,000",,,$
6,1853675,"Bullock, Sandra",NaN,A Time to Kill,"8,000,000",,,$
7,600240,"Grisham, John",NaN,A Time to Kill,"6,000,000",,,$
8,319722,"Costello, Lou",NaN,Abbott and Costello Meet Captain Kidd,"250,000",,,$
9,2097824,"Hayworth, Rita",NaN,Affair in Trinidad,"252,000",25% of the net profits,,$
10,1333427,"Rooney, Mickey",1669820.0,"Ah, Wilderness!",500,,week,$
11,472023,"Farrell, Colin",NaN,Alexander,"10,000,000",,,$
12,539381,"Gardner, Arthur",NaN,All Quiet on the Western Front,75.00,,,$
13,74064,"Ayres, Lew",NaN,All Quiet on the Western Front,250.00,,,$
14,983837,"Martin, Dean",NaN,All in a Night's Work,"250,000",,,$
15,178953,"Brady, Scott",NaN,Ambush at Cimarron Pass,"25,000",,,$
16,434515,"Eastwood, Clint",NaN,Ambush at Cimarron Pass,750,,,$
17,141264,"Biggs, Jason",NaN,American Pie 2,"2,000,000",,,$
18,903101,"Levy, Eugene",NaN,American Pie 2,"1,000,000",,,$
19,483029,"Ferrell, Will",NaN,Anchorman: The Legend of Ron Burgundy,"7,000,000",,,$
20,2035216,"Garbo, Greta",NaN,Anna Karenina,"275,000",,,$
21,2052982,"Goddard, Paulette",NaN,Anna Lucasta,"175,000",% of profits,,$
22,357875,"Davis Jr., Sammy",NaN,Anna Lucasta,"50,000",,,$
23,379396,"Delevin, Daniel",NaN,Aquí no hay quien viva,"18,000",,,$
24,1003407,"Maynard, Ken",NaN,Arizona Whirlwind,850,,,$
25,1016512,"McGraw, Charles",NaN,Armored Car Robbery,750,,week,$
26,229469,"Campbell, Bruce",NaN,Army of Darkness,"500,000",,,$
27,229469,"Campbell, Bruce",NaN,Army of Darkness,"500,000",,,$
28,373265,"Debbouze, Jamel",NaN,Astérix aux jeux olympiques,"250,000",,,EUR
29,385107,"Depardieu, Gérard",NaN,Astérix aux jeux olympiques,"1,440,000",,,EUR
30,315846,"Cornillac, Clovis",NaN,Astérix aux jeux olympiques,"686,000",,,EUR
31,2145971,Jayapradha,NaN,Aulad,6 lakhs,,,
32,2182322,"Kidman, Nicole",NaN,Australia,"13,000,000",,,$
33,624615,"Hall, Stacy",NaN,BET Awards 2005,"250,000",,,$
34,1333427,"Rooney, Mickey",NaN,Baby Face Nelson,"35,000",,,$
35,385107,"Depardieu, Gérard",NaN,Balzac,"762,000",,,EUR
36,1618393,"Verhoeven, Paul",1714929.0,Basic Instinct,"5,000,000",,,$
37,2569517,"Stone, Sharon",1714929.0,Basic Instinct,"500,000",,,$
38,413286,"Douglas, Michael",1714929.0,Basic Instinct,"15,000,000",,,$
39,460541,"Eszterhas, Joe",1714929.0,Basic Instinct,"3,000,000",,,$
40,793060,"Keaton, Michael",NaN,Batman,"5,000,000",,,$
41,1031664,"Melniker, Benjamin",NaN,Batman,"300,000",,,$
42,1797229,"Basinger, Kim",NaN,Batman,"3,000,000",,,$
43,1666651,"West, Adam",NaN,Batman,"100,000",,,$
44,1595276,"Uslan, Michael E.",NaN,Batman,"300,000",,,$
45,692095,"Hootkins, William",NaN,Batman,"400,000",,,$
46,1126931,"Nicholson, Jack",NaN,Batman,"6,000,000",,,$
47,3048516,"Wharton, Theodore",NaN,Beatrice Fairfax,500 a week,,,$
48,1777025,"Astor, Mary",NaN,Beau Brummel,1100,,week,$
49,311734,"Cooper, Gary",NaN,Beau Geste,"150,000",,,$
50,2601234,"Thurman, Uma",NaN,Beautiful Girls,"300,000",,,$
51,385107,"Depardieu, Gérard",NaN,Bellamy,"1,500,000",,,EUR
52,2278540,"Marceau, Sophie",NaN,Belphégor - Le fantôme du Louvre,"1,000,000",,,EUR
53,1850409,"Bruns, Scarlett",NaN,"Berlin, Berlin","15,000 EUR",,episode,1
54,483029,"Ferrell, Will",NaN,Bewitched,"20,000,000",,,$
55,2182322,"Kidman, Nicole",NaN,Bewitched,"17,500,000",,,$
56,389943,"Dew, Eddie",NaN,Beyond the Last Frontier,100,,week,$
57,2145971,Jayapradha,NaN,Bhoomikosam,10,,,Rs.
58,1059728,"Mitchum, Christopher",1728278.0,Bigfoot,1000,,,$
59,2182322,"Kidman, Nicole",NaN,Birthday Girl,"1,500,000",,,$
60,1602091,"Van Damme, Jean-Claude",NaN,Black Eagle,"70,000",,,$
61,2546736,"Smith, Liz",NaN,Bleak Moments,10 a day,,,£
62,1633440,"von Stroheim, Erich",NaN,Blind Husbands,200,,wk,$
63,223087,"Cagney, James",NaN,Blonde Crazy,450,,week,$
64,1602091,"Van Damme, Jean-Claude",NaN,Bloodsport,"25,000",,,$
65,880747,"Lawrence, Martin",NaN,Blue Streak 2,"20,000,000",,,$
66,858898,"LaBeouf, Shia",NaN,Bobby,"400,000",,,$
67,2579599,"Swank, Hilary",NaN,Boys Don't Cry,3000,,,$
68,1351321,"Russell, Kurt",1744613.0,Breakdown,"15,000,000",,,$
69,1351321,"Russell, Kurt",903208.0,Breakdown,"15,000,000",,,$
70,1351321,"Russell, Kurt",898856.0,Breakdown,"15,000,000",,,$
71,2694909,"Zellweger, Renée",NaN,Bridget Jones's Diary,"3,750,000",,,$
72,311734,"Cooper, Gary",NaN,Bright Leaf,"295,000",,,$
73,2221169,"Latifah, Queen",NaN,Bringing Down the House,"1,000,000",,,$
74,1321509,"Rock, Joe",NaN,Bringing Up Father,5,,day,$
75,2037716,"Garland, Judy",NaN,Broadway Melody of 1938,200,,week,$
76,2007852,"Field, Sally",NaN,Brothers & Sisters,"100,000",,episode,$
77,2007852,"Field, Sally",NaN,Brothers & Sisters,100.000 $,,episode,1
78,2007852,"Field, Sally",NaN,Brothers & Sisters,"150,000",,episode,$
79,2013616,"Flockhart, Calista",NaN,Brothers & Sisters,"250,000",,episode,$
80,243174,"Carrey, Jim",NaN,Bruce Almighty,"25,000,000",,,$
81,1372658,"Sandler, Adam",NaN,Bulletproof,"2,500,000",,,$
82,246620,"Caruso, David",NaN,CSI: Miami,"200,000 an episode",,,$
83,246620,"Caruso, David",NaN,CSI: Miami,"375,000",,episode,$
84,2035216,"Garbo, Greta",NaN,Camille,"500,000",,,$
85,1298452,"Reynolds, Burt",NaN,Cannonball Run II,"5,000,000",,,$
86,2538598,"Sims, Joan",NaN,Carry On Cleo,750,,,£
87,650613,"Hawtrey, Charles",NaN,Carry On Cleo,"4,000",,,£
88,1794926,"Barrie, Amanda",NaN,Carry On Cleo,550,,,£
89,650613,"Hawtrey, Charles",NaN,Carry On Spying,"3,000",,,£
90,2674178,"Windsor, Barbara",NaN,Carry On Spying,"4,000",,,£
91,2538598,"Sims, Joan",NaN,Carry On Up the Jungle,"2,500",,,£
92,650613,"Hawtrey, Charles",NaN,Carry On Up the Jungle,"3,000",,,£
93,650613,"Hawtrey, Charles",NaN,"Carry On, Constable","1,100",,,£
94,1682946,"Williams, Kenneth",NaN,"Carry On, Constable",2000,,,£
95,260985,"Chamberlain, Cyril",NaN,"Carry On, Constable",400,,,£
96,125405,"Bennett, Peter",NaN,"Carry On, Constable",15 pounds,,,1
97,30790,"Allison, Bart",NaN,Carry on Doctor,15 pounds,,,1
98,2538598,"Sims, Joan",NaN,Carry on Doctor,"2,500",,,£
99,650613,"Hawtrey, Charles",NaN,Carry on Doctor,"1,500",,,£

In [ ]:
# la table titleall contient plusieurs id pour chaque film, pour etre coherent on prends un seul identifiant.
%%sql
select s.id, s.name, t.titleId, s.titleName, s.salary, s.extra, s.frequency, s.currency from Salary s
left outer join (select distinct title, first(id) as titleId from titleAll group by title) t
on s.titleName = t.title

,id,name,titleId,titleName,salary,extra,frequency,currency
0,2037895,"Garner, Jennifer",392300,13 Going on 30,"3,000,000",,,$
1,1314543,"Robbins, Peter",189324,A Charlie Brown Christmas,125,,,$
2,1573563,"Travolta, John",1646007,A Civil Action,"20,000,000",,,$
3,112323,"Beaudine, William",1650349,A High Diver's Last Kiss,100,,week,$
4,557318,"Gibson, Hoot",1652584,A Man's Land,"16,000",,,$
5,1009669,"McConaughey, Matthew",13273,A Time to Kill,"250,000",,,$
6,1853675,"Bullock, Sandra",13273,A Time to Kill,"8,000,000",,,$
7,600240,"Grisham, John",13273,A Time to Kill,"6,000,000",,,$
8,319722,"Costello, Lou",1662375,Abbott and Costello Meet Captain Kidd,"250,000",,,$
9,2097824,"Hayworth, Rita",1667366,Affair in Trinidad,"252,000",25% of the net profits,,$
10,1333427,"Rooney, Mickey",135648,"Ah, Wilderness!",500,,week,$
11,1333427,"Rooney, Mickey",135648,"Ah, Wilderness!",500,,week,$
12,1333427,"Rooney, Mickey",135648,"Ah, Wilderness!",500,,week,$
13,1333427,"Rooney, Mickey",135648,"Ah, Wilderness!",500,,week,$
14,1333427,"Rooney, Mickey",135648,"Ah, Wilderness!",500,,week,$
15,1333427,"Rooney, Mickey",135648,"Ah, Wilderness!",500,,week,$
16,1333427,"Rooney, Mickey",135648,"Ah, Wilderness!",500,,week,$
17,1333427,"Rooney, Mickey",135648,"Ah, Wilderness!",500,,week,$
18,472023,"Farrell, Colin",52770,Alexander,"10,000,000",,,$
19,539381,"Gardner, Arthur",1676031,All Quiet on the Western Front,75.00,,,$
20,74064,"Ayres, Lew",1676031,All Quiet on the Western Front,250.00,,,$
21,983837,"Martin, Dean",880048,All in a Night's Work,"250,000",,,$
22,178953,"Brady, Scott",1680260,Ambush at Cimarron Pass,"25,000",,,$
23,434515,"Eastwood, Clint",1680260,Ambush at Cimarron Pass,750,,,$
24,141264,"Biggs, Jason",1681356,American Pie 2,"2,000,000",,,$
25,903101,"Levy, Eugene",1681356,American Pie 2,"1,000,000",,,$
26,483029,"Ferrell, Will",1686265,Anchorman: The Legend of Ron Burgundy,"7,000,000",,,$
27,2035216,"Garbo, Greta",85688,Anna Karenina,"275,000",,,$
28,2052982,"Goddard, Paulette",1689536,Anna Lucasta,"175,000",% of profits,,$
29,357875,"Davis Jr., Sammy",1689536,Anna Lucasta,"50,000",,,$
30,379396,"Delevin, Daniel",95690,Aquí no hay quien viva,"18,000",,,$
31,379396,"Delevin, Daniel",95690,Aquí no hay quien viva,"18,000",,,$
32,1003407,"Maynard, Ken",1694891,Arizona Whirlwind,850,,,$
33,1016512,"McGraw, Charles",1695237,Armored Car Robbery,750,,week,$
34,229469,"Campbell, Bruce",478369,Army of Darkness,"500,000",,,$
35,229469,"Campbell, Bruce",478369,Army of Darkness,"500,000",,,$
36,373265,"Debbouze, Jamel",1700046,Astérix aux jeux olympiques,"250,000",,,EUR
37,385107,"Depardieu, Gérard",1700046,Astérix aux jeux olympiques,"1,440,000",,,EUR
38,315846,"Cornillac, Clovis",1700046,Astérix aux jeux olympiques,"686,000",,,EUR
39,2145971,Jayapradha,1702922,Aulad,6 lakhs,,,
40,2182322,"Kidman, Nicole",1553,Australia,"13,000,000",,,$
41,624615,"Hall, Stacy",1723444,BET Awards 2005,"250,000",,,$
42,1333427,"Rooney, Mickey",158760,Baby Face Nelson,"35,000",,,$
43,385107,"Depardieu, Gérard",1711529,Balzac,"762,000",,,EUR
44,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
45,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
46,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
47,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
48,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
49,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
50,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
51,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
52,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
53,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
54,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
55,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
56,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
57,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
58,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
59,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
60,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
61,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
62,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
63,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
64,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
65,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
66,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
67,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
68,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
69,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
70,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
71,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
72,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
73,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
74,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
75,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
76,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
77,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
78,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
79,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
80,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
81,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
82,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
83,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
84,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
85,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
86,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
87,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
88,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
89,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
90,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
91,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
92,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
93,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
94,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
95,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
96,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
97,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
98,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$
99,1618393,"Verhoeven, Paul",170103,Basic Instinct,"5,000,000",,,$

#### Question 2 : Height
 **Height**(id, name, heightInCm) qui recense la taille des personnes de manière exploitable, en les reconvertissant en tailles en cm, alors que les entrées de la base sont  en plusieurs unités.

In [ ]:
%%sql 
create or replace temp view Heights as 
select id, name, int(if( value like "%cm%", regexp_replace(value, "cm",""), (CAST(regexp_extract(value, '([0-9])\' ([0-9])', 1) AS int) * 30.48) + 
            (CAST(regexp_extract(value, '([0-9])\' ([0-9])', 2) AS int) * 2.54 ) + if(value like "%1/2%", 1.27, 0))) as heightInCm
from NameDetail
where property = 'height'
;

select *
from Heights
order by heightInCm desc
limit 100

#### Question 3 : Magazine

 **MagazineCover**(id, name, magazine, country, day, month, year) donnant le nom du magazine dans lequel la personne est sur la couverture, avec le pays du magazine et la date de parution. Voir la propriété *magazine cover photo*.

In [ ]:
%%sql 
create or replace temp view MagazineCover as
select id, name, regexp_extract(value, '\\"(.+)\\" \\((.+)\\), (.+)', 1) as magazine, 
                  regexp_extract(value, '\\"(.+)\\" \\((.+)\\), (.+)', 2) as country, 
                  regexp_extract(value, '\\"(.+)\\" \\((.+)\\), (Iss\\..+, )?(?:([0-9]?[0-9]) )?([a-zA-Z]+)? ?([0-9]+)( |,|$)', 4) as day,
                  regexp_extract(value, '\\"(.+)\\" \\((.+)\\), (Iss\\..+, )?(?:([0-9]?[0-9]) )?([a-zA-Z]+)? ?([0-9]+)( |,|$)', 5) as month, 
                  regexp_extract(value, '\\"(.+)\\" \\((.+)\\), (Iss\\..+, )?(?:([0-9]?[0-9]) )?([a-zA-Z]+)? ?([0-9]+)( |,|$)', 6) as year
from NameDetail
where property = 'magazine cover photo'
;

select *
from MagazineCover

#### Question 4 : Trivia

Deux tables détaillant les anecdotes connues sur des personnes, voir les valeurs de la propriété *trivia* d'une personne : 
- **TitleTrivia** (fromPersonId, fromPersonName, toTitleId, toTitleName, triviaText)
- **NameTrivia** (fromPersonId,  fromPersonName, toPersonId, toPersonName, triviaText)
    
Indications :  

Pour le champ toTitleId dans TitleTrivia : si le film n'est pas référencé dans la table TitleDetail, essayer de trouver une correspondance dans le fichier contenant tous les films (title_full).

Pour le champ toPersonId dans NameTrivia : si la personne n'est pas référencée dans la table NameDetail, essayer de trouver une correspondance dans le fichier contenant toutes les personnes (name_full).

In [ ]:
#TODO
%%sql
create or replace temp view TitleTrivia as 
with T1 as (
select id as fromPersonid, name as fromPersonName, regexp_extract(value, '_(.+?) \\(', 1) as toTitleName, value as triviaText
from NameDetail t where property = "trivia" )
select * from T1 left outer join (select distinct id as toTitleId, title from TitleDetail) on toTitleName = title
;

select *
from TitleTrivia
limit 100

,fromPersonid,fromPersonName,toTitleName,triviaText,toTitleId,title
0,9496,"Adamson, Peter","""Coronation Street""","(1983) He was charged with indecently assaulting two girls at a public swimming pool. Despite being cleared by a jury, he was sacked from _""Coronation Street"" (1960)_ (qv) after he sold his story to a national newspaper. Script writers for the show killed him off when he suffered a heart attack at the wheel of his car. His exit from ""Coronation Street"" led to a collapse in his personal life. A year after the trial his wife died and by 1991 he was bankrupt. He spent last few years of his life living in Welton, Lincolnshire, far from the fame and glamour he once enjoyed.",NaN,None
1,1989,"Abbott, Bud",The Naughty Nineties,"The performance of ""Who's on First?"" in the film _The Naughty Nineties (1945)_ (qv) is considered the quintessential version of the routine, and the clip is enshrined in a looped video at the Baseball Hall of Fame in Cooperstown, New York.",NaN,None
2,1989,"Abbott, Bud",Buck Privates,"1960: He tried to form a new duo, this time with veteran comic/instrumentalist 'Candy Candido' (qv). Abbott quipped during an interview that he and Candy would star in ""Space Privates"", a futuristic version of his and 'Lou Costello (I)' (qv)'s _Buck Privates (1941)_ (qv) classic. ""Space Privates"" never materialized and the teaming was short-lived. They weren't attracting an audience, and Abbott was forced to leave after experiencing an epileptic attack while traveling to one of their personal appearances.",NaN,None
3,11201,"Adonis, Adrian",WrestleMania III,"Finished off his WWF wrestling career without his signature blonde hair after 'Ed Leslie (I)' (qv) (aka ""Brutus Beefcake"") shaved most of it off after he lost to 'Roddy Piper' (qv) during _WrestleMania III (1987) (V)_ (qv).",NaN,None
4,1521,"Abatantuono, Diego",,"Has three children: Marta (b. 1985) from his former wife Rita; Matteo (b. 1995) and Marco (b. 1997) from his companion of 20 years, 'Giulia Begnotti' (qv).",NaN,None
5,1989,"Abbott, Bud",,He was cremated and his ashes scattered in the Pacific Ocean,NaN,None
6,1989,"Abbott, Bud",,His mother was a bareback rider for the Ringling Bothers Circus.,NaN,None
7,1989,"Abbott, Bud",,"Pictured on one of five 29¢ US commemorative postage stamps celebrating famous comedians, issued in booklet form 29 August 1991. He is shown with his partner 'Lou Costello (I)' (qv). The stamp designs were drawn by caricaturist 'Al Hirschfeld' (qv). The other comedians honored in the set are 'Stan Laurel' (qv) and 'Oliver Hardy' (qv); 'Edgar Bergen' (qv) (with alter ego Charlie McCarthy); 'Jack Benny' (qv); and 'Fanny Brice' (qv).",NaN,None
8,1989,"Abbott, Bud",,"At 'Lou Costello (I)' (qv)'s insistance, the monies earned from the their act were split 60/40, favoring Abbott. Costello's reasoning was that ""comics are a dime a dozen. Good straight men are hard to find.""",NaN,None
9,1989,"Abbott, Bud",,Father of actor 'Bud Abbott Jr.' (qv),NaN,None
10,1989,"Abbott, Bud",,"Abbott and Costello are known in Italy as ""Gianni and Pinotto"", Abbott being Gianni and Costello being Pinotto.",NaN,None
11,1989,"Abbott, Bud",,"With 'Lou Costello (I)' (qv), starred on ABC (1941-1946) and NBC (1946-1949) Radio's ""The Abbott and Costello Show.""",NaN,None
12,1989,"Abbott, Bud",,"A lifelong epileptic, he died of prostate cancer following two strokes.",NaN,None
13,1989,"Abbott, Bud",,"Biography in: ""Who's Who in Comedy"" by Ronald L. Smith; pg. 1-3. New York: Facts on File, 1992. ISBN 0816023387",NaN,None
14,1989,"Abbott, Bud",,"March 1959: When his former partner 'Lou Costello (I)' (qv) died, a nationally run news photo showed him reading a newspaper article covering his former partner's death.",NaN,None
15,1989,"Abbott, Bud",,He wore a front toupee for many of his early films.,NaN,None
16,1989,"Abbott, Bud",,"His twin sister, Olive Victoria Abbott, was also in vaudeville and lived to be 101 years old, dying on 8/8/1997.",NaN,None
17,1989,"Abbott, Bud",,"His father, Harry, was a publicity advance man for Barnum and Bailey Circus.",NaN,None
18,1989,"Abbott, Bud",,"Soon after former partner 'Lou Costello (I)' (qv)'s death, the Internal Revenue Service demanded Bud pay over $750,000 in back taxes. He was forced to sell his estate in Encino, California (at a loss), as well as his 200-acre ranch. His wife sold her jewelry and furs and they relinquished their remaining share of profits from the old lucrative Universal movies. He said he'd have to start all over and begged for donations from Abbott & Costello fans, with little results.",NaN,None
19,1989,"Abbott, Bud",,"September, 2003: Montclair State University in New Jersey dedicated a building in their new residence hall complex as ""Abbott and Costello Center"", after Bud and his partner 'Lou Costello (I)' (qv).",NaN,None
20,1989,"Abbott, Bud",,He and his professional partner 'Lou Costello (I)' (qv) were nominated for the 2007 inaugural New Jersey Hall of Fame for their services to entertainment.,NaN,None
21,1989,"Abbott, Bud",,"1942: His salary was $393,314, making him one of the highest-paid actors in Hollywood.",NaN,None
22,1989,"Abbott, Bud",,Uncle of TV producer 'Norman Abbott (II)' (qv).,NaN,None
23,1989,"Abbott, Bud",,"An avid gun collector, he once owned one of 'Adolf Hitler' (qv)'s shotguns and some of 'Tom Mix (I)' (qv)'s pearl-handled pistols.",NaN,None
24,1989,"Abbott, Bud",,"He and his professional partner, 'Lou Costello (I)' (qv), were elected into the 2008 New Jersey Hall of Fame for their services to arts and entertainment.",NaN,None
25,1989,"Abbott, Bud",,"He has three stars on the Hollywood Walk of Fame for Radio (6333 Hollywood Boulevard); Motion Pictures (1611 Vine Street) and Television (6740 Hollywood Boulevard); in Hollywood, California.",NaN,None
26,1989,"Abbott, Bud",,Uncle of 'Norman Abbott (II)' (qv).,NaN,None
27,1989,"Abbott, Bud",,Uncle of 'Betty A. Griffin' (qv).,NaN,None
28,1989,"Abbott, Bud",,"The comedy team's 1941 salary was $291,905.",NaN,None
29,3482,"Abello, Jorge Enrique",,Parents: Alberto Abello & Heydi Moreno/,NaN,None
30,3482,"Abello, Jorge Enrique",,Daughter: Candelaria (born Feb 12th 2002).,NaN,None
31,3482,"Abello, Jorge Enrique",,"Education: Gimnasio Moderno Tertiary, Universidad Javeriana.",NaN,None
32,3482,"Abello, Jorge Enrique",,Four siblings.,NaN,None
33,3892,"Abineri, Daniel",,"Son of 'John Abineri' (qv) and 'Hilary Bamford' (qv), and brother of 'Sebastian Abineri' (qv).",NaN,None
34,3892,"Abineri, Daniel",,"Discovered actor Russell Crowe when he gave him his first professional acting role in a New Zealand tour of 'The Rocky Horror Picture Show'. Abineri later awarded Crowe the lead in his very first musical, 'Bad Boy Johnny and the Prophets of Doom'.",NaN,None
35,3892,"Abineri, Daniel",,Developed a love of 30s and 40s music at the age of 3 when his father brought home an old wind-up gramophone and a chest full of 78 rpm recordings.,NaN,None
36,3892,"Abineri, Daniel",,"Has one daughter, Lola (b. 1998)",NaN,None
37,3892,"Abineri, Daniel",,"Married to Claudia Rosencrantz, controller of entertainment for Britain's ITV, and co-creator of British TV hits like Who Wants To Be A Millionaire?, I'm A Celebrity - Get Me Out of Here, and Pop Idol.",NaN,None
38,4318,"Abraham, Arthur",,"Despite having his jaw broken, he won a fight against Colombian boxer Edson Miranda. The incident brought him the admiration of many experts, but also caused discussions about boxing and its dangers (23 September 2006).",NaN,None
39,4318,"Abraham, Arthur",,"German professional boxer of Armenian descent, who has been IBF World Champion in the middleweight division since 10 December 2005.",NaN,None
40,4662,"Abramoff, Jack",,"In 2006, pleaded guilty to fraud, tax evasion and conspiracy. Convicted for fraud and served 3 1/2 years and 7 months in federal prison.",NaN,None
41,4662,"Abramoff, Jack",,Former Washington D.C. lobbyist and businessman.,NaN,None
42,6152,"Achard, Marcel",,Was educated at the University of Lyon.,NaN,None
43,6740,"Ackroyd, Jack",,Two sons and a daughter.,NaN,None
44,6740,"Ackroyd, Jack",,Son - William (Bill) Ackroyd.,NaN,None
45,6740,"Ackroyd, Jack",,Daughter - Peggy Ackroyd Sullivan.,NaN,None
46,8393,"Adams, Donald",,A member of The D'Oyly Carte Opera Company.,NaN,None
47,8393,"Adams, Donald",,A member of The D'Oyly Carte Opera Company.,NaN,None
48,8692,"Adams, Jonathan",,"Played the role of the Narrator in the original London production of ""The Rocky Horror Show.""",NaN,None
49,9051,"Adams, R.J.",,"R. J. Adams was one L.A.'s top radio personalities throughout the 1970s, 80s and 90s. Known to millions of Southern Californians as Bob Shannon, the popular drive time DJ was heard afternoons on such legendary giants as 640/KFI and 93/KHJ. In May 2000, he signed with yet another of L.A.'s top rated stations, oldies radio KRTH 101.",NaN,None
50,9051,"Adams, R.J.",,Pilots a variety of aircraft from high performance single and twin engine turbo props to corporate jets like the Cessna Citation II.,NaN,None
51,9051,"Adams, R.J.",,"Host of the popular entertainment industry talk show ""Back Stage Live"" on 870/KRLA, Los Angeles.",NaN,None
52,9051,"Adams, R.J.",,"Was the acting coach to Kristy Swanson, Sarah Lancaster, Vicellous Reon Shannon, Warren G, Schae Harrison, and Brian Krause.",NaN,None
53,9051,"Adams, R.J.",,In 1976 gave NFL Quarterback Ron Jaworski his first job in broadcasting as the sportscaster on his L.A. radio morning show.,NaN,None
54,9051,"Adams, R.J.",,Largely recognized as the person who initiated the movement that pressured the National Oceanic and Atmospheric Administration into naming hurricanes after men in addition to women in 1978.,NaN,None
55,9051,"Adams, R.J.",,One of the industry's most distinguished film acting coaches whose teaching career spans more than 30 years and his workshop is ranked as one of the three Best Acting Schools in California.,NaN,None
56,9051,"Adams, R.J.",,"The Film Acting Coach on Breakdown Services' ""Virtual Channel Network"".",NaN,None
57,9051,"Adams, R.J.",,Holds both U.S and Canadian citizenship.,NaN,None
58,9051,"Adams, R.J.",,"R.J. Adams' Film Acting school, The Actors Workshop was recently rated by Made Mannual as one of the three Best Acting Schools in California.",NaN,None
59,9407,"Adamsdale, Will",,Won the 2004 Perrier Comedy Award.,NaN,None
60,9496,"Adamson, Peter",,Children are Michael & Greig,NaN,None
61,9496,"Adamson, Peter",,"Following his departure from Coronation Street, he enjoyed a brief run on the London stage in ""Dial M for Murder"", before retiring from the acting profession.",NaN,None
62,9496,"Adamson, Peter",,"His wife, Jean, suffered years of chronic ill-health and severe arthritis. Her early death in 1985 reignited Adamson's alcoholism, an addiction he had successfully overcome in his time as a soap actor.",NaN,None
63,9523,"Adamson, Victor",,Son with Booth: 'Al Adamson' (qv),NaN,None
64,9523,"Adamson, Victor",,"Generally regarded as the worst director of low-budget independently-produced westerns of the 1930's. This in itself is quite an accomplishment, given the low expectation level of the genre.",NaN,None
65,9523,"Adamson, Victor",,"That producers such as Adamson and the even sleazier 'Robert J. Horner' (qv) were able to survive in the movie business is indicative of how even the worst of the independent producers could succeed under the film exchange system of the 1920s and '30s, which serviced thousands of theaters throughout the U.S. and Canada. Two separate exchange systems existed: ""States Rights"", where the exchange would buy a release for distribution in a particular state or region, and the library-type exchange system, allowing distribution in a territory for a predetermined length of time. In the latter, the trick was to sign up enough exchanges willing to print and distribute product (films such as Adamson's would be shown for one to three days on the lower part of a double bill) for as little as $5 per day. The exchange would negotiate advertising expenses (posters), normally only paying for these items during a first run--some would attempt to sell or lease them in advertising packages to the theaters with varying degrees of success. A single print of even the worst Adamson film might be shown three times in 400 unaffiliated theaters on the first run. These mostly rural theaters had an insatiable demand for product, since they were unable to obtain A-list features from major Hollywood studios. The film would be shelved for six to nine months and then be recirculated on an irregular basis until the print was worn out (a situation that contributed immensely to these films being lost today). Money, at least in theory, could trickle back to producers for years, enabling them to eventually double or even triple their small investment. Some independent producers were able to negotiate advances from exchanges for future productions based on their successful track records, although it's extremely unlikely that Adamson would have been able to capitalize on this. Ironically, today the rare surviving posters of Adamson's films are highly collectible, with prices that approach the cost of many of his productions.",NaN,None
66,10276,"Ader, Bob",,Married to actress/inventor 'Marilyn Spanier' (qv).,NaN,None
67,10276,"Ader, Bob",,"Also a playwright, having had two plays produced Off Broadway.",NaN,None
68,10276,"Ader, Bob",,Worked with Judy Garland in 1967 at the Felt Forum of Madison Square Garden.,NaN,None
69,10314,"Aders, Johan",,"Performs his own fights, stunts and acrobatics.",NaN,None
70,10314,"Aders, Johan",,"Trained in various martial arts. Also enjoys Salsa-dancing, gymnastics and snow-boarding.",NaN,None
71,10314,"Aders, Johan",,"Heavily injured on the set of Bum Fu: A Joint Venture (2004) (V). Suffered from a brain concussion, ruptured his right hamstring and injured his right ankle. The last one can be seen during the blooper reel on the DVD version.",NaN,None
72,10314,"Aders, Johan",,Always improvises various of his scenes and lines.,NaN,None
73,10314,"Aders, Johan",,Collected comic books and magic cards as a child. Now still collects movies. Mostly action and martial arts.,NaN,None
74,10314,"Aders, Johan",,"Parents (mother Carlijn Thielen, father Jan-Hein Aders) got divorced when Johan was 18 years old. They still get along as good friends.",NaN,None
75,10314,"Aders, Johan",,"A huge fan of Mortal Kombat films/games, WMAC-Masters, Marvel and DC comics and movie adaptations.",NaN,None
76,10314,"Aders, Johan",,"Trained in the arts of Judo, Shaolin Kempo, Jiu-Jitsu, Capoeira, Karate, Aikijitsu, Boxing, Kickboxing, MMA and Tae Kwon Do in which he has a black belt.",NaN,None
77,10314,"Aders, Johan",,Is right handed and footed. Was born almost deaf and took years to fully recover after various surgeries. Also uses glasses or contacts.,NaN,None
78,10314,"Aders, Johan",,Plays the guitar.,NaN,None
79,10314,"Aders, Johan",,"Favorite martial arts actors / stunt men are Chris Casamassa, Hakim Alston, Clayton Barber, J.J. Perry, Ray Park, Mark Dacascos, Gary Daniels, Michael Jai White and Scott Adkins.",NaN,None
80,10314,"Aders, Johan",,"Favorite actor is Johnny Depp. Favorite actress is Carice van Houten, but considers Jessica Biel as the most beautiful actress.",NaN,None
81,10314,"Aders, Johan",,"Huge lover of animals. Had various rabbits, cats, guinea pigs and hamsters.",NaN,None
82,10511,"Adilman, Nobu",,Brother of 'Mio Adilman' (qv).,NaN,None
83,10895,"Adler, Jerry",,"He was nominated for a 1976 'Joseph Jefferson (I)' (qv) Award for Director in a Play for ""That Championship Season"", at the Arlington Park Theatre in Chicago, Illinois.",NaN,None
84,11201,"Adonis, Adrian",,Professional wrestler,NaN,None
85,11201,"Adonis, Adrian",,"On July 4, 1988, he, Pat Kelly and Dave McKigney were killed in a car accident in Lewisporte, Newfoundland, Canada, on the way to a wrestling promotion.",NaN,None
86,11201,"Adonis, Adrian",,"Because he pretty much ate himself out of ""main event"" status, no major wrestling organization wanted him. Desperate, he went to the WWF to find work, and was willing to do just about anything. About the same time, 'Vince McMahon' (qv) was looking for someone to be a ""gay"" wrestler. Adonis took him up on that offer, and that pretty much finished off his wrestling career. For the record, he was not gay.",NaN,None
87,11201,"Adonis, Adrian",,Former tag team partner with 'Jesse Ventura (I)' (qv).,NaN,None
88,11201,"Adonis, Adrian",,Notable title wins include: NWA Americas Tag Team titles with Black Gordman; NWA Americas title; NWA Americas Tag Team titles with 'Roddy Piper' (qv); PNW Tag Team titles with 'Ron Starr (III)' (qv); AWA World Tag Team titles with 'Jesse Ventura (I)' (qv); SCW Southwest Heavyweight title; SCW Undisputed World title; WWF World Tag Team titles with 'Dick Murdoch' (qv).,NaN,None
89,11201,"Adonis, Adrian",,"Attended high school in Kenmore, New York",NaN,None
90,11694,"Aendenboom, Frank",,He is the son of actress 'Gella Allaert' (qv).,NaN,None
91,12053,"Afonso, Yves",,"He has an entry in Jean Tulard's ""Dictionnaire du cinéma/Les acteurs"" published in Paris in 2007 (page 14).",NaN,None
92,12315,"Agami, Kuku",,Brother of 'Al Agami' (qv),NaN,None
93,13218,"Agosto, Ben",,2000 junior Grand Prix final ice dancing figure skating champion with 'Tanith Belbin' (qv).,NaN,None
94,13218,"Agosto, Ben",,2003 Grand Prix final ice dancing figure skating bronze medalist with 'Tanith Belbin' (qv).,NaN,None
95,13218,"Agosto, Ben",,2004 & 2007 Grand Prix final ice dancing figure skating silver medalist with 'Tanith Belbin' (qv).,NaN,None
96,13218,"Agosto, Ben",,2002 & 2003 Four Continents ice dancing figure skating silver medalist with 'Tanith Belbin' (qv).,NaN,None
97,13218,"Agosto, Ben",,2004 Four Continents ice dancing figure skating champion with 'Tanith Belbin' (qv).,NaN,None
98,1989,"Abbott, Bud",One Night in the Tropics,"1940: He made his film debut in _One Night in the Tropics (1940)_ (qv), which was also his first film pairing with his partner 'Lou Costello (I)' (qv). It wasn't Costello's film debut, however, as he had been in several movies in the late 1920s as an extra and stuntman before he teamed up with Abbott.",NaN,None
99,1521,"Abatantuono, Diego",Regalo di Natale,"He was typecast in the role of the funny southerner (""terrunciello"") in his early movies; the turning point in his career came with 'Pupi Avati' (qv)'s _Regalo di Natale (1986)_ (qv), when he showed good qualities as a dramatic actor.",NaN,None

In [ ]:
%%sql
select * from NameDetail where property = "trivia"

,id,name,gender,property,value
0,1521,"Abatantuono, Diego",m,trivia,"He was typecast in the role of the funny southerner (""terrunciello"") in his early movies; the turning point in his career came with 'Pupi Avati' (qv)'s _Regalo di Natale (1986)_ (qv), when he showed good qualities as a dramatic actor."
1,1521,"Abatantuono, Diego",m,trivia,"Has three children: Marta (b. 1985) from his former wife Rita; Matteo (b. 1995) and Marco (b. 1997) from his companion of 20 years, 'Giulia Begnotti' (qv)."
2,1989,"Abbott, Bud",m,trivia,He was cremated and his ashes scattered in the Pacific Ocean
3,1989,"Abbott, Bud",m,trivia,His mother was a bareback rider for the Ringling Bothers Circus.
4,1989,"Abbott, Bud",m,trivia,"Pictured on one of five 29¢ US commemorative postage stamps celebrating famous comedians, issued in booklet form 29 August 1991. He is shown with his partner 'Lou Costello (I)' (qv). The stamp designs were drawn by caricaturist 'Al Hirschfeld' (qv). The other comedians honored in the set are 'Stan Laurel' (qv) and 'Oliver Hardy' (qv); 'Edgar Bergen' (qv) (with alter ego Charlie McCarthy); 'Jack Benny' (qv); and 'Fanny Brice' (qv)."
5,1989,"Abbott, Bud",m,trivia,"At 'Lou Costello (I)' (qv)'s insistance, the monies earned from the their act were split 60/40, favoring Abbott. Costello's reasoning was that ""comics are a dime a dozen. Good straight men are hard to find."""
6,1989,"Abbott, Bud",m,trivia,Father of actor 'Bud Abbott Jr.' (qv)
7,1989,"Abbott, Bud",m,trivia,"Abbott and Costello are known in Italy as ""Gianni and Pinotto"", Abbott being Gianni and Costello being Pinotto."
8,1989,"Abbott, Bud",m,trivia,"With 'Lou Costello (I)' (qv), starred on ABC (1941-1946) and NBC (1946-1949) Radio's ""The Abbott and Costello Show."""
9,1989,"Abbott, Bud",m,trivia,"A lifelong epileptic, he died of prostate cancer following two strokes."
10,1989,"Abbott, Bud",m,trivia,"Biography in: ""Who's Who in Comedy"" by Ronald L. Smith; pg. 1-3. New York: Facts on File, 1992. ISBN 0816023387"
11,1989,"Abbott, Bud",m,trivia,"March 1959: When his former partner 'Lou Costello (I)' (qv) died, a nationally run news photo showed him reading a newspaper article covering his former partner's death."
12,1989,"Abbott, Bud",m,trivia,He wore a front toupee for many of his early films.
13,1989,"Abbott, Bud",m,trivia,"1940: He made his film debut in _One Night in the Tropics (1940)_ (qv), which was also his first film pairing with his partner 'Lou Costello (I)' (qv). It wasn't Costello's film debut, however, as he had been in several movies in the late 1920s as an extra and stuntman before he teamed up with Abbott."
14,1989,"Abbott, Bud",m,trivia,"His twin sister, Olive Victoria Abbott, was also in vaudeville and lived to be 101 years old, dying on 8/8/1997."
15,1989,"Abbott, Bud",m,trivia,"His father, Harry, was a publicity advance man for Barnum and Bailey Circus."
16,1989,"Abbott, Bud",m,trivia,"Soon after former partner 'Lou Costello (I)' (qv)'s death, the Internal Revenue Service demanded Bud pay over $750,000 in back taxes. He was forced to sell his estate in Encino, California (at a loss), as well as his 200-acre ranch. His wife sold her jewelry and furs and they relinquished their remaining share of profits from the old lucrative Universal movies. He said he'd have to start all over and begged for donations from Abbott & Costello fans, with little results."
17,1989,"Abbott, Bud",m,trivia,"September, 2003: Montclair State University in New Jersey dedicated a building in their new residence hall complex as ""Abbott and Costello Center"", after Bud and his partner 'Lou Costello (I)' (qv)."
18,1989,"Abbott, Bud",m,trivia,He and his professional partner 'Lou Costello (I)' (qv) were nominated for the 2007 inaugural New Jersey Hall of Fame for their services to entertainment.
19,1989,"Abbott, Bud",m,trivia,"1942: His salary was $393,314, making him one of the highest-paid actors in Hollywood."
20,1989,"Abbott, Bud",m,trivia,Uncle of TV producer 'Norman Abbott (II)' (qv).
21,1989,"Abbott, Bud",m,trivia,"An avid gun collector, he once owned one of 'Adolf Hitler' (qv)'s shotguns and some of 'Tom Mix (I)' (qv)'s pearl-handled pistols."
22,1989,"Abbott, Bud",m,trivia,"1960: He tried to form a new duo, this time with veteran comic/instrumentalist 'Candy Candido' (qv). Abbott quipped during an interview that he and Candy would star in ""Space Privates"", a futuristic version of his and 'Lou Costello (I)' (qv)'s _Buck Privates (1941)_ (qv) classic. ""Space Privates"" never materialized and the teaming was short-lived. They weren't attracting an audience, and Abbott was forced to leave after experiencing an epileptic attack while traveling to one of their personal appearances."
23,1989,"Abbott, Bud",m,trivia,"He and his professional partner, 'Lou Costello (I)' (qv), were elected into the 2008 New Jersey Hall of Fame for their services to arts and entertainment."
24,1989,"Abbott, Bud",m,trivia,"He has three stars on the Hollywood Walk of Fame for Radio (6333 Hollywood Boulevard); Motion Pictures (1611 Vine Street) and Television (6740 Hollywood Boulevard); in Hollywood, California."
25,1989,"Abbott, Bud",m,trivia,"The performance of ""Who's on First?"" in the film _The Naughty Nineties (1945)_ (qv) is considered the quintessential version of the routine, and the clip is enshrined in a looped video at the Baseball Hall of Fame in Cooperstown, New York."
26,1989,"Abbott, Bud",m,trivia,Uncle of 'Norman Abbott (II)' (qv).
27,1989,"Abbott, Bud",m,trivia,Uncle of 'Betty A. Griffin' (qv).
28,1989,"Abbott, Bud",m,trivia,"The comedy team's 1941 salary was $291,905."
29,3482,"Abello, Jorge Enrique",m,trivia,Parents: Alberto Abello & Heydi Moreno/
30,3482,"Abello, Jorge Enrique",m,trivia,Daughter: Candelaria (born Feb 12th 2002).
31,3482,"Abello, Jorge Enrique",m,trivia,"Education: Gimnasio Moderno Tertiary, Universidad Javeriana."
32,3482,"Abello, Jorge Enrique",m,trivia,Four siblings.
33,3892,"Abineri, Daniel",m,trivia,"Son of 'John Abineri' (qv) and 'Hilary Bamford' (qv), and brother of 'Sebastian Abineri' (qv)."
34,3892,"Abineri, Daniel",m,trivia,"Discovered actor Russell Crowe when he gave him his first professional acting role in a New Zealand tour of 'The Rocky Horror Picture Show'. Abineri later awarded Crowe the lead in his very first musical, 'Bad Boy Johnny and the Prophets of Doom'."
35,3892,"Abineri, Daniel",m,trivia,Developed a love of 30s and 40s music at the age of 3 when his father brought home an old wind-up gramophone and a chest full of 78 rpm recordings.
36,3892,"Abineri, Daniel",m,trivia,"Has one daughter, Lola (b. 1998)"
37,3892,"Abineri, Daniel",m,trivia,"Married to Claudia Rosencrantz, controller of entertainment for Britain's ITV, and co-creator of British TV hits like Who Wants To Be A Millionaire?, I'm A Celebrity - Get Me Out of Here, and Pop Idol."
38,4318,"Abraham, Arthur",m,trivia,"Despite having his jaw broken, he won a fight against Colombian boxer Edson Miranda. The incident brought him the admiration of many experts, but also caused discussions about boxing and its dangers (23 September 2006)."
39,4318,"Abraham, Arthur",m,trivia,"German professional boxer of Armenian descent, who has been IBF World Champion in the middleweight division since 10 December 2005."
40,4662,"Abramoff, Jack",m,trivia,"In 2006, pleaded guilty to fraud, tax evasion and conspiracy. Convicted for fraud and served 3 1/2 years and 7 months in federal prison."
41,4662,"Abramoff, Jack",m,trivia,Former Washington D.C. lobbyist and businessman.
42,6152,"Achard, Marcel",m,trivia,Was educated at the University of Lyon.
43,6740,"Ackroyd, Jack",m,trivia,Two sons and a daughter.
44,6740,"Ackroyd, Jack",m,trivia,Son - William (Bill) Ackroyd.
45,6740,"Ackroyd, Jack",m,trivia,Daughter - Peggy Ackroyd Sullivan.
46,8393,"Adams, Donald",m,trivia,A member of The D'Oyly Carte Opera Company.
47,8393,"Adams, Donald",m,trivia,A member of The D'Oyly Carte Opera Company.
48,8692,"Adams, Jonathan",m,trivia,"Played the role of the Narrator in the original London production of ""The Rocky Horror Show."""
49,9051,"Adams, R.J.",m,trivia,"R. J. Adams was one L.A.'s top radio personalities throughout the 1970s, 80s and 90s. Known to millions of Southern Californians as Bob Shannon, the popular drive time DJ was heard afternoons on such legendary giants as 640/KFI and 93/KHJ. In May 2000, he signed with yet another of L.A.'s top rated stations, oldies radio KRTH 101."
50,9051,"Adams, R.J.",m,trivia,Pilots a variety of aircraft from high performance single and twin engine turbo props to corporate jets like the Cessna Citation II.
51,9051,"Adams, R.J.",m,trivia,"Host of the popular entertainment industry talk show ""Back Stage Live"" on 870/KRLA, Los Angeles."
52,9051,"Adams, R.J.",m,trivia,"Was the acting coach to Kristy Swanson, Sarah Lancaster, Vicellous Reon Shannon, Warren G, Schae Harrison, and Brian Krause."
53,9051,"Adams, R.J.",m,trivia,In 1976 gave NFL Quarterback Ron Jaworski his first job in broadcasting as the sportscaster on his L.A. radio morning show.
54,9051,"Adams, R.J.",m,trivia,Largely recognized as the person who initiated the movement that pressured the National Oceanic and Atmospheric Administration into naming hurricanes after men in addition to women in 1978.
55,9051,"Adams, R.J.",m,trivia,One of the industry's most distinguished film acting coaches whose teaching career spans more than 30 years and his workshop is ranked as one of the three Best Acting Schools in California.
56,9051,"Adams, R.J.",m,trivia,"The Film Acting Coach on Breakdown Services' ""Virtual Channel Network""."
57,9051,"Adams, R.J.",m,trivia,Holds both U.S and Canadian citizenship.
58,9051,"Adams, R.J.",m,trivia,"R.J. Adams' Film Acting school, The Actors Workshop was recently rated by Made Mannual as one of the three Best Acting Schools in California."
59,9407,"Adamsdale, Will",m,trivia,Won the 2004 Perrier Comedy Award.
60,9496,"Adamson, Peter",m,trivia,Children are Michael & Greig
61,9496,"Adamson, Peter",m,trivia,"(1983) He was charged with indecently assaulting two girls at a public swimming pool. Despite being cleared by a jury, he was sacked from _""Coronation Street"" (1960)_ (qv) after he sold his story to a national newspaper. Script writers for the show killed him off when he suffered a heart attack at the wheel of his car. His exit from ""Coronation Street"" led to a collapse in his personal life. A year after the trial his wife died and by 1991 he was bankrupt. He spent last few years of his life living in Welton, Lincolnshire, far from the fame and glamour he once enjoyed."
62,9496,"Adamson, Peter",m,trivia,"Following his departure from Coronation Street, he enjoyed a brief run on the London stage in ""Dial M for Murder"", before retiring from the acting profession."
63,9496,"Adamson, Peter",m,trivia,"His wife, Jean, suffered years of chronic ill-health and severe arthritis. Her early death in 1985 reignited Adamson's alcoholism, an addiction he had successfully overcome in his time as a soap actor."
64,9523,"Adamson, Victor",m,trivia,Son with Booth: 'Al Adamson' (qv)
65,9523,"Adamson, Victor",m,trivia,"Generally regarded as the worst director of low-budget independently-produced westerns of the 1930's. This in itself is quite an accomplishment, given the low expectation level of the genre."
66,9523,"Adamson, Victor",m,trivia,"That producers such as Adamson and the even sleazier 'Robert J. Horner' (qv) were able to survive in the movie business is indicative of how even the worst of the independent producers could succeed under the film exchange system of the 1920s and '30s, which serviced thousands of theaters throughout the U.S. and Canada. Two separate exchange systems existed: ""States Rights"", where the exchange would buy a release for distribution in a particular state or region, and the library-type exchange system, allowing distribution in a territory for a predetermined length of time. In the latter, the trick was to sign up enough exchanges willing to print and distribute product (films such as Adamson's would be shown for one to three days on the lower part of a double bill) for as little as $5 per day. The exchange would negotiate advertising expenses (posters), normally only paying for these items during a first run--some would attempt to sell or lease them in advertising packages to the theaters with varying degrees of success. A single print of even the worst Adamson film might be shown three times in 400 unaffiliated theaters on the first run. These mostly rural theaters had an insatiable demand for product, since they were unable to obtain A-list features from major Hollywood studios. The film would be shelved for six to nine months and then be recirculated on an irregular basis until the print was worn out (a situation that contributed immensely to these films being lost today). Money, at least in theory, could trickle back to producers for years, enabling them to eventually double or even triple their small investment. Some independent producers were able to negotiate advances from exchanges for future productions based on their successful track records, although it's extremely unlikely that Adamson would have been able to capitalize on this. Ironically, today the rare surviving posters of Adamson's films are highly collectible, with prices that approach the cost of many of his productions."
67,10276,"Ader, Bob",m,trivia,Married to actress/inventor 'Marilyn Spanier' (qv).
68,10276,"Ader, Bob",m,trivia,"Also a playwright, having had two plays produced Off Broadway."
69,10276,"Ader, Bob",m,trivia,Worked with Judy Garland in 1967 at the Felt Forum of Madison Square Garden.
70,10314,"Aders, Johan",m,trivia,"Performs his own fights, stunts and acrobatics."
71,10314,"Aders, Johan",m,trivia,"Trained in various martial arts. Also enjoys Salsa-dancing, gymnastics and snow-boarding."
72,10314,"Aders, Johan",m,trivia,"Heavily injured on the set of Bum Fu: A Joint Venture (2004) (V). Suffered from a brain concussion, ruptured his right hamstring and injured his right ankle. The last one can be seen during the blooper reel on the DVD version."
73,10314,"Aders, Johan",m,trivia,Always improvises various of his scenes and lines.
74,10314,"Aders, Johan",m,trivia,Collected comic books and magic cards as a child. Now still collects movies. Mostly action and martial arts.
75,10314,"Aders, Johan",m,trivia,"Parents (mother Carlijn Thielen, father Jan-Hein Aders) got divorced when Johan was 18 years old. They still get along as good friends."
76,10314,"Aders, Johan",m,trivia,"A huge fan of Mortal Kombat films/games, WMAC-Masters, Marvel and DC comics and movie adaptations."
77,10314,"Aders, Johan",m,trivia,"Trained in the arts of Judo, Shaolin Kempo, Jiu-Jitsu, Capoeira, Karate, Aikijitsu, Boxing, Kickboxing, MMA and Tae Kwon Do in which he has a black belt."
78,10314,"Aders, Johan",m,trivia,Is right handed and footed. Was born almost deaf and took years to fully recover after various surgeries. Also uses glasses or contacts.
79,10314,"Aders, Johan",m,trivia,Plays the guitar.
80,10314,"Aders, Johan",m,trivia,"Favorite martial arts actors / stunt men are Chris Casamassa, Hakim Alston, Clayton Barber, J.J. Perry, Ray Park, Mark Dacascos, Gary Daniels, Michael Jai White and Scott Adkins."
81,10314,"Aders, Johan",m,trivia,"Favorite actor is Johnny Depp. Favorite actress is Carice van Houten, but considers Jessica Biel as the most beautiful actress."
82,10314,"Aders, Johan",m,trivia,"Huge lover of animals. Had various rabbits, cats, guinea pigs and hamsters."
83,10511,"Adilman, Nobu",m,trivia,Brother of 'Mio Adilman' (qv).
84,10895,"Adler, Jerry",m,trivia,"He was nominated for a 1976 'Joseph Jefferson (I)' (qv) Award for Director in a Play for ""That Championship Season"", at the Arlington Park Theatre in Chicago, Illinois."
85,11201,"Adonis, Adrian",m,trivia,Professional wrestler
86,11201,"Adonis, Adrian",m,trivia,"On July 4, 1988, he, Pat Kelly and Dave McKigney were killed in a car accident in Lewisporte, Newfoundland, Canada, on the way to a wrestling promotion."
87,11201,"Adonis, Adrian",m,trivia,"Because he pretty much ate himself out of ""main event"" status, no major wrestling organization wanted him. Desperate, he went to the WWF to find work, and was willing to do just about anything. About the same time, 'Vince McMahon' (qv) was looking for someone to be a ""gay"" wrestler. Adonis took him up on that offer, and that pretty much finished off his wrestling career. For the record, he was not gay."
88,11201,"Adonis, Adrian",m,trivia,Former tag team partner with 'Jesse Ventura (I)' (qv).
89,11201,"Adonis, Adrian",m,trivia,Notable title wins include: NWA Americas Tag Team titles with Black Gordman; NWA Americas title; NWA Americas Tag Team titles with 'Roddy Piper' (qv); PNW Tag Team titles with 'Ron Starr (III)' (qv); AWA World Tag Team titles with 'Jesse Ventura (I)' (qv); SCW Southwest Heavyweight title; SCW Undisputed World title; WWF World Tag Team titles with 'Dick Murdoch' (qv).
90,11201,"Adonis, Adrian",m,trivia,"Finished off his WWF wrestling career without his signature blonde hair after 'Ed Leslie (I)' (qv) (aka ""Brutus Beefcake"") shaved most of it off after he lost to 'Roddy Piper' (qv) during _WrestleMania III (1987) (V)_ (qv)."
91,11201,"Adonis, Adrian",m,trivia,"Attended high school in Kenmore, New York"
92,11694,"Aendenboom, Frank",m,trivia,He is the son of actress 'Gella Allaert' (qv).
93,12053,"Afonso, Yves",m,trivia,"He has an entry in Jean Tulard's ""Dictionnaire du cinéma/Les acteurs"" published in Paris in 2007 (page 14)."
94,12315,"Agami, Kuku",m,trivia,Brother of 'Al Agami' (qv)
95,13218,"Agosto, Ben",m,trivia,2000 junior Grand Prix final ice dancing figure skating champion with 'Tanith Belbin' (qv).
96,13218,"Agosto, Ben",m,trivia,2003 Grand Prix final ice dancing figure skating bronze medalist with 'Tanith Belbin' (qv).
97,13218,"Agosto, Ben",m,trivia,2004 & 2007 Grand Prix final ice dancing figure skating silver medalist with 'Tanith Belbin' (qv).
98,13218,"Agosto, Ben",m,trivia,2002 & 2003 Four Continents ice dancing figure skating silver medalist with 'Tanith Belbin' (qv).
99,13218,"Agosto, Ben",m,trivia,2004 Four Continents ice dancing figure skating champion with 'Tanith Belbin' (qv).

#### Question : 5 Lien IMDB-YAGO

On suppose que certaines personnes sont présentes à la fois dans IMDB et dans YAGO mais elles ne sont pas structurées de la même façon.

5a) Compléter les Personnes existant dans NameDetail avec des informations venant de yago (voir **yagoPerson** et **actorFacts**). 
Pour cela, définir la relation qui donne le lieu de naissance et le conjoint (ou la conjointe) d'une personne :

  - **NameYago** (id, name, yagoName, yagoBirthPlace, yagoSpouse) 

5b) Compléter le contenu de NameYago pour les personnes de IMDB existant dans *name_full*.

In [ ]:
#creation des deux tables yagoPerson et actorfacts

yagoPerson.createOrReplaceTempView("yagoPerson")
actorFacts.createOrReplaceTempView("actorFacts")

In [ ]:
%%sql
-- extraction des information sans schema de yagoPerson et actorfacts
create or replace temp view yagoPersonExtracted as
select regexp_extract(subject, '.*\/(.+)>', 1) as name
from yagoPerson;

create or replace temp view actorFactsExtracted as
select regexp_extract(subject, '.*\/(.+)>', 1) as name,
      regexp_extract(property, '.*\/(.+)>', 1) as property,
      regexp_extract(object, '.*\/(.+)>', 1) as value
from actorFacts;


-- creation de la table Yago(name, birthPlace, spouse) pour faciliter la requete
create or replace temp view Yago as
select t.name, birthPlace, spouse
from yagoPersonExtracted t 
left outer join (select name, value as birthPlace from actorFactsExtracted where property = "birthPlace") t1 on t.name = t1.name 
left outer join (select name, value as spouse from actorFactsExtracted where property = "spouse") t2 on t.name = t2.name;

Requete 5a : plusieurs personne n'existe pas dans NameDetail

In [ ]:
%%sql
create or replace temp view NameYago as 
select n.id, n.name, a.name as yagoName, a.birthPlace as yagoBirthPlace, a.spouse as yagoSpouse
from Yago a 
left outer join (select distinct id,name from NameDetail) n 
on n.name = CONCAT(regexp_extract(regexp_extract(a.name,"(.+?)(_\\(.+\\))?$",1),".*_(.+)$",1),
              ", ",regexp_extract(a.name,"^(.+?)_",1))
where a.birthPlace is not null and a.spouse is not null
;

select count(*)
from NameYago where name is not null

Requete 5b : completer avec name_full

In [ ]:
%%sql
create or replace temp view NameYagoCompleted as 
select n.id,regexp_replace(n.name,",","") as name , a.yagoName, a.yagoBirthPlace, a.yagoSpouse 
from NameYago a left outer join (select distinct id,name from nameAll) n 
on n.name = CONCAT(regexp_extract(regexp_extract(a.yagoName,"(.+?)(_\\(.+\\))?$",1),".*_(.+)$",1),
              ", ",regexp_extract(a.yagoName,"^(.+?)_",1))
;
select count(*) from NameYagoCompleted where name is not null

### Exercice 2 : Analyse

#### Question 6 : Restructuration
L'objectif de cette question est de savoir définir une structure complexe contenant des attributs qui ne sont pas des valeurs simples mais les listes, des tuples, des listes de tuples, ...

Définir une table **Film** (id, titre, roles, paysSalles) avec 
 - *roles* est une liste de tuples (acteur, nom, rang) où rang est le numéro d'ordre du rôle (attribu *nr_order*)
 - *paysSalles* est la liste des pays où le film est sorti en salles, triée par revenu dans le pays

In [ ]:
%%sql 

#Todo sorting by revenue 

create or replace temporary view Film as
with T1 as (
select movie_id as id , collect_list((person_id,(select first(name) from Name where id = person_id),nr_order)) as roles 
from Cast_Info
GROUP BY movie_id),
T2 as (
select id as id , collect_list(distinct(regexp_extract(value,"(.+):",1))) as paysSalles 
from TitleDetail where property = "release dates"
GROUP BY id)
select  t.id , r.title, t.roles, t2.paysSalles from T1 t, T2 t2, Title r where t.id = t2.id and r.id = t.id;

select * from Film

#### Question 7 : Fenêtres
On considère la table **RevenuWeekEndFilm**(id, titre, pays, jour, mois, année, revenu, écrans) dont les informations proviennent de la propriété *weekend gross* de TitleDetail
* un week-end est défini par les attributs (jour, mois, année)
* l'attribut *écrans* correspond à la quantité associée au terme *screens*

Exprimer les requêtes :
 - 7a) Pour chaque mois, le revenu total des films sortis aux USA durant les 3 derniers mois. Le schéma du résultat est : 
     - (mois, année, revenuMoisCourant, revenu3DerniersMois)
 - 7b) Pour chaque pays, le classement des films par revenu total. Le schéma du résultat est :
      - (pays, id, titre, revenuTotal, classement)
 - 7c) Pour chaque film, la date de début et de fin des périodes où les revenus du week end représentent au moins 10% du revenu total annuel du film. Le schéma du résultat est :
     - (id, titre, revenuAnnuel, annee, mois, jour, revenuWeekEnd, numéroPériode)

In [ ]:
%%sql

create or replace temporary view RevenuWeekEndFilm as
select id,title, regexp_extract(value,"(.+?) \\((.+?)\\) \\((.+?)\\)( \\((.+)screens\\))?",2) as pays,
                 regexp_extract(value,"(.+?) \\((.+?)\\) \\((.+?) (.+?) (.+?)\\)( \\((.+)screens\\))?",3) as jour,
                 regexp_extract(value,"(.+?) \\((.+?)\\) \\((.+?) (.+?) (.+?)\\)( \\((.+)screens\\))?",4) as mois,
                 regexp_extract(value,"(.+?) \\((.+?)\\) \\((.+?) (.+?) (.+?)\\)( \\((.+)screens\\))?",5) as annee,
                 regexp_extract(value,"(.+?) \\((.+?)\\) \\((.+?)\\)( \\((.+)screens\\))?",1) as revenu,
                regexp_extract(value,"(.+?) \\((.+?)\\) \\((.+?)\\)( \\((.+)screens\\))?",5) as ecrans
 from TitleDetail where property = "weekend gross" order by id;

 select * from RevenuWeekEndFilm

In [ ]:
# 7a

%%sql
with T1 as (
select mois,int(annee),regexp_replace(revenu,"[^0-9]","") as revenuMoisCourant, to_date(CONCAT(mois,annee),"MMMMyyyy") as date 
from RevenuWeekEndFilm
where pays = "USA")
select mois,annee, revenuMoisCourant,
  SUM(revenuMoisCourant) OVER(
    ORDER BY months_between(date, '1900-01-01')
    RANGE BETWEEN 2 PRECEDING AND current row
  ) as revenu3DerniersMois from T1 order by date

In [ ]:
#7b

%%sql
with T1 as (
select pays,id, title, sum(regexp_replace(revenu,"[^0-9]","")) as revenuTotal from RevenuWeekEndFilm group by pays,id,title)
select *, rank() over (partition by pays order by revenuTotal) as classement from T1 t order by pays, classement

In [ ]:
#7c
# chaque pays a une devise differente on ignore cette information pour faciliter les calcules

%%sql 
with T1 as (
select id, title, sum(regexp_replace(revenu,"[^0-9]","")) over (partition by id,title,annee) as revenuAnnuel, annee,mois,jour,
sum(regexp_replace(revenu,"[^0-9]","")) over (partition by id,title,annee,mois,jour) as revenuWeekEnd from RevenuWeekEndFilm),

T2 as (
select distinct(*) , sum(case when regexp_replace(revenuWeekEnd,"[^0-9]","") >= revenuAnnuel * 0.1 then 0 else 1 end) over (partition by id,title order by to_date(CONCAT(jour,mois,annee),"dMMMMyyyy")) as ok2
from T1),

T3 as (
select *, dense_rank() over (partition by id,title order by ok2) as ok3,

min(to_date(CONCAT(jour,mois,annee),"dMMMMyyyy")) OVER (PARTITION BY id,title,ok2 ) AS first , 
max(to_date(CONCAT(jour,mois,annee),"dMMMMyyyy")) OVER (PARTITION BY id,title,ok2 ) AS last
 from T2 where regexp_replace(revenuWeekEnd,"[^0-9]","") >= revenuAnnuel * 0.1
)

select id,title,revenuAnnuel,annee,mois,jour,revenuWeekEnd, ok3 as numeroPeriode 
from T3 where to_date(CONCAT(jour,mois,annee),"dMMMMyyyy") = first or to_date(CONCAT(jour,mois,annee),"dMMMMyyyy") = last

,id,title,revenuAnnuel,annee,mois,jour,revenuWeekEnd,numeroPeriode
0,1635380,102 Dalmatians,43338350.0,2000,November,26,19883351.0,1
1,1635380,102 Dalmatians,12848606.0,2001,March,25,150441.0,1
2,1640952,39 Pounds of Love,18964.0,2005,November,27,4217.0,1
3,1640952,39 Pounds of Love,18964.0,2005,December,11,6532.0,1
4,1640952,39 Pounds of Love,1317.0,2006,January,15,1227.0,2
5,1640952,39 Pounds of Love,1317.0,2006,January,22,90.0,2
6,1654259,A Nightmare on Elm Street: The Dream Child,20398441.0,1989,August,13,8115176.0,1
7,1654259,A Nightmare on Elm Street: The Dream Child,20398441.0,1989,September,17,327288.0,1
8,1654259,A Nightmare on Elm Street: The Dream Child,20398441.0,1989,October,1,241955.0,2
9,1654259,A Nightmare on Elm Street: The Dream Child,1851493.0,1990,February,14,64575.0,3
10,1654259,A Nightmare on Elm Street: The Dream Child,1851493.0,1990,June,7,37595.0,3
11,1665585,Adams æbler,1305.0,2007,March,18,1305.0,1
12,1669173,Agent Vinod,427043.0,2012,March,25,427043.0,1
13,1674846,Aliens of the Deep,4462468.0,2005,January,30,479368.0,1
14,1674846,Aliens of the Deep,4462468.0,2005,June,12,55641.0,1
15,1674846,Aliens of the Deep,4462468.0,2005,July,4,58802.0,2
16,1674846,Aliens of the Deep,4462468.0,2005,July,10,52788.0,2
17,1674846,Aliens of the Deep,4462468.0,2005,July,24,45625.0,3
18,1674846,Aliens of the Deep,4462468.0,2005,July,31,50780.0,3
19,1674846,Aliens of the Deep,4462468.0,2005,August,21,73097.0,4
20,1674846,Aliens of the Deep,4462468.0,2005,September,4,74290.0,4
21,1674846,Aliens of the Deep,725609.0,2006,January,1,10521.0,5
22,1674846,Aliens of the Deep,725609.0,2006,March,19,9620.0,5
23,1674846,Aliens of the Deep,725609.0,2006,April,30,9192.0,6
24,1674846,Aliens of the Deep,725609.0,2006,June,4,20274.0,7
25,1674846,Aliens of the Deep,725609.0,2006,October,29,15229.0,7
26,1674846,Aliens of the Deep,725609.0,2006,November,12,8179.0,8
27,1674846,Aliens of the Deep,725609.0,2006,November,24,9169.0,9
28,1674846,Aliens of the Deep,725609.0,2006,December,31,15468.0,10
29,1674846,Aliens of the Deep,108201.0,2007,May,27,1779.0,10
30,1674846,Aliens of the Deep,108201.0,2007,June,17,1600.0,11
31,1674846,Aliens of the Deep,108201.0,2007,June,24,1500.0,11
32,1674846,Aliens of the Deep,108201.0,2007,July,8,1793.0,12
33,1674846,Aliens of the Deep,108201.0,2007,July,29,2388.0,12
34,1674846,Aliens of the Deep,108201.0,2007,August,12,2069.0,13
35,1674846,Aliens of the Deep,108201.0,2007,August,26,1277.0,13
36,1674846,Aliens of the Deep,108201.0,2007,September,30,1106.0,14
37,1674846,Aliens of the Deep,108201.0,2007,October,7,1322.0,14
38,1674846,Aliens of the Deep,108201.0,2007,November,4,1329.0,15
39,1674846,Aliens of the Deep,108201.0,2007,December,2,1591.0,16
40,1674846,Aliens of the Deep,108201.0,2007,December,9,1448.0,16
41,1678176,Alpha Dog,13204467.0,2007,January,14,7411750.0,1
42,1678176,Alpha Dog,13204467.0,2007,February,11,140140.0,1
43,1678176,Alpha Dog,13204467.0,2007,April,22,452232.0,2
44,1678176,Alpha Dog,13204467.0,2007,May,6,194281.0,2
45,1678657,Altiplano,1974.0,2010,August,22,1269.0,1
46,1678657,Altiplano,1974.0,2010,October,4,515.0,1
47,1691519,Any Given Sunday,13584625.0,1999,December,26,13584625.0,1
48,1691519,Any Given Sunday,32603276.0,2000,February,13,443628.0,1
49,1691519,Any Given Sunday,32603276.0,2000,April,2,400578.0,2
50,1743323,Boys and Girls,12601450.0,2000,June,18,7008950.0,1
51,1743323,Boys and Girls,12601450.0,2000,July,16,262250.0,1
52,1743323,Boys and Girls,12601450.0,2000,July,30,141240.0,2
53,1749300,Buddha's Lost Children,39696.0,2006,September,10,15773.0,1
54,1749300,Buddha's Lost Children,39696.0,2006,October,8,12481.0,1
55,1749332,Buddy,12594.0,2003,November,27,12594.0,1
56,1770926,Chicago Joe and the Showgirl,55179.0,1990,July,29,14979.0,1
57,1770926,Chicago Joe and the Showgirl,55179.0,1990,August,19,771.0,1
58,1791664,Crackers,58689.0,1984,February,20,58689.0,1
59,1810763,De-Lovely,8961300.0,2004,July,4,400001.0,1
60,1810763,De-Lovely,8961300.0,2004,September,19,154973.0,1
61,1810763,De-Lovely,8961300.0,2004,October,3,163479.0,2
62,1814303,Deep Water,181322.0,2007,August,26,22632.0,1
63,1814303,Deep Water,181322.0,2007,December,9,4490.0,1
64,1848399,Duet for One,8736.0,1986,December,28,8736.0,1
65,1857778,El bosque animado,201523.0,2003,January,12,70066.0,1
66,1857778,El bosque animado,201523.0,2003,March,30,4674.0,1
67,1859733,El gran milagro,865947.0,2011,October,23,327757.0,1
68,1859733,El gran milagro,865947.0,2011,November,6,263362.0,1
69,1875141,Eulogy,54336.0,2004,October,17,41788.0,1
70,1875141,Eulogy,54336.0,2004,October,24,12548.0,1
71,1875462,European Vacation,12329627.0,1985,July,28,12329627.0,1
72,1890399,Final Destination 2,44032547.0,2003,February,2,16017141.0,1
73,1890399,Final Destination 2,44032547.0,2003,March,16,638273.0,1
74,1890399,Final Destination 2,44032547.0,2003,April,13,910208.0,2
75,1890399,Final Destination 2,44032547.0,2003,April,20,479533.0,3
76,1911420,Garden State,19415008.0,2004,August,1,201115.0,1
77,1911420,Garden State,19415008.0,2004,October,24,306447.0,1
78,1911420,Garden State,150030.0,2005,January,2,74052.0,2
79,1911420,Garden State,150030.0,2005,January,23,1980.0,2
80,1916458,Ghost Dog: The Way of the Samurai,15240414.0,1999,October,14,5895446.0,1
81,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,January,27,677519.0,1
82,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,February,3,558556.0,2
83,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,February,10,453951.0,3
84,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,February,17,355437.0,4
85,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,March,19,437504.0,5
86,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,March,26,368286.0,6
87,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,August,30,5021944.0,7
88,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,September,6,5098344.0,7
89,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,September,20,3555962.0,8
90,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,October,4,2010187.0,8
91,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,October,11,1975240.0,9
92,1916458,Ghost Dog: The Way of the Samurai,32416230.0,2000,November,8,732926.0,9
93,1916458,Ghost Dog: The Way of the Samurai,5418017.0,2001,September,13,4352699.0,10
94,1916458,Ghost Dog: The Way of the Samurai,5418017.0,2001,October,18,853368.0,10
95,1924323,Good Luck Chuck,29303032.0,2007,September,23,13652001.0,1
96,1924323,Good Luck Chuck,29303032.0,2007,October,21,738143.0,1
97,1924323,Good Luck Chuck,29303032.0,2007,November,11,1316325.0,2
98,1924323,Good Luck Chuck,29303032.0,2007,November,25,511171.0,2
99,1926073,Grace Is Gone,24576.0,2007,December,9,13880.0,1